.cs-main-header---debug .cs-main-header__title {
  background-color: #f00;
}

.cs-main-header---debug .cs-main-header__button-parent {
  background-color: #0f0;
}

.cs-main-header---debug .cs-main-header__buttons {
  background-color: purple;
}
