@import 'csuite.fonts.css';

:root {
  /* COLORS */
  /* Semantic Colors */
  --cs-primary-base: #00c472;
  --cs-primary-dark: #007b47;
  --cs-primary-light: #5fe0aa;
  --cs-primary-lightest: #e5f9f1;
  --cs-primary-contrast: #ffffff;

  --cs-secondary-base: #040621;
  --cs-secondary-dark: #020414;
  --cs-secondary-light: #1b2633;
  --cs-secondary-lightest: #87939b;
  --cs-secondary-contrast: #ffffff;

  --cs-accent-base: #3dafd1;
  --cs-accent-dark: #007ea3;
  --cs-accent-light: #8cddf5;
  --cs-accent-lightest: #ebf7fb;
  --cs-accent-contrast: #ffffff;

  --cs-default-base: #b5c0c7;
  --cs-default-dark: #87939b;
  --cs-default-light: #e6eaea;
  --cs-default-lightest: #f5f7f6;
  --cs-default-contrast: #ffffff;

  --cs-success-base: #00c472;
  --cs-success-dark: #007b47;
  --cs-success-light: #5fe0aa;
  --cs-success-lightest: #e5f9f1;
  --cs-success-contrast: #ffffff;

  --cs-info-base: #3dafd1;
  --cs-info-dark: #007ea3;
  --cs-info-light: #8cddf5;
  --cs-info-lightest: #ebf7fb;
  --cs-info-contrast: #ffffff;

  --cs-danger-base: #d43131;
  --cs-danger-dark: #a70202;
  --cs-danger-light: #e25d5d;
  --cs-danger-lightest: #ffe2e2;
  --cs-danger-contrast: #ffffff;

  --cs-warning-base: #e8bb28;
  --cs-warning-dark: #c6ab1e;
  --cs-warning-light: #f5e27c;
  --cs-warning-lightest: #fff9d6;
  --cs-warning-contrast: #ffffff;

  /* Greys */
  --cs-gray-00: #ffffff;
  --cs-gray-01: #f5f7f6;
  --cs-gray-02: #e6eaea;
  --cs-gray-03: #b5c0c7;
  --cs-gray-04: #87939b;
  --cs-gray-05: #47535a;
  --cs-gray-06: #1b2633;
  --cs-gray-07: #040621;
  --cs-gray-08: #000000;

  --cs-white: #ffffff;
  --cs-black: #000000;

  /* TYPOGRAPHY */
  /* Font Family */
  --cs-font-primary: 'Roboto';
  --cs-font-secondary: 'Roboto';

  /* Font Size */
  --cs-font-size-10: 10px;
  --cs-font-size-50: 12px;
  --cs-font-size-100: 14px;
  --cs-font-size-200: 16px;
  --cs-font-size-300: 18px;
  --cs-font-size-400: 20px;
  --cs-font-size-500: 22px;
}

@media (min-width: 768px) {
  :root {
    --cs-font-size-10: 12px;
    --cs-font-size-50: 14px;
    --cs-font-size-100: 16px;
    --cs-font-size-200: 20px;
    --cs-font-size-300: 24px;
    --cs-font-size-400: 28px;
    --cs-font-size-500: 32px;
  }
}

:root {
  /* Line-height */
  --cs-line-height-small: 1.25;
  --cs-line-height-base: 1.5;
  --cs-line-height-medium: 1.65;
  --cs-line-height-normal: 1.35;

  /* Font Weight */
  --cs-font-weight-base: 400;
  --cs-font-weight-medium: 500;
  --cs-font-weight-bold: 700;
  --cs-font-weight-black: 900;

  /* Text Transformation */
  --cs-transform-upper: uppercase;

  /* LAYOUTS */
  /* Page Layout */
  --cs-page-margin-y-top: 32px;
  --cs-page-margin-y-bottom: 40px;
  --cs-page-margin-x: 20px;

  /* Headings */
  --cs-heading-margin-small: 16px;
  --cs-heading-margin-medium: 20px;
  --cs-heading-margin-large: 24px;

  /* Paragraphs */
  --cs-paragraph-margin-y-top: 5px;
  --cs-paragraph-margin-y-bottom: 12px;

  /* Cards */
  --cs-card-border-radius: 5px;
  --cs-card-padding-x: 16px;
  --cs-card-padding-y: 16px;
  --cs-card-margin-x: 10px;
  --cs-card-margin-y: 10px;
  --cs-card-content-margin-y: 16px;
  --cs-avatar-margin-x-right: 16px;
  --cs-message-padding-x: 12px;
  --cs-message-padding-y: 12px;
  --cs-message-margin-y-top: 8px;
  --cs-message-margin-y-bottom: 16px;

  /* Forms */
  --cs-input-border-radius: 3px;
  --cs-form-label-margin-y-bottom: 8px;
  --cs-form-input-margin-y: 25px;
  --cs-form-input-padding-x: 12px;
  --cs-form-input-padding-y: 12px;
  --cs-form-checkbox-margin-x: 8px;
  --cs-button-padding-x: 20px;
  --cs-button-padding-y: 10px;
  --cs-button-margin-x: 16px;
  --cs-button-margin-y: 25px;

  /* Nav/Tab */
  --cs-nav-padding-x: 15px;
  --cs-nav-padding-y: 8px;
  --cs-nav-margin-x: 5px;
  --cs-navtab-padding-x: 20px;
  --cs-navtab-padding-y: 10px;
}

@media (min-width: 768px) {
  :root {
    /* Page Layout */
    --cs-page-margin-y-top: 56px;
    --cs-page-margin-y-bottom: 96px;

    /* Headings */
    --cs-heading-margin-small: 16px;
    --cs-heading-margin-medium: 24px;
    --cs-heading-margin-large: 32px;

    /* Paragraphs */
    --cs-paragraph-margin-y-top: 8px;
    --cs-paragraph-margin-y-bottom: 15px;

    /* Cards */
    --cs-card-padding-x: 20px;
    --cs-card-padding-y: 20px;
    --cs-card-margin-x: 16px;
    --cs-card-margin-y: 20px;
    --cs-card-content-margin-y: 16px;
    --cs-avatar-margin-x-right: 20px;
    --cs-message-padding-x: 16px;
    --cs-message-padding-y: 16px;
    --cs-message-margin-y-top: 8px;
    --cs-message-margin-y-bottom: 16px;

    /* Forms */
    --cs-form-label-margin-y-bottom: 8px;
    --cs-form-input-margin-y: 30px;
    --cs-form-input-padding-x: 12px;
    --cs-form-input-padding-y: 12px;
    --cs-form-checkbox-margin-x:8px;
    --cs-button-padding-x: 24px;
    --cs-button-padding-y: 12px;
    --cs-button-margin-x: 16px;
    --cs-button-margin-y: 30px;

    /* Nav/Tab */
    --cs-nav-padding-x: 20px;
    --cs-nav-padding-y: 10px;
    --cs-nav-margin-x: 10px;
    --cs-navtab-padding-x: 35px;
    --cs-navtab-padding-y: 15px;
  }
}
