@import 'csuite.variables.css';
@import '../icons/css/styles.css';

/* Elements */
body {
  font-family: var(--cs-font-primary);
  padding: 0 var(--cs-page-margin-x);
}

h1 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-500);
  font-weight: var(--cs-font-weight-black);
  line-height: var(--cs-line-height-small);
}
h2 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-400);
  font-weight: var(--cs-font-weight-black);
  line-height: var(--cs-line-height-small);
}
h3 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-300);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-small);
}
h4 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-200);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-normal);
}
h5 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-small);
}
h6 {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-50);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
  text-transform: var(--cs-transform-upper);
}
p {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
a {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}
li {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
input {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-medium);
}
textarea {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-medium);
}
select {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-medium);
}
button {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}

/* CLASSES */
/* Headings */
.cs-textstyle-page-title {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-500);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-small);
}
.cs-textstyle-page-subtitle {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-400);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-small);
}
.cs-textstyle-section-heading {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-300);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-small);
}
.cs-textstyle-item-heading {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-200);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-normal);
}
.cs-textstyle-detail-heading {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}

/* Body */
.cs-textstyle-informative-paragraph {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-200);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-informative-paragraph-bold {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-200);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph-bold {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph-small {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-50);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph-small-bold {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-50);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph-extra-small {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-10);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-paragraph-extra-small-bold {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-10);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-link-text {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}

/* Lists */
.cs-textstyle-item-name {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-nav-main-link {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-200);
  font-weight: var(--cs-font-weight-medium);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-nav-sub-link {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-medium);
  line-height: var(--cs-line-height-medium);
}
.cs-textstyle-tags {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-10);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-base);
  text-transform: var(--cs-transform-upper);
}
.cs-textstyle-category-tags {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-50);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
  text-transform: var(--cs-transform-upper);
}

/* Forms */
.cs-textstyle-label-text {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-medium);
  line-height: var(--cs-line-height-base);
}
.cs-textstyle-input-text {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-base);
  line-height: var(--cs-line-height-medium);
}
.cs-textstyle-button-text {
  font-family: var(--cs-font-primary);
  font-size: var(--cs-font-size-100);
  font-weight: var(--cs-font-weight-bold);
  line-height: var(--cs-line-height-base);
}

.cs-textstyle-button-text.small {
  font-size: var(--cs-font-size-50);
}

.cs-textstyle-button-text.large {
  font-size: var(--cs-font-size-200);
}
