/* Primary Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-500italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-700italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-900.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  src: url('../fonts/roboto/roboto-v20-latin-900italic.woff2') format('woff2');
}
