<template>
  <button
    :class="[
      'cs-textstyle-button-text',
      'cs-action-bar-button',
      { 'cs-action-bar-button__highlighted': highlighted },
    ]"
  >
    <slot name="icon">
      <i :class="icon"></i>
    </slot>
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    highlighted: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
    },
  },
};
</script>

<style scoped>
.cs-action-bar-button {
  --cs-action-button-color: transparent;
  --cs-action-button-text-color: var(--cs-gray-04);
  background-color: var(--cs-action-button-color);
  border-color: transparent;
  color: var(--cs-action-button-text-color);
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  padding: 8px;
  height: 30px;
}

/*  BOOLEANS  */
.cs-action-bar-button__highlighted {
  --cs-action-button-highlight-color: var(--cs-primary-base);
  color: var(--cs-action-button-highlight-color);
}

/** Default Styling for embedded icons */
.cs-action-bar-button i {
  font-size: 20px;
  margin-right: 3px;
}

@media (max-width: 768px) {
  .cs-action-bar-button i {
    font-size: 16px;
  }
}
</style>
