<template>
  <div class="cs-action-bar">
    <div class="cs-action-bar__button cs-textstyle-button-text">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style scoped>
.cs-action-bar {
  --cs-action-bar-color: var(--cs-gray-00);
  height: 50px;
  box-sizing: border-box;
  background-color: var(--cs-action-bar-color);
  padding: 14px 16px;
  box-shadow: 0px 1px 2px #0000000d;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cs-action-bar__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cs-gray-03);
}

.cs-action-bar__button > * {
  cursor: pointer;
}

/** Default styling support when using cs-button */
.cs-action-bar__button >>> .cs-button i {
  font-size: 20px;
  margin-right: 3px;
}
.cs-action-bar__button >>> .cs-button i + * {
  padding: 0;
}

.cs-action-bar__button >>> .cs-button {
  padding: 5px;
}

@media (min-width: 768px) {
  .cs-action-bar {
    height: 54px;
  }
}
</style>
