<template>
  <div :class="['cs-alert', 'cs-alert--' + variant]">
    <div class="cs-alert__wrapper">
      <div v-if="!!showIcon" class="cs-alert__icon">
        <slot name="icon">
          <i v-if="icon" :class="icon" />
          <template v-else>
            <i v-if="variant === 'default'" class="cs-icons-clock" />
            <i v-if="variant === 'success'" class="cs-icons-check-success" />
            <i v-if="variant === 'warning'" class="cs-icons-warning" />
            <i v-if="variant === 'danger'" class="cs-icons-error" />
            <i v-if="variant === 'info'" class="cs-icons-info" />
          </template>
        </slot>
      </div>
      <div class="cs-alert__body">
        <div
          v-if="title || $slots.title"
          class="cs-alert__title cs-textstyle-paragraph-small-bold"
        >
          <slot name="title">
            {{ title }}
          </slot>
        </div>
        <div
          v-if="$slots.default"
          class="cs-alert__default-content cs-textstyle-paragraph-small"
        >
          <slot />
        </div>
        <p
          v-if="content || $slots.content"
          class="cs-alert__content cs-textstyle-paragraph-small"
        >
          <slot name="content">
            {{ content }}
          </slot>
        </p>
      </div>
      <div v-if="canClose" class="cs-alert__close-icon" @click="close()">
        <slot name="close-icon">
          <i :class="closeIcon" />
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import { variantValidator } from '@/utils/validators';

export default {
  props: {
    title: {
      type: String,
    },
    content: {
      type: String,
    },
    variant: {
      type: String,
      default: 'default',
      validator: variantValidator,
    },
    icon: {
      type: String,
    },
    showIcon: {
      type: Boolean,
      default: false,
    },
    canClose: {
      type: Boolean,
      default: false,
    },
    closeIcon: {
      type: String,
      default: 'cs-icons-close-filled',
    },
  },
  methods: {
    close() {
      this.$el.classList.add('cs-alert--closing');
      setTimeout(() => {
        this.$emit('close');
        this.$el.remove();
      }, 300);
    },
  },
};
</script>

<style scoped>
.cs-alert {
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  margin-bottom: var(--cs-card-margin-y);
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transition: transform 0.3s, opacity 0.3s;
}

.cs-alert--closing {
  opacity: 0;
  transform-origin: top;
  transform: scale3d(1, 0, 1);
}

.cs-alert__wrapper {
  display: flex;
}

.cs-alert__body {
  flex: 1;
}

.cs-alert__title {
  margin: 0 0 5px 0;
  color: var(--cs-gray-07);
}

.cs-alert__default-content {
  color: var(--cs-gray-07);
}

.cs-alert__content {
  color: var(--cs-gray-05);
  margin: 0;
}

.cs-alert__icon i {
  font-size: 22px;
  width: 22px;
  margin-top: -2px;
  margin-right: 10px;
}

.cs-alert__close-icon {
  color: var(--cs-gray-04);
  font-size: 16px;
  height: 30px;
  width: 30px;
  padding-top: 5px;
  margin-top: -5px;
  margin-right: -5px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.cs-alert--default {
  background-color: var(--cs-gray-02);
  border-left-color: var(--cs-gray-04);
}
.cs-alert--default .cs-alert__icon {
  color: var(--cs-gray-04);
}

.cs-alert--primary {
  background-color: var(--cs-primary-lightest);
  border-left-color: var(--cs-primary-base);
}
.cs-alert--primary .cs-alert__icon {
  color: var(--cs-primary-base);
}

.cs-alert--secondary {
  background-color: var(--cs-secondary-lightest);
  border-left-color: var(--cs-secondary-base);
}
.cs-alert--secondary .cs-alert__icon {
  color: var(--cs-secondary-base);
}
.cs-alert--secondary .cs-alert__content {
  color: var(--cs-gray-06);
}

.cs-alert--success {
  background-color: var(--cs-success-lightest);
  border-left-color: var(--cs-success-base);
}
.cs-alert--success .cs-alert__icon {
  color: var(--cs-success-base);
}

.cs-alert--warning {
  background-color: var(--cs-warning-lightest);
  border-left-color: var(--cs-warning-base);
}
.cs-alert--warning .cs-alert__icon {
  color: var(--cs-warning-base);
}

.cs-alert--danger {
  background-color: var(--cs-danger-lightest);
  border-left-color: var(--cs-danger-base);
}
.cs-alert--danger .cs-alert__icon {
  color: var(--cs-danger-base);
}

.cs-alert--info {
  background-color: var(--cs-info-lightest);
  border-left-color: var(--cs-info-base);
}
.cs-alert--info .cs-alert__icon {
  color: var(--cs-info-base);
}
</style>
