<template>
  <div
    :class="[
      'cs-article-card',
      {
        'cs-article-card--no-picture': !picture,
        'cs-article-card--has-icon': $slots.mediaIcon || mediaIcon,
      },
      layoutSizeClass,
    ]"
  >
    <cs-card
      v-bind="$attrs"
      :media-position="picturePosition"
      :media-padding="picturePadding"
      :no-divider="hideDivider"
      class="cs-article-card__base"
    >
      <div v-if="picture" slot="media" class="cs-article-card__picture-holder">
        <img class="cs-article-card__picture" :src="picture" />
        <div class="cs-article-card__picture-icon">
          <slot name="media-icon">
            <i :class="mediaIcon" />
          </slot>
        </div>
      </div>

      <div slot="header">
        <div v-if="tags.length > 0" class="cs-article-card__tags">
          <cs-small-tag
            v-for="(tag, $index) in tags"
            :key="$index"
            class="cs-article-card__tags-tag"
            >{{ tag }}</cs-small-tag
          >
        </div>
        <div class="cs-article-card__title-holder">
          <div class="cs-textstyle-item-heading cs-article-card__title">
            {{ title }}

            <div
              v-if="!picture && ($slots['media-icon'] || mediaIcon)"
              class="cs-article-card__summary-icon"
            >
              <slot name="media-icon">
                <i :class="mediaIcon" />
              </slot>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="summary || (mediaIcon && !picture)"
        slot="body"
        class="cs-article-card__body"
      >
        <div
          v-if="summary"
          class="cs-textstyle-paragraph cs-article-card__summary"
        >
          {{ summary }}
        </div>
      </div>
      <div
        v-if="$slots.options || author || authorPicture || date || duration"
        slot="footer"
        class="cs-article-card__footer"
        :class="{
          'cs-article-card__footer--picture-left': pictureLeft,
          'cs-article-card__footer--with-options': $slots.options,
          'cs-article-card__footer--picture-left-override':
            pictureLeft && $slots.options && $slots.options.length === 1,
        }"
      >
        <div
          v-if="author || authorPicture || date || duration"
          class="cs-article-card__footer-info"
        >
          <div v-if="authorPicture" class="cs-article-card__footer-info-avatar">
            <cs-avatar
              :picture="authorPicture"
              :name="author"
              size="small"
              :style="{
                '--cs-avatar-size': '35px',
              }"
            ></cs-avatar>
          </div>
          <div class="cs-article-card__footer-info-details">
            <div
              v-if="author"
              class="cs-textstyle-paragraph-small-bold cs-article-card__author"
            >
              {{ author }}
            </div>
            <div
              class="cs-textstyle-paragraph-small cs-article-card__date-duration"
              :class="{ 'cs-article-card__date-duration--no-author': !author }"
            >
              <span class="cs-article-card__date">{{ formattedDate }}</span>
              <span
                v-if="date && duration && author"
                class="cs-article-card__date-duration-centerdot"
                >&centerdot;</span
              >
              <span v-if="duration" class="cs-article-card__duration">{{
                duration
              }}</span>
            </div>
          </div>
        </div>
        <div v-if="$slots.options" class="cs-article-card__options">
          <slot name="options"> </slot>
        </div>
      </div>
    </cs-card>
  </div>
</template>

<script>
import CsCard from '@/components/Card.vue';
import CsSmallTag from '@/components/SmallTag.vue';
import CsAvatar from '@/components/Avatar.vue';
import layoutMixin from '@/mixins/layout';

export default {
  components: {
    CsCard,
    CsSmallTag,
    CsAvatar,
  },
  mixins: [layoutMixin],
  props: {
    title: {
      type: String,
      required: true,
    },
    summary: {
      type: String,
      default: null,
    },
    picture: {
      type: String,
      default: null,
    },
    mediaIcon: {
      type: String,
      default: null,
    },
    picturePadding: {
      type: Boolean,
      default: false,
    },
    picturePosition: {
      type: String,
      default: 'left',
      validator(x) {
        return ['top', 'left'].indexOf(x) !== -1;
      },
    },
    date: {
      type: [Date, String, Number],
      default: null,
    },
    duration: {
      type: String,
      default: null,
    },
    author: {
      type: String,
      default: null,
    },
    authorPicture: {
      type: String,
      default: null,
    },
    hideDivider: {
      type: Boolean,
      default: false,
    },
    tags: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    formattedDate() {
      if (!this.date) return '';
      const date = new Date(this.date);
      return `${date.getDate()} ${date.toDateString().split(' ')[1]}`;
    },
    pictureLeft() {
      return this.picture && this.picturePosition === 'left';
    },
  },
};
</script>
<style scoped>
.cs-article-card {
  ---cs-article-media-width-desktop: 200px;
  ---cs-article-media-width-mobile: 100px;
  ---cs-article-media-height-desktop: 200px;
  ---cs-article-media-height-mobile: 150px;
  ---cs-article-avatar-margin: 6px;
  ---cs-article-avatar-size: 35px;
  ---cs-article-tag-background: var(--cs-gray-04);
  ---cs-article-tag-text-color: var(--cs-gray-00);
}

/* MEDIA */
.cs-article-card__picture-holder {
  position: relative;
}
.cs-article-card__picture-holder * {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cs-article-card__base >>> .cs-card__media--top {
  height: var(---cs-article-media-height-desktop);
}

.cs-article-card__picture-icon {
  object-fit: unset;
  height: unset;
  width: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cs-gray-00);
  font-size: 30px;
}

/* HEADER */
.cs-article-card__tags {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: var(--cs-card-content-margin-y);
}

.cs-article-card__tags-tag {
  margin-right: 4px;
  display: inline-block;
}

.cs-article-card__title-holder {
  display: flex;
}
.cs-article-card__title {
  flex: 1;
  min-width: 0;
  color: var(--cs-gray-07);
}

.cs-article-card__title-holder .cs-article-card__summary-icon >>> i {
  color: var(--cs-gray-07);
  font-size: 20px;
}
.cs-article-card__title-holder .cs-article-card__summary-icon {
  display: inline;
}

.cs-article-card .cs-article-card__tags >>> .cs-small-tag {
  ---cs-small-tag-background: var(---cs-article-tag-background);
  ---cs-small-tag-text-color: var(---cs-article-tag-text-color);
}

/* BODY */
.cs-article-card__body {
  display: flex;
}

.cs-article-card__summary {
  color: var(--cs-gray-07);
}

/* FOOTER */
.cs-article-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.cs-article-card__author {
  color: var(--cs-gray-04);
  padding-right: 8px;
}
.cs-article-card__date-duration {
  color: var(--cs-gray-04);
}
.cs-article-card__date-duration-centerdot {
  padding: 5px;
}
.cs-article-card__date-duration--no-author {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.cs-article-card__footer-info,
.cs-article-card__options {
  display: flex;
}
.cs-article-card__footer:not(.cs-article-card__footer--with-options)
  .cs-article-card__footer-info,
.cs-article-card__footer .cs-article-card__options {
  align-items: center;
}
.cs-article-card__footer-info-avatar ~ .cs-article-card__footer-info-details {
  margin-left: var(---cs-article-avatar-margin);
}
.cs-article-card__footer:not(.cs-article-card__footer--with-options)
  .cs-article-card__footer-info-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.cs-article-card__footer:not(.cs-article-card__footer--with-options)
  .cs-article-card__footer-info {
  width: 100%;
}
.cs-article-card__options >>> i {
  font-size: 20px;
  color: var(--cs-gray-03);
  margin-left: 8px;
}
.cs-article-card__footer.cs-article-card__footer--with-options
  .cs-article-card__options
  >>> *:first-child {
  margin-left: 0px;
}

/* Mobile only */
.cs-article-card--layout-small
  .cs-article-card__base
  >>> .cs-card__media--left {
  width: var(---cs-article-media-width-mobile);
}
.cs-article-card--layout-small .cs-article-card__base >>> .cs-card__media--top {
  height: var(---cs-article-media-height-mobile);
}
.cs-article-card--layout-small
  .cs-article-card__footer
  .cs-article-card__options {
  align-items: baseline;
}

.cs-article-card--layout-small.cs-article-card:not(.cs-article-card--no-picture)
  .cs-article-card__footer--picture-left {
  flex-direction: column;
}
.cs-article-card--layout-small.cs-article-card:not(.cs-article-card--no-picture)
  .cs-article-card__footer--picture-left.cs-article-card__footer--picture-left-override {
  flex-direction: row;
}
.cs-article-card--layout-small.cs-article-card:not(.cs-article-card--no-picture)
  .cs-article-card__footer--picture-left
  > div:not(:first-child) {
  margin-top: var(--cs-card-content-margin-y);
}
.cs-article-card--layout-small.cs-article-card:not(.cs-article-card--no-picture)
  .cs-article-card__footer--picture-left.cs-article-card__footer--picture-left-override
  > div:not(:first-child) {
  margin-top: 0;
}

.cs-article-card--layout-medium
  .cs-article-card__base
  >>> .cs-card__media--left,
.cs-article-card--layout-large
  .cs-article-card__base
  >>> .cs-card__media--left {
  width: var(---cs-article-media-width-desktop);
}
</style>
