<template>
  <div
    v-show="src"
    :class="[
      'audio-player',
      {
        'audio-player-transparent': transparent,
      },
    ]"
  >
    <div v-if="!error">
      <div class="audio-player__music-info">
        <span class="cs-textstyle-detail-heading">{{ title }}</span>
        <div
          ref="progresscontain"
          class="audio-player__progress-container"
          @click="setProgress"
        >
          <div ref="progress" class="audio-player__progress"></div>
        </div>
        <div class="audio-player__durations">
          <div>{{ currentTime }}</div>
          <div>{{ durationTime }}</div>
        </div>
      </div>
      <audio
        ref="audio"
        preload="auto"
        :src="src"
        @durationchange="updateDuration"
        @timeupdate="updateProgress"
        @error="onError"
        v-on="audioEvents"
      ></audio>
      <div class="audio-player__navigation">
        <i
          class="cs-icons-rewind-filled audio-player__action-btn"
          @click="backward"
        />
        <i
          v-if="!isPlaying"
          key="playbutton"
          class="cs-icons-audio-filled audio-player__action-btn audio-player__action-btn-big"
          @click="play"
        />
        <i
          v-else
          key="pausebutton"
          class="cs-icons-pause-filled audio-player__action-btn audio-player__action-btn-big"
          @click="play"
        />
        <i
          class="cs-icons-forward-filled audio-player__action-btn"
          @click="forward"
        />
      </div>
    </div>
    <div v-if="error" class="audio-player__error">{{ errorLabel }}</div>
  </div>
</template>

<script>
const convertTimeHHMMSS = (val) => {
  val = val || 0;
  const hhmmss = new Date(val * 1000).toISOString().substr(11, 8);
  return hhmmss.indexOf('00:') === 0 ? hhmmss.substr(3) : hhmmss;
};
export default {
  props: {
    src: {
      type: String,
    },
    title: {
      type: String,
    },
    seekTime: {
      type: Number,
      default: 10,
    },
    errorLabel: {
      type: String,
      default: 'Error loading audio',
    },
    transparent: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      currentSeconds: 0,
      durationSeconds: 0,
      isPlaying: false,
      error: false,
      audioEvents: {
        audioprocess: this.onEvent,
        canplay: this.onEvent,
        canplaythrough: this.onEvent,
        complete: this.onEvent,
        durationchange: this.onEvent,
        emptied: this.onEvent,
        ended: this.onEvent,
        loadeddata: this.onEvent,
        loadedmetadata: this.onEvent,
        pause: this.onEvent,
        play: this.onEvent,
        playing: this.onEvent,
        ratechange: this.onEvent,
        seeked: this.onEvent,
        seeking: this.onEvent,
        stalled: this.onEvent,
        suspend: this.onEvent,
        timeupdate: this.onEvent,
        volumechange: this.onEvent,
        waiting: this.onEvent,
      },
    };
  },
  computed: {
    currentTime() {
      return convertTimeHHMMSS(this.currentSeconds);
    },
    durationTime() {
      return convertTimeHHMMSS(this.durationSeconds);
    },
  },
  watch: {
    src() {
      this.error = false;
    },
  },
  methods: {
    backward() {
      this.$refs.audio.currentTime -= this.seekTime;
    },
    forward() {
      this.$refs.audio.currentTime += this.seekTime;
    },
    play() {
      if (this.$refs.audio.paused) {
        this.$refs.audio.play();
        this.isPlaying = true;
        this.durationSeconds = parseInt(this.$refs.audio.duration, 10);
      } else {
        this.$refs.audio.pause();
        const sounds = document.getElementsByTagName('audio');
        for (let i = 0; i < sounds.length; i += 1) sounds[i].pause();
        this.isPlaying = false;
      }
    },
    setProgress(e) {
      const width = this.$refs.progresscontain.clientWidth;
      const clickX = e.offsetX;
      const { duration } = this.$refs.audio;
      this.$refs.audio.currentTime = (clickX / width) * duration;
    },
    updateProgress(e) {
      const { duration, currentTime } = e.srcElement;
      const progressPercent = (currentTime / duration) * 100;
      if (this.$refs.progress)
        this.$refs.progress.style.width = `${progressPercent}%`;
      if (this.$refs.audio)
        this.currentSeconds = parseInt(this.$refs.audio.currentTime, 10);
      if (!this.$refs.audio || this.$refs.audio.ended) {
        this.isPlaying = false;
      }
    },
    updateDuration() {
      this.durationSeconds = parseInt(this.$refs.audio.duration, 10);
    },
    onError() {
      this.error = true;
      this.$emit(
        'error',
        'Problem loading the audio. Please provide valid source'
      );
    },
    onEvent($event) {
      this.$emit($event.type, $event);
    },
  },
};
</script>

<style>
.audio-player {
  background: var(--cs-gray-01);
  border: 1px solid var(--cs-gray-02);
  border-radius: var(--cs-card-border-radius);
  display: flex;
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  position: relative;
  flex-direction: column;
}
.audio-player .audio-player__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-player .audio-player__action-btn {
  background: transparent;
  border: 0;
  color: var(--cs-gray-06);
  font-size: 25px;
  cursor: pointer;
  padding: 0;
  margin: 0 20px;
  display: inline-block;
}
.audio-player .audio-player__action-btn.audio-player__action-btn-big {
  font-size: 40px;
}

.audio-player .audio-player__action-btn:focus {
  outline: 0;
}
.audio-player .audio-player__music-info {
  display: flex;
  flex-direction: column;
}

.audio-player .audio-player__progress-container {
  background: var(--cs-gray-03);
  cursor: pointer;
  margin: 12px 0 4px 0;
  height: 4px;
  width: 100%;
  display: flex;
}
.audio-player .audio-player__progress {
  background: var(--cs-gray-05);
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
.audio-player .audio-player__durations {
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}
.audio-player .audio-player__error {
  color: var(--cs-danger-base);
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.audio-player.audio-player-transparent {
  background: transparent;
  border-color: transparent;
}
</style>
