<template>
  <div :class="['cs-avatar', 'cs-avatar--' + size, 'cs-avatar--' + variant]">
    <span class="cs-avatar__letters">{{ initial }}</span>
    <img v-if="picture" :src="picture" class="cs-avatar__image" />
  </div>
</template>

<script>
import { variantValidator, sizeValidator } from '@/utils/validators';

export default {
  props: {
    picture: {
      type: String,
    },
    name: {
      type: String,
    },
    variant: {
      type: String,
      default: 'primary',
      validator: variantValidator,
    },
    size: {
      type: String,
      default: 'medium',
      validator: sizeValidator,
    },
  },
  computed: {
    initial() {
      if (!this.name) {
        return '';
      }
      const initials = this.name.match(/\b\w/g) || [];
      return ((initials.shift() || '') + (initials.pop() || '')).toUpperCase();
    },
  },
};
</script>

<style scoped>
.cs-avatar {
  --cs-avatar-color: var(--cs-primary-base);
  --cs-avatar-font-color: var(--cs-gray-00);
  --cs-avatar-size: 55px;
  --cs-avatar-font-size: 14px;
  --cs-avatar-border-width: 2px;
  height: var(--cs-avatar-size);
  width: var(--cs-avatar-size);
  font-size: var(--cs-avatar-font-size);
  font-weight: var(--cs-font-weight-bold);
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.cs-avatar--small {
  --cs-avatar-size: 35px;
  --cs-avatar-font-size: 12px;
  --cs-avatar-border-width: 1px;
}
.cs-avatar--medium {
  --cs-avatar-size: 55px;
  --cs-avatar-font-size: 16px;
  --cs-avatar-border-width: 2px;
}
.cs-avatar--large {
  --cs-avatar-size: 85px;
  --cs-avatar-font-size: 22px;
  --cs-avatar-border-width: 3px;
}

.cs-avatar__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.cs-avatar__letters {
  background-color: var(--cs-avatar-color);
  color: var(--cs-avatar-font-color);
  border: solid var(--cs-avatar-border-width) var(--cs-gray-00);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-avatar--primary {
  --cs-avatar-color: var(--cs-primary-base);
  --cs-avatar-font-color: var(--cs-primary-contrast);
}
.cs-avatar--secondary {
  --cs-avatar-color: var(--cs-secondary-base);
  --cs-avatar-font-color: var(--cs-secondary-contrast);
}
.cs-avatar--danger {
  --cs-avatar-color: var(--cs-danger-base);
  --cs-avatar-font-color: var(--cs-danger-contrast);
}
.cs-avatar--warning {
  --cs-avatar-color: var(--cs-warning-base);
  --cs-avatar-font-color: var(--cs-warning-contrast);
}
.cs-avatar--success {
  --cs-avatar-color: var(--cs-success-base);
  --cs-avatar-font-color: var(--cs-success-contrast);
}
.cs-avatar--info {
  --cs-avatar-color: var(--cs-info-base);
  --cs-avatar-font-color: var(--cs-info-contrast);
}
.cs-avatar--default {
  --cs-avatar-color: var(--cs-default-base);
  --cs-avatar-font-color: var(--cs-default-contrast);
}
</style>
