<template>
  <div
    class="cs-avatar-list"
    :class="[
      'cs-avatar-list',
      'cs-avatar-list--' + size,
      'cs-avatar-list--' + variant,
    ]"
  >
    <cs-avatar
      v-for="(user, $index) in maxUserList"
      :key="$index"
      class="cs-avatar-list__avatar"
      :class="{ 'cs-avatar-list__clickable': $listeners['user-click'] }"
      :name="user.name"
      :picture="user.picture"
      :size="size"
      :variant="variant"
      @click="selectUser(user)"
    ></cs-avatar>
    <span
      v-if="totalUserCountCompute > max && userList.length > max"
      class="cs-avatar-list__avatar cs-avatar-list__avatar-more"
      :class="{ 'cs-avatar-list__clickable': $listeners['more-profiles'] }"
      @click="selectMore"
    >
      {{ totalUserCountCompute - max }}+
    </span>
    <!-- TODO: this sections seem almost identical.  Surely adjusting the compute property to show a better result would be more efficient? -->
    <span
      v-if="totalUserCountCompute > max && userList.length < max"
      class="cs-avatar-list__avatar cs-avatar-list__avatar-more"
      :class="{ 'cs-avatar-list__clickable': $listeners['more-profiles'] }"
      @click="selectMore"
    >
      {{ totalUserCountCompute - userList.length }}+
    </span>
  </div>
</template>

<script>
import CsAvatar from '@/components/Avatar.vue';
import { variantValidator, sizeValidator } from '@/utils/validators';

export default {
  name: 'AvatarList',
  components: { CsAvatar },
  props: {
    userList: {
      type: Array,
      default: null,
    },
    totalUserCount: {
      type: Number,
    },
    variant: {
      type: String,
      validator: variantValidator,
    },
    size: {
      type: String,
      default: 'medium',
      validator: sizeValidator,
    },
    max: {
      type: Number,
      default: null,
      validator(x) {
        return x > -1;
      },
    },
  },
  computed: {
    totalUserCountCompute() {
      return (
        this.totalUserCount || (this.userList && this.userList.length) || 0
      );
    },
    maxUserList() {
      if (this.userList && this.max != null) {
        return this.userList.slice(0, this.max);
      }
      return this.userList;
    },
  },
  methods: {
    selectUser(user) {
      this.$emit('user-click', user);
    },
    selectMore() {
      this.$emit('more-profiles');
    },
  },
};
</script>

<style>
.cs-avatar-list {
  --cs-avatar-list-size: 55px;
  --cs-avatar-list-color: var(--cs-primary-base);
  --cs-avatar-list-font-size: 14px;
  --cs-avatar-list-font-color: var(--cs-gray-00);
  --cs-avatar-list-border-color: var(--cs-gray-00);
  --cs-avatar-list-border-width: 2px;
  --cs-avatar-list-negative-margin: -12px;
  display: inline-flex;
  flex-direction: row;
}
.cs-avatar-list .cs-avatar-list__avatar {
  --cs-avatar-size: var(--cs-avatar-list-size);
  --cs-avatar-color: var(--cs-avatar-list-color);
  --cs-avatar-font-size: var(--cs-avatar-list-font-size);
  --cs-avatar-font-color: var(--cs-avatar-list-font-color);
  --cs-avatar-border-width: 0;
  position: relative;
  border: var(--cs-avatar-list-border-width) solid
    var(--cs-avatar-list-border-color);
  background-color: var(--cs-avatar-list-border-color);
}
.cs-avatar-list__avatar:not(:first-child) {
  margin-left: var(--cs-avatar-list-negative-margin);
}
.cs-avatar-list .cs-avatar-list__avatar-more {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: default;
  height: var(--cs-avatar-list-size);
  width: var(--cs-avatar-list-size);
  background-color: var(--cs-default-lightest);
  border-width: var(--cs-avatar-list-border-width);
  font-size: var(--cs-avatar-list-font-size);
  font-weight: var(--cs-font-weight-bold);
  border-radius: 50%;
  overflow: hidden;
}

.cs-avatar-list .cs-avatar-list__clickable {
  cursor: pointer;
}

.cs-avatar-list--small {
  --cs-avatar-list-size: 35px;
  --cs-avatar-list-font-size: 12px;
  --cs-avatar-list-border-width: 1px;
  --cs-avatar-list-negative-margin: -5px;
}
.cs-avatar-list--medium {
  --cs-avatar-list-size: 55px;
  --cs-avatar-list-font-size: 16px;
  --cs-avatar-list-border-width: 2px;
  --cs-avatar-list-negative-margin: -12px;
}
.cs-avatar-list--large {
  --cs-avatar-list-size: 85px;
  --cs-avatar-list-font-size: 22px;
  --cs-avatar-list-border-width: 3px;
  --cs-avatar-list-negative-margin: -20px;
}

.cs-avatar-list--primary {
  --cs-avatar-list-color: var(--cs-primary-base);
  --cs-avatar-list-font-color: var(--cs-primary-contrast);
}
.cs-avatar-list--secondary {
  --cs-avatar-list-color: var(--cs-secondary-base);
  --cs-avatar-list-font-color: var(--cs-secondary-contrast);
}
.cs-avatar-list--success {
  --cs-avatar-list-color: var(--cs-success-base);
  --cs-avatar-list-font-color: var(--cs-success-contrast);
}

.cs-avatar-list--warning {
  --cs-avatar-list-color: var(--cs-warning-base);
  --cs-avatar-list-font-color: var(--cs-warning-contrast);
}

.cs-avatar-list--danger {
  --cs-avatar-list-color: var(--cs-danger-base);
  --cs-avatar-list-font-color: var(--cs-danger-contrast);
}

.cs-avatar-list--info {
  --cs-avatar-list-color: var(--cs-info-base);
  --cs-avatar-list-font-color: var(--cs-info-contrast);
}

.cs-avatar-list--default {
  --cs-avatar-list-color: var(--cs-default-base);
  --cs-avatar-list-font-color: var(--cs-default-contrast);
}
</style>
