<template>
  <span class="cs-badge" :class="'cs-badge--' + variant">
    {{ text }}
    <slot />
  </span>
</template>

<script>
import { variantValidator } from '@/utils/validators';

export default {
  props: {
    text: {
      type: String,
    },
    variant: {
      type: String,
      default: 'primary',
      validator: variantValidator,
    },
  },
};
</script>

<style scoped>
.cs-badge {
  --cs-badge-color: var(--cs-primary-base);
  --cs-badge-text-color: var(--cs-primary-contrast);
  --cs-badge-font-size: var(--cs-font-size-10);
  background-color: var(--cs-badge-color);
  color: var(--cs-badge-text-color);
  font-weight: var(--cs-font-weight-medium);
  font-size: var(--cs-badge-font-size);
  cursor: default;
  border-radius: var(--cs-badge-font-size);
  display: inline-block;
  min-width: calc(var(--cs-badge-font-size) * 2);
  min-height: calc(var(--cs-badge-font-size) * 2);
  line-height: calc(var(--cs-badge-font-size) * 2);
  text-align: center;
  padding: 0 calc(var(--cs-badge-font-size) * 0.4);
  box-sizing: border-box;
}
.cs-badge--primary {
  --cs-badge-color: var(--cs-primary-base);
  --cs-badge-text-color: var(--cs-primary-contrast);
}
.cs-badge--secondary {
  --cs-badge-color: var(--cs-secondary-base);
  --cs-badge-text-color: var(--cs-secondary-contrast);
}
.cs-badge--success {
  --cs-badge-color: var(--cs-success-base);
  --cs-badge-text-color: var(--cs-success-contrast);
}
.cs-badge--warning {
  --cs-badge-color: var(--cs-warning-base);
  --cs-badge-text-color: var(--cs-warning-contrast);
}
.cs-badge--danger {
  --cs-badge-color: var(--cs-danger-base);
  --cs-badge-text-color: var(--cs-danger-contrast);
}
.cs-badge--info {
  --cs-badge-color: var(--cs-info-base);
  --cs-badge-text-color: var(--cs-info-contrast);
}
.cs-badge--default {
  --cs-badge-color: var(--cs-default-base);
  --cs-badge-text-color: var(--cs-default-contrast);
}
</style>
