<template>
  <div
    class="cs-button-group"
    :class="{
      'cs-button-group--faded': fade && selectedValues.length,
      inline: !block,
      wrap: wrap,
    }"
  >
    <cs-button
      v-for="(button, $index) in buttons"
      :key="$index"
      class="cs-button-group__button"
      :class="{
        'cs-button-group__button--selected': getFilteredItems(
          selectedValues,
          button
        ).length,
      }"
      :size="size"
      :block="block"
      :fill="fill"
      corners="rounded"
      variant="primary"
      @click="buttonClick(button)"
    >
      {{ button.label || button.value }}
    </cs-button>
  </div>
</template>

<script>
import CsButton from '@/components/Button.vue';
import { sizeValidator, fillValidator } from '@/utils/validators';

export default {
  components: {
    CsButton,
  },
  props: {
    values: {
      type: Array,
      default: () => [],
    },
    buttons: {
      type: Array,
      required: true,
    },
    size: {
      type: String,
      validator: sizeValidator,
      default: 'medium',
    },
    block: {
      type: Boolean,
      default: false,
    },
    selectMultiple: {
      type: Boolean,
      default: false,
    },
    fade: {
      type: Boolean,
      default: false,
    },
    wrap: {
      type: Boolean,
      default: false,
    },
    fill: {
      type: String,
      default: 'solid',
      validator: fillValidator,
    },
  },

  data() {
    return {
      selectedValues: [],
    };
  },
  watch: {
    values() {
      this.selectedValues = this.values ?? [];
    },
  },
  mounted() {
    this.selectedValues = this.values ?? [];
  },
  methods: {
    buttonClick(button) {
      if (this.selectMultiple) {
        if (this.getFilteredItems(this.selectedValues, button).length) {
          const index = this.getIndex(this.selectedValues, button);
          this.selectedValues.splice(index, 1);
        } else {
          this.selectedValues.push(button);
        }
      } else {
        this.selectedValues = [button];
      }
      this.$emit('change', this.selectedValues);
      this.$emit('input', [button]);
    },
    getIndex(data, item) {
      return data.findIndex(
        (o) => o.label === item.label && o.value === item.value
      );
    },
    getFilteredItems(data, item) {
      return data.filter(
        (o) => o.label === item.label && o.value === item.value
      );
    },
  },
};
</script>

<style scoped>
.cs-button-group__button {
  margin-right: 8px;
  margin-bottom: 8px;
}
.cs-button-group__button:not(.cs-button-group__button--selected) {
  background-color: var(--cs-gray-02);
  border-color: var(--cs-gray-02);
  color: var(--cs-gray-07);
}
.cs-button-group__button:last-child {
  margin-right: 0px;
}
.cs-button-group.inline {
  display: flex;
}
.cs-button-group.wrap {
  flex-wrap: wrap;
}
.cs-button-group--faded
  .cs-button-group__button:not(.cs-button-group__button--selected) {
  color: var(--cs-gray-04);
}
</style>
