<template>
  <component
    :is="type"
    :href="href"
    :to="to"
    :class="[
      'cs-textstyle-button-text',
      'cs-button',
      'cs-button--' + variant,
      'cs-button--' + size,
      size,
      'cs-button--' + fill,
      'cs-button--' + corners,
      { 'cs-button--uppercase': uppercase },
      { 'cs-button--block': block },
    ]"
    :disabled="disabled"
  >
    <div class="cs-button__content">
      <slot name="icon">
        <i v-if="icon" :class="icon" />
      </slot>
      <slot />
    </div>
  </component>
</template>

<script>
import { variantValidator, sizeValidator } from '@/utils/validators';

export default {
  props: {
    href: {
      type: String,
      default: null,
    },
    to: {
      type: [Object, String],
      default: null,
    },
    fill: {
      type: String,
      default: 'solid',
      validator(x) {
        return ['solid', 'clear', 'outline'].indexOf(x) !== -1;
      },
    },
    variant: {
      type: String,
      default: 'primary',
      validator: variantValidator,
    },
    size: {
      type: String,
      default: 'medium',
      validator: sizeValidator,
    },
    corners: {
      type: String,
      default: 'round',
      validator(x) {
        return ['round', 'rounded', 'straight'].indexOf(x) !== -1;
      },
    },
    uppercase: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
    },
  },
  computed: {
    type() {
      if (this.href) {
        return 'a';
      }
      if (this.to) {
        return 'router-link';
      }
      return 'button';
    },
  },
};
</script>
<style scoped>
.cs-button {
  --cs-button-padding: 12px 27px;
  --cs-button-color: var(--cs-primary-base);
  --cs-button-color-hover: var(--cs-primary-dark);
  --cs-button-text-color: var(--cs-primary-contrast);
  --cs-button-text-color-hover: var(--cs-primary-contrast);
  background-color: var(--cs-button-color);
  border: 1px solid var(--cs-button-color);
  color: var(--cs-button-text-color);
  padding: var(--cs-button-padding);
  display: inline-block;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
@media (hover: hover) and (pointer: fine) {
  .cs-button:hover {
    background-color: var(--cs-button-color-hover);
    border-color: var(--cs-button-color-hover);
    color: var(--cs-button-text-color-hover);
  }
}
.cs-button:active {
  background-color: var(--cs-button-color-hover);
  border-color: var(--cs-button-color-hover);
  color: var(--cs-button-text-color-hover);
}

.cs-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/*  COLORS  */
.cs-button--primary {
  --cs-button-color: var(--cs-primary-base);
  --cs-button-color-hover: var(--cs-primary-dark);
  --cs-button-text-color: var(--cs-primary-contrast);
  --cs-button-text-color-hover: var(--cs-primary-contrast);
}

.cs-button--secondary {
  --cs-button-color: var(--cs-secondary-base);
  --cs-button-color-hover: var(--cs-secondary-dark);
  --cs-button-text-color: var(--cs-secondary-contrast);
  --cs-button-text-color-hover: var(--cs-secondary-contrast);
}

.cs-button--success {
  --cs-button-color: var(--cs-success-base);
  --cs-button-color-hover: var(--cs-success-dark);
  --cs-button-text-color: var(--cs-success-contrast);
  --cs-button-text-color-hover: var(--cs-success-contrast);
}

.cs-button--warning {
  --cs-button-color: var(--cs-warning-base);
  --cs-button-color-hover: var(--cs-warning-dark);
  --cs-button-text-color: var(--cs-warning-contrast);
  --cs-button-text-color-hover: var(--cs-warning-contrast);
}

.cs-button--danger {
  --cs-button-color: var(--cs-danger-base);
  --cs-button-color-hover: var(--cs-danger-dark);
  --cs-button-text-color: var(--cs-danger-contrast);
  --cs-button-text-color-hover: var(--cs-danger-contrast);
}

.cs-button--info {
  --cs-button-color: var(--cs-info-base);
  --cs-button-color-hover: var(--cs-info-dark);
  --cs-button-text-color: var(--cs-info-contrast);
  --cs-button-text-color-hover: var(--cs-info-contrast);
}

.cs-button--default {
  --cs-button-color: var(--cs-default-base);
  --cs-button-color-hover: var(--cs-default-dark);
  --cs-button-text-color: var(--cs-default-contrast);
  --cs-button-text-color-hover: var(--cs-default-contrast);
}

/*  CORNERS  */
.cs-button--round {
  border-radius: 60px;
}
.cs-button--rounded {
  border-radius: 5px;
}
.cs-button--straight {
  border-radius: 0px;
}

/*  SIZES  */
.cs-button--small {
  --cs-button-padding: 6px 20px;
}
.cs-button--small i {
  font-size: 16px;
}
.cs-button--small i + * {
  padding-left: 4px;
}

.cs-button--medium {
  --cs-button-padding: 8.5px 27px;
}
.cs-button--medium i {
  font-size: 20px;
}
.cs-button--medium i + * {
  padding-left: 8px;
}

.cs-button--large {
  --cs-button-padding: 14px 30px;
}
.cs-button--large i {
  font-size: 24px;
}
.cs-button--large i + * {
  padding-left: 10px;
}
/* Need to adjust padding on tablets as buttons use a different font size on larger displays */
@media (min-width: 768px) {
  .cs-button--small {
    --cs-button-padding: 4.5px 20px;
  }

  .cs-button--medium {
    --cs-button-padding: 7px 27px;
  }

  .cs-button--large {
    --cs-button-padding: 11px 30px;
  }
}

/* FILLS */
.cs-button.cs-button--outline {
  background-color: transparent;
  --cs-button-text-color: var(--cs-button-color);
  --cs-button-text-color-hover: var(--cs-button-color-hover);
}
@media (hover: hover) and (pointer: fine) {
  .cs-button.cs-button--outline:hover {
    background-color: transparent;
  }
}
.cs-button.cs-button--outline:active {
  background-color: transparent;
}

.cs-button.cs-button--fill {
  background-color: var(--cs-button-color);
  --cs-button-text-color: var(--cs-button-color);
  --cs-button-text-color-hover: var(--cs-button-color-hover);
}
@media (hover: hover) and (pointer: fine) {
  .cs-button.cs-button--fill:hover {
    background-color: var(--cs-button-color);
  }
}
.cs-button.cs-button--fill:active {
  background-color: var(--cs-button-color);
}

.cs-button.cs-button--clear {
  background-color: transparent;
  border-color: transparent;
  --cs-button-text-color: var(--cs-button-color);
  --cs-button-text-color-hover: var(--cs-button-color-hover);
}
@media (hover: hover) and (pointer: fine) {
  .cs-button.cs-button--clear:hover {
    background-color: transparent;
    border-color: transparent;
  }
}
.cs-button.cs-button--clear:active {
  background-color: transparent;
  border-color: transparent;
}

/*  BOOLEANS  */
.cs-button--block {
  width: 100%;
}

.cs-button--uppercase {
  text-transform: uppercase;
}
.cs-button--block + .cs-button--block {
  margin-top: 8px;
}

.cs-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cs-button__content::before {
  content: '\200b';
}
.cs-button__content i {
  display: flex;
}
</style>
