<template>
  <div :class="['cs-card', 'cs-card--' + mediaPosition, layoutSizeClass]">
    <!-- Media -->
    <div
      v-if="$slots.media"
      :class="[
        'cs-card__media',
        { 'cs-card__media--no-padding': !mediaPadding },
        'cs-card__media--' + mediaPosition,
      ]"
    >
      <div class="cs-card__media-holder">
        <slot name="media"></slot>
      </div>
    </div>
    <!-- Info -->
    <div :class="['cs-card__info']">
      <!-- Header -->
      <div
        v-if="$slots.header"
        class="cs-textstyle-item-heading cs-card__header"
      >
        <slot name="header"></slot>
        <slot name="card-icon"></slot>
      </div>
      <!-- Body -->
      <div v-if="$slots.body" class="cs-textstyle-paragraph cs-card__body">
        <slot name="body"></slot>
      </div>
      <!-- Footer -->
      <div v-if="$slots.footer" class="cs-card__footer">
        <hr v-if="!noDivider" class="cs-card__footer-divider" />
        <div class="cs-card__footer-content">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import layoutMixin from '@/mixins/layout';

export default {
  mixins: [layoutMixin],
  props: {
    mediaPadding: {
      type: Boolean,
      default: false,
    },
    mediaPosition: {
      type: String,
      default: 'top',
      validator(x) {
        return ['top', 'left'].indexOf(x) !== -1;
      },
    },
    noDivider: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
/** Variables for default and Mobile size  */
.cs-card,
.cs-card--layout-small {
  --cs-card-background: var(--cs-gray-00);
  --cs-card-shadow: 0px 3px 6px #00000005;
  --cs-card-media-height: 150px;
  --cs-card-media-width: 150px;
}

/** Variables for default large and Tablet/Desktop size */
/* NOTE: the element width needs to be at least 768px (use "Desktop" viewport in storybook) */
.cs-card--layout-medium,
.cs-card--layout-large {
  --cs-card-media-height: 200px;
  --cs-card-media-width: 250px;
}

.cs-card {
  background-color: var(--cs-card-background);
  border-radius: var(
    --cs-card-border-radius
  ); /* --cs-card-border-radius is global */
  box-shadow: var(--cs-card-shadow);
  border: solid 1px var(--cs-gray-02);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: var(--cs-card-margin-y) var(--cs-card-margin-x);
}

.cs-card--left {
  flex-direction: row;
}

/** Media Container */
.cs-card__media {
  margin-top: var(--cs-card-padding-y);
  margin-left: var(--cs-card-padding-x);
  margin-right: var(--cs-card-padding-x);
  position: relative;
  box-sizing: border-box;
}

.cs-card__media--top {
  height: var(--cs-card-media-height);
}

.cs-card__media--left {
  margin-bottom: var(--cs-card-padding-y);
  margin-right: 0;
  width: var(--cs-card-media-width);
}

.cs-card__media--no-padding {
  margin: 0;
}

.cs-card__media-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cs-card__media-holder > * {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/** Information Container */
.cs-card__info {
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  flex: 1;
  min-width: 0;
  height: min-content;
}

/** Header */
.cs-card__header {
  overflow: hidden;
  color: var(--cs-gray-06);
  display: inline;
}

/** Body */
.cs-card__header + .cs-card__body {
  margin-top: var(--cs-card-content-margin-y);
}
.cs-card__body {
  color: var(--cs-gray-05);
}

/** Footer */
.cs-card__body + .cs-card__footer,
.cs-card__header + .cs-card__footer {
  margin-top: var(--cs-card-content-margin-y);
}
.cs-card__footer {
  color: var(--cs-gray-05);
  font-size: var(--cs-font-size-50);
}

/** Divider */
.cs-card__footer-divider {
  margin: 0;
  border: none;
  border-top: 1px solid var(--cs-gray-02);
}

.cs-card__footer-divider + .cs-card__footer-content {
  margin-top: var(--cs-card-content-margin-y);
}
.cs-card__footer-content {
  width: 100%;
}

.cs-card__header--title,
.cs-card__header i {
  display: inline;
}
.cs-card__header i {
  font-size: 20px;
}
</style>
