<template>
  <div class="cs-category-heading">
    <div
      v-if="icon || $slots.icon"
      class="cs-category-heading__icon-wrapper"
      @click="$emit('icon-click')"
    >
      <slot name="icon">
        <i :class="[icon]" />
      </slot>
    </div>
    <div
      class="cs-category-heading__title-wrapper cs-textstyle-section-heading"
      @click="$emit('title-click')"
    >
      <slot name="title">
        <slot
          ><template>{{ title }}</template></slot
        >
      </slot>
    </div>
    <div
      v-if="button || $slots.button"
      class="cs-category-heading__button-wrapper"
    >
      <slot name="button">
        <cs-button
          class="cs-category-heading__button"
          fill="clear"
          @click="$emit('action')"
          >{{ button }}</cs-button
        >
      </slot>
    </div>
  </div>
</template>

<script>
import CsButton from '@/components/Button.vue';

export default {
  components: {
    CsButton,
  },
  props: {
    title: {
      type: String,
    },
    icon: {
      type: String,
    },
    button: {
      type: String,
    },
  },
};
</script>
<style scoped>
.cs-category-heading {
  --cs-category-heading-background-color: transparent;
  --cs-category-heading-border-color: transparent;
  background-color: var(--cs-category-heading-background-color);
  border-bottom: solid 1px var(--cs-category-heading-border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: var(--cs-gray-05);
}
.cs-category-heading__title-wrapper {
  cursor: default;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0px;
}
.cs-category-heading__icon-wrapper {
  font-size: 24px;
  color: var(--cs-primary-base);
  padding-right: 8px;
}
.cs-category-heading__button-wrapper {
  margin-left: 8px;
}
.cs-category-heading__button {
  padding-left: 0;
  padding-right: 0;
}
</style>
