<template>
  <div class="cs-checkbox-group">
    <div v-if="label" class="cs-checkbox-group__label cs-textstyle-label-text">
      {{ label }}
      <span v-if="required">*</span>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: null,
    },
  },
};
</script>

<style scoped>
.cs-checkbox-group .cs-checkbox {
  padding: 0;
  margin-bottom: var(--cs-form-label-margin-y-bottom);
}

.cs-checkbox-group__label {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
</style>
