<template>
  <div
    class="cs-checkbox"
    :class="{ 'cs-checkbox--disabled': disabled }"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <label class="cs-checkbox__label">
      <span class="cs-checkbox__input-holder">
        <input
          v-model="$v.inputValue.$model"
          v-bind="$attrs"
          type="checkbox"
          :checked="value"
          :disabled="disabled"
          :required="required"
          class="cs-checkbox__input"
          :class="{
            'cs-checkbox__input--error': isInvalid,
            'cs-checkbox__input--success': $v.inputValue.$dirty && isSuccess,
          }"
          @change="onChange"
          v-on="$_formEvents"
        />
        <i class="cs-checkbox__check-icon cs-icons-check-filled" />
      </span>
      <span class="cs-textstyle-input-text cs-checkbox__label-text">
        <slot>{{ label }}</slot>
        <span v-if="required"> *</span>
      </span>
    </label>
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { checkboxToggleEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  mixins: [validationMixin, formEventsMixin],
  props: {
    value: {
      type: [Boolean, String, Number],
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      inputValue: this.value,
      $_formEventTriggers: checkboxToggleEvents,
    };
  },
  validations() {
    return {
      inputValue: {
        required: (val) => (this.required ? !!val : true),
      },
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
  },
  watch: {
    value() {
      this.inputValue = this.value;
      this.$emit('input', this.value);
      this.$emit('validate');
    },
  },
  methods: {
    onChange(event) {
      this.$emit('input', event.target.checked);
      this.$emit('validate');
    },
  },
};
</script>

<style scoped>
.cs-checkbox {
  ---cs-checkbox-color: var(--cs-primary-base);
  ---cs-checkbox-dimension: 21px;
  padding: 6px 0;
  min-height: 2px;
}
.cs-checkbox__label {
  cursor: pointer;
  color: var(--cs-gray-05);
  display: flex;
  align-items: center;
}
.cs-checkbox__input-holder {
  display: inline-block;
  height: var(---cs-checkbox-dimension);
  width: var(---cs-checkbox-dimension);
  position: relative;
}
.cs-checkbox__input {
  border: 1px solid var(--cs-gray-02);
  background: var(--cs-gray-00);
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(---cs-checkbox-dimension);
  width: var(---cs-checkbox-dimension);
  cursor: pointer;
  margin: 0;
  border-radius: var(--cs-input-border-radius);
  outline: none;
  overflow: hidden;
  line-height: 1;
}
.cs-checkbox__input:checked {
  border-color: var(---cs-checkbox-color);
}
.cs-checkbox__check-icon {
  display: none;
  height: var(---cs-checkbox-dimension);
  width: var(---cs-checkbox-dimension);
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(---cs-checkbox-dimension);
  text-align: center;
  color: var(---cs-checkbox-color);
  font-size: calc(
    var(---cs-checkbox-dimension) - var(---cs-checkbox-dimension) * 2 / 7
  );
}
.cs-checkbox__input:checked + .cs-checkbox__check-icon {
  display: unset;
}
.cs-checkbox__label-text {
  margin-left: var(--cs-form-checkbox-margin-x);
}

.cs-checkbox__input:disabled {
  border-color: var(--cs-gray-03);
  background-color: var(--cs-gray-02);
}
.cs-checkbox__input:disabled::after {
  border-color: var(--cs-gray-03);
  color: var(--cs-gray-03);
}

.cs-checkbox__input--error,
.cs-checkbox__input--error:focus {
  border-color: var(--cs-danger-base);
}
.cs-checkbox__input--success,
.cs-checkbox__input--success:focus {
  border-color: var(--cs-success-base);
}
.cs-checkbox__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-checkbox__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
