<template>
  <div class="cs-comment" :class="layoutSizeClass">
    <cs-avatar
      v-if="author || authorPicture || authorName"
      class="cs-comment__avatar"
      :name="authorName || (author && author.name)"
      :picture="authorPicture || (author && author.picture)"
      :class="{ 'cs-comment--clickable': $listeners.author }"
      @click.stop="$listeners.author ? $emit('author') : $emit('click', $event)"
    />
    <div class="cs-comment__vertical">
      <div class="cs-comment__content">
        <div class="cs-comment__header">
          <span class="cs-comment__name cs-textstyle-detail-heading">
            <span
              :class="{ 'cs-comment--clickable': $listeners.author }"
              @click.stop="
                $listeners.author ? $emit('author') : $emit('click', $event)
              "
            >
              {{ authorName || (author && author.name) }}
            </span>
          </span>
          <span class="cs-comment__date cs-textstyle-paragraph-small">
            {{ formattedDate === 'Now' ? nowLabel : formattedDate }}
          </span>
          <span v-if="showMenu" class="cs-comment__icon" @click.stop="openMenu">
            <slot name="menu-icon">
              <i :class="menuIcon"></i>
            </slot>
          </span>
        </div>
        <div class="cs-comment__message cs-textstyle-paragraph">
          {{ message }}
          <div><slot></slot></div>
        </div>
      </div>
      <div class="cs-comment__action-bar">
        <div
          v-if="actionButtons"
          class="cs-comment__action-buttons cs-textstyle-paragraph-small"
        >
          <div v-for="(actionButton, index) in actionButtons" :key="index">
            <cs-action-bar-button
              :icon="actionButton.icon"
              :highlighted="actionButton.enableToggle && actionButton.highlight"
              @click.stop="handleActionButtonClick(actionButton)"
            >
              {{ actionButton.label }}
            </cs-action-bar-button>
          </div>
        </div>
        <div
          v-if="counters"
          class="cs-comment__counters cs-textstyle-paragraph-small"
        >
          <div
            class="cs-comment__reactions"
            @click.stop="handleCounterClick(nonZeroCounters[0])"
          >
            <slot name="reactions"></slot>
          </div>
          <div
            v-for="(count, index) in nonZeroCounters"
            :key="index"
            @click.stop="handleCounterClick(count)"
          >
            <i v-if="count.icon" :class="count.icon"></i>
            <span v-if="count.count" class="cs-comment__counter-number">{{
              count.count
            }}</span>
            <span v-if="count.label" class="cs-comment__counter-label">{{
              count.label
            }}</span>
            <span
              v-if="index !== nonZeroCounters.length - 1"
              class="cs-comment__counter-separator cs-textstyle-paragraph-small-bold"
              >&middot;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CsAvatar from '@/components/Avatar.vue';
import layoutMixin from '@/mixins/layout';

export default {
  components: {
    CsAvatar,
  },
  mixins: [layoutMixin],
  props: {
    actionButtons: {
      type: Array,
      default: () => {
        return [
          {
            label: 'Like',
            icon: 'cs-icons-like-filled',
            enableToggle: true,
            highlight: false,
            action: () => {
              console.log('like');
            },
          },
          {
            label: 'Share',
            icon: 'cs-icons-share-filled',
            enableToggle: false,
            highlight: false,
            action: () => {
              console.log('Share');
            },
          },
        ];
      },
    },
    counters: {
      type: Array,
      default: () => {
        return [
          {
            label: '',
            icon: 'cs-icons-like-filled',
            count: 0,
            action: () => {
              console.log('like-count');
            },
          },
          {
            label: '',
            icon: 'cs-icons-share-filled',
            count: 0,
            action: () => {
              console.log('share-count');
            },
          },
        ];
      },
    },
    author: {
      type: Object,
    },
    authorName: {
      type: String,
    },
    authorPicture: {
      type: String,
    },
    message: {
      type: String,
    },
    date: {
      type: [Date, String, Number],
      validator(x) {
        return !!new Date(x);
      },
    },
    menuIcon: {
      type: String,
      default: 'cs-icons-options',
    },
    showMenu: {
      type: Boolean,
      default: false,
    },
    nowLabel: {
      type: String,
      default: 'Now',
    },
  },
  computed: {
    formattedDate() {
      if (this.date) {
        const date = new Date(this.date);
        // If date is in the future used fixed date
        if (date.getTime() > Date.now()) return this.fixedDate(date);
        // If date is not same day as today used fixed date
        if (!this.isToday(date)) return this.fixedDate(date);
        // Otherwise use relative date
        return this.relativeDate(date);
      }
      return 'Now';
    },
    nonZeroCounters() {
      return this.counters.filter((counter) => counter.count > 0);
    },
  },
  methods: {
    openMenu() {
      this.$emit('open-menu');
    },
    fixedDate(d) {
      // Show the year if the year is not the same as current year
      const showYear = d.getFullYear() !== new Date().getFullYear();
      const dateOptions = showYear
        ? { dateStyle: 'medium' }
        : { day: 'numeric', month: 'short' };
      const date = d.toLocaleDateString([], dateOptions);
      const time = d.toLocaleTimeString([], {
        hour: 'numeric',
        minute: '2-digit',
        hourCycle: 'h12',
      });
      return `${date} ${time}`;
    },
    relativeDate(date) {
      // Return hours unless hours < 1
      const hours = Math.floor(
        (Date.now() - date.getTime()) / (1000 * 60 * 60)
      );
      if (hours > 1) return `${hours} hours ago`;
      if (hours === 1) return '1 hour ago';

      // Return minutes unless less than 1 (return Now)
      const minutes = Math.floor((Date.now() - date.getTime()) / (1000 * 60));
      if (minutes > 1) return `${minutes} minutes ago`;
      if (minutes === 1) return '1 minute ago';
      return 'Now';
    },
    isToday(date) {
      const today = new Date();
      if (date.getDate() !== today.getDate()) return false;
      if (date.getMonth() !== today.getMonth()) return false;
      if (date.getYear() !== today.getYear()) return false;
      return true;
    },
    handleActionButtonClick(button) {
      if (button.enableToggle) {
        button.highlight = !button.highlight;
      }
      if (button.action) {
        button.action();
      }
      this.$emit('action-button', button);
    },
    handleCounterClick(counter) {
      if (counter.action) {
        counter.action();
      }
      this.$emit('counter-click', counter);
    },
  },
};
</script>
<style scoped>
.cs-comment {
  display: flex;
  cursor: default;
  ---cs-comment-background-color: var(--cs-gray-00);
}
.cs-comment__avatar {
  --cs-avatar-size: 35px;
  --cs-avatar-font-size: 12px;
  margin-right: 10px;
}
.cs-comment__vertical {
  flex: 1;
}
.cs-comment__content {
  background-color: var(---cs-comment-background-color);
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  border-radius: var(--cs-card-border-radius);
}
.cs-comment__header {
  display: flex;
  margin-bottom: 12px;
}
.cs-comment__name {
  flex: 1;
  color: var(--cs-gray-07);
}
.cs-comment__date {
  color: var(--cs-gray-04);
}

.cs-comment__icon {
  color: var(--cs-gray-04);
  font-size: 18px;
  margin-left: 10px;
  margin-top: -2px;
}

.cs-comment__message {
  color: var(--cs-gray-07);
}

.cs-comment__content >>> img {
  max-height: 140px;
  width: 100%;
  object-fit: cover;
}

/* Class is mostly added when there are event listeners on different props */
.cs-comment--clickable {
  cursor: pointer;
}

.cs-comment__action-buttons > *,
.cs-comment__counters > * {
  display: inline-block;
}

.cs-comment__action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.cs-comment__counters span {
  color: var(--cs-gray-04);
}
.cs-comment__counters i {
  font-size: 16px;
}
.cs-comment__counters *:not(.cs-comment__reactions) i {
  color: var(--cs-gray-03);
  margin-right: 4px;
}
.cs-comment__counters .cs-comment__counter-separator {
  margin: auto 2px;
}

.cs-comment__counters .cs-comment__counter-label {
  margin-left: 4px;
}

/* Tablet and desktop style */
.cs-comment--layout-medium .cs-comment__like-reply-line,
.cs-comment--layout-large .cs-comment__like-reply-line {
  margin: 0 32px -1px;
}
.cs-comment--layout-medium .cs-comment__counters i,
.cs-comment--layout-large .cs-comment__counters i {
  font-size: 18px;
}
.cs-comment--layout-medium .cs-comment__content >>> img,
.cs-comment--layout-large.cs-comment__content >>> img {
  width: initial;
  object-fit: cover;
}
.cs-comment--layout-medium .cs-comment__action-bar,
.cs-comment--layout-large .cs-comment__action-bar {
  margin-top: 8px;
}
.cs-comment--layout-medium .cs-comment__avatar,
.cs-comment--layout-large .cs-comment__avatar {
  --cs-avatar-size: 50px;
  --cs-avatar-font-size: 16px;
}
</style>
