<template>
  <div
    class="cs-conversation-item"
    :class="{ 'cs-conversation-item--highlight': unreadCount }"
  >
    <cs-avatar
      class="cs-conversation-item__picture"
      :class="{
        'cs-conversation-item__picture--highlight': highlightAvatar,
      }"
      :picture="picture"
      :name="subject"
    />
    <div class="cs-conversation-item__text-block">
      <div class="cs-conversation-item__sender-details">
        <div class="cs-conversation-item__subject">{{ subject }}</div>
        <div v-if="role" class="cs-conversation-item__role">{{ role }}</div>
        <div class="cs-conversation-item__message">{{ message }}</div>
      </div>
      <div class="cs-conversation-item__right">
        <div class="cs-conversation-item__date">{{ formattedDate }}</div>
        <cs-badge v-if="unreadCount" class="cs-conversation-item__unread">{{
          unreadCount
        }}</cs-badge>
      </div>
    </div>
  </div>
</template>

<script>
import CsBadge from '@/components/Badge.vue';
import CsAvatar from '@/components/Avatar.vue';

export default {
  components: {
    CsBadge,
    CsAvatar,
  },
  props: {
    subject: {
      type: String,
      default: null,
    },
    role: {
      type: String,
      default: null,
    },
    message: {
      type: String,
      default: null,
    },
    unreadCount: {
      type: [String, Number],
      default: null,
    },
    date: {
      type: [Date, String, Number],
      default: null,
    },
    picture: {
      type: String,
      default: null,
    },
    highlightAvatar: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    formattedDate() {
      const date = new Date(this.date);
      return `${date.getDate()} ${date.toDateString().split(' ')[1]}`;
    },
  },
};
</script>
<style scoped>
.cs-conversation-item {
  background-color: var(--cs-gray-01);
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  position: relative;
  display: flex;
}
.cs-conversation-item--highlight {
  background-color: var(--cs-gray-00);
  margin-top: -1px;
}
.cs-conversation-item__picture {
  margin-top: -2px;
}
.cs-conversation-item__picture--highlight {
  border: solid 2px var(--cs-primary-base);
}
.cs-conversation-item__text-block {
  margin-left: 12px;
  display: flex;
  flex: 1;
  min-width: 0;
}
.cs-conversation-item--highlight .cs-conversation-item__text-block {
  border-bottom: none;
}
.cs-conversation-item__sender-details {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-conversation-item--highlight .cs-conversation-item__sender-details {
  font-weight: var(--cs-font-weight-bold);
  margin-right: 12px;
}
.cs-conversation-item__subject,
.cs-conversation-item__role,
.cs-conversation-item__message {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.cs-conversation-item__subject {
  font-size: var(--cs-font-size-50);
  color: var(--cs-gray-07);
}
.cs-conversation-item__role {
  padding-top: 1px;
  font-weight: var(--cs-font-weight-base);
  color: var(--cs-gray-04);
  font-size: var(--cs-font-size-50);
}
.cs-conversation-item__message {
  padding-top: 4px;
  font-size: var(--cs-font-size-50);
  color: var(--cs-gray-05);
}
.cs-conversation-item__right {
  width: 40px;
}
.cs-conversation-item__date {
  float: right;
  font-size: var(--cs-font-size-10);
  color: var(--cs-gray-04);
  margin-bottom: 3px;
}
.cs-conversation-item__unread {
  float: right;
}
</style>
