<template>
  <div class="cs-embed-video">
    <div v-if="embedUrl" class="cs-embed-video__wrapper">
      <div v-if="!hideOverlay" class="cs-embed-video__overlay" @click="play">
        <img
          v-if="videoPicture"
          class="cs-embed-video__overlay-image"
          :src="videoPicture"
        />
        <div class="cs-embed-video__overlay-shading"></div>
        <div class="cs-embed-video__play-icon">
          <slot name="play-icon">
            <i :class="playIcon" />
          </slot>
        </div>
      </div>
      <iframe
        v-if="hideOverlay"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
        class="cs-embed-video__iframe"
        :src="embedUrl"
      ></iframe>
    </div>
    <div class="cs-embed-video__info" @click="openLink">
      <div
        class="cs-embed-video__info-title cs-textstyle-paragraph-bold cs-textstyle-link-text"
      >
        {{ videoTitle }}
      </div>
      <div class="cs-embed-video__info-domain cs-textstyle-paragraph">
        {{ videoDomain }}
      </div>
    </div>
  </div>
</template>

<script>
const apiurl = 'https://services-graph.graphexpress.com/web';
const params = {
  operationName: 'GetLinkPreview',
  query:
    'query GetLinkPreview($url: String!) {preview: gx_link_preview(url: $url) {title description picture __typename } }',
  variables: { url: '' },
};
export default {
  props: {
    src: {
      type: String,
    },
    title: {
      type: String,
    },
    picture: {
      type: String,
    },
    playIcon: {
      type: String,
      default: 'cs-icons-audio-filled',
    },
  },
  data() {
    return {
      previewData: {},
      hideOverlay: false,
      embedUrl: null,
    };
  },
  computed: {
    videoTitle() {
      if (this.title) return this.title;
      if (this.previewData && this.previewData.title)
        return this.previewData.title;
      return '';
    },
    videoPicture() {
      if (this.picture) return this.picture;
      if (this.previewData && this.previewData.picture)
        return this.previewData.picture;
      return '';
    },
    videoDomain() {
      const url = this.videoUrl;
      if (!url) return '';
      try {
        const hostParts = new URL(this.videoUrl).host.split('.');
        const secondLast = hostParts[hostParts.length - 2];
        const last = hostParts[hostParts.length - 1];
        return `${secondLast}.${last}`;
      } catch (e) {
        return this.src;
      }
    },
    videoUrl() {
      if (!this.src) return null;
      try {
        const url = new URL(this.src);
        return url.href;
      } catch (e) {
        return null;
      }
    },
  },
  watch: {
    src: {
      immediate: true,
      handler() {
        if (this.src && this.src.trim()) this.loadData(this.src);
      },
    },
  },
  methods: {
    play() {
      this.hideOverlay = true;
    },
    isVimeo(url) {
      const isVimeo = url.match(
        /(?:http|https)?:?\/?\/?(?:www\.|player\.)?vimeo\.com\/(?:channels\/(?:\w+\/)?|groups\/(?:[^]*)\/videos\/|video\/|)(\d+)(?:|\/\?)/
      );
      return !!isVimeo;
    },
    isYoutube(url) {
      const isYoutube = url.match(
        /^(http(s)?:\/\/)?((w){3}.)?youtu(be|.be)?(\.com)?\/.+/
      );
      return isYoutube;
    },
    async loadData() {
      const url = this.videoUrl;
      if (!url) return;

      if (this.isYoutube(url)) {
        this.loadYoutube(url);
      } else if (this.isVimeo(url)) {
        this.loadVimeo(url);
      } else {
        this.loadDefault(url);
      }
    },
    async loadYoutube(url) {
      this.loadDefault(url);
      const rx = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|&v(?:i)?=))([^#&?]*).*/;
      const matches = url.match(rx);
      if (matches && matches[1]) {
        const ytid = matches && matches[1];
        const embedUrl = `https://www.youtube.com/embed/${ytid}?&autoplay=1`;
        this.embedUrl = embedUrl;
      }
    },
    async loadVimeo(url) {
      const response = await fetch(
        `https://vimeo.com/api/oembed.json?url=${encodeURI(url)}`
      );
      if (!response.ok) return;
      const data = await response.json();
      const el = document.createElement('div');
      el.innerHTML = data.html;
      const iframe = el.querySelector('iframe');
      if (!iframe) return;
      this.previewData = {
        title: iframe.getAttribute('title'),
        picture: data.thumbnail_url,
        description: data.description,
      };
      this.embedUrl = `${iframe.getAttribute('src')}?&autoplay=1`;
    },
    async loadDefault(url) {
      params.variables.url = url;
      const response = await fetch(apiurl, {
        method: 'POST',
        body: JSON.stringify(params),
        headers: {
          'Content-Type': 'application/json',
        },
      });
      if (!response.ok) return;
      const data = await response.json();
      this.previewData = data.data.preview;
      this.embedUrl = url;
    },
    openLink() {
      window.open(this.videoUrl, '_system');
    },
  },
};
</script>

<style scoped>
.cs-embed-video {
  background-color: var(--cs-gray-01);
}
.cs-embed-video__wrapper {
  position: relative;
  height: 225px;
}
.cs-embed-video__iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.cs-embed-video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.cs-embed-video__overlay-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cs-embed-video__overlay-shading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cs-gray-08);
  opacity: 0.5;
}
.cs-embed-video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--cs-gray-00);
}
.cs-embed-video__info {
  padding: 12px var(--cs-card-padding-x);
  cursor: pointer;
}
.cs-embed-video__info-title {
}
.cs-embed-video__info-domain {
  color: var(--cs-primary-base);
}
</style>
