<template>
  <div class="empty-state">
    <div
      v-if="$slots.title || title"
      class="empty-state__title-wrapper cs-textstyle-page-title"
    >
      <slot name="title">{{ title }}</slot>
    </div>
    <div
      v-if="$slots.description || description"
      class="empty-state__description-wrapper cs-textstyle-informative-paragraph"
    >
      <slot name="description">{{ description }}</slot>
    </div>
    <div v-if="$slots.button" class="empty-state__button-wrapper">
      <slot name="button" />
    </div>
    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    description: {
      type: String,
    },
  },
};
</script>

<style scoped>
.empty-state {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-state__title-wrapper {
  padding-bottom: 5px;
  text-align: center;
}
.empty-state__description-wrapper {
  padding-bottom: 19px;
  text-align: center;
}
</style>
