<template>
  <cs-card
    class="cs-event-card"
    :media-position="mediaPositionComputed"
    :class="layoutSizeClass"
  >
    <!-- Media section -->
    <div v-if="picture" slot="media" class="cs-event-card__media-wrapper">
      <img v-if="picture" class="cs-event-card__media-img" :src="picture" />
      <!-- Date overlay on media -->
      <div
        v-if="dateOverImage && showDate"
        class="cs-event-card__datetime cs-event-card__datetime-overlay"
      >
        <div class="cs-event-card__datetime-date cs-textstyle-paragraph-bold">
          {{ date }}
        </div>
        <div class="cs-event-card__datetime-time cs-textstyle-paragraph">
          {{ time }}
        </div>
      </div>
    </div>

    <div slot="body">
      <!-- Top group (column on mobile, row on tablet) -->
      <div v-if="showTopInfo" class="cs-event-card__info-top">
        <!-- Date standalone (when no media or opt out) -->
        <div
          v-if="showDateOnCard"
          class="cs-event-card__datetime cs-event-card__datetime-standalone"
        >
          <i class="cs-icons-clock-filled"></i>
          <span
            class="cs-event-card__datetime-date cs-textstyle-paragraph-small"
          >
            {{ date }}
          </span>
          <span
            class="cs-event-card__datetime-time cs-textstyle-paragraph-small"
          >
            {{ time }}
          </span>
        </div>

        <!-- Only show organiser in top group when media position is left -->
        <div
          v-if="organiser && mediaPositionComputed === 'left'"
          class="cs-event-card__organiser cs-textstyle-paragraph-small-bold"
        >
          {{ organiser }}
        </div>

        <!-- Tags row -->
        <div
          v-if="tags && tags.length"
          class="cs-event-card__tags"
          :class="{ 'cs-event-card__tags--short': showDateOnCard }"
        >
          <cs-small-tag
            v-for="(tag, $index) in tags"
            :key="$index"
            class="cs-event-card__tag"
            >{{ tag }}</cs-small-tag
          >
        </div>
      </div>

      <!-- Title -->
      <h4 v-if="title" class="cs-event-card__title cs-textstyle-item-heading">
        {{ title }}
      </h4>

      <!-- Bottom section (column on mobile, row on tablet) -->
      <div class="cs-event-card__info-bottom">
        <!-- Location -->
        <div v-if="location" class="cs-event-card__location">
          <i class="cs-icons-marker-filled"></i>
          <span class="cs-textstyle-paragraph-small">{{ location }}</span>
        </div>

        <!-- Only show organiser in bottom group when media position is not left -->
        <div
          v-if="organiser && mediaPositionComputed !== 'left'"
          class="cs-event-card__organiser cs-textstyle-paragraph-small-bold"
        >
          {{ organiser }}
        </div>

        <!-- Ticket price -->
        <div v-if="price" class="cs-event-card__price">
          <i :class="priceIcon"></i>
          <span class="cs-textstyle-paragraph-small-bold">{{ price }}</span>
        </div>

        <!-- RSVP buttons -->
        <cs-button-group
          v-if="!hideButtons"
          class="cs-event-card__buttons"
          :buttons="buttons"
          :value="isAttending"
          :block="isMobile"
          size="small"
          @input="respond"
          @click.stop
        ></cs-button-group>
      </div>
    </div>
  </cs-card>
</template>

<script>
import layoutMixin from '@/mixins/layout';
import CsCard from '@/components/Card.vue';
import CsButtonGroup from '@/components/ButtonGroup.vue';
import CsSmallTag from '@/components/SmallTag.vue';

export default {
  components: {
    CsCard,
    CsButtonGroup,
    CsSmallTag,
  },
  mixins: [layoutMixin],
  props: {
    title: {
      type: String,
      default: null,
    },
    picture: {
      type: String,
      default: null,
    },
    datetime: {
      type: [Date, String, Number],
      default: null,
    },
    tags: {
      type: Array,
      default: null,
    },
    location: {
      type: String,
      default: null,
    },
    price: {
      type: String,
      default: null,
    },
    organiser: {
      type: String,
      default: null,
    },
    attending: {
      type: Boolean,
      default: null,
    },
    dateOverImage: {
      type: Boolean,
      default: true,
    },
    priceIcon: {
      type: String,
      default: 'cs-icons-ticket',
    },
    mediaPosition: {
      type: String,
      default: null,
      validator(x) {
        return ['top', 'left'].indexOf(x) !== -1;
      },
    },
    hideButtons: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      buttons: [
        {
          label: 'I Am Going',
          value: 'going',
        },
        {
          label: 'Not Interested',
          value: 'not-going',
        },
      ],
      resizeListener: null,
    };
  },
  computed: {
    isAttending() {
      let status = null;
      if (this.attending === true) {
        status = 'going';
      } else if (this.attending === false) {
        status = 'not-going';
      }
      return status;
    },
    date() {
      if (!this.datetime) return '';
      const date = new Date(this.datetime);
      const d = date.toDateString().split(' ').splice(0, 3);
      return `${d[0]}, ${d[1]} ${date.getDate()},`;
    },
    time() {
      if (!this.datetime) return '';
      const date = new Date(this.datetime);
      let minutes = `${date.getMinutes()}`;
      minutes = minutes.length < 2 ? `0${minutes}` : minutes;
      const ampm = date.getHours() > 11 ? 'PM' : 'AM';
      const hours = date.getHours() === 12 ? '12' : `${date.getHours() % 12}`;
      return `${hours}:${minutes} ${ampm}`;
    },
    showDate() {
      return this.date && this.time;
    },
    showDateOnCard() {
      return (!this.dateOverImage || !this.picture) && this.showDate;
    },
    isMobile() {
      return this.layoutSize === 'small';
    },
    mediaPositionComputed() {
      if (this.mediaPosition) return this.mediaPosition;
      return this.isMobile ? 'top' : 'left';
    },
    showTopInfo() {
      if (this.showDateOnCard) return true;
      if (this.organiser && this.mediaPositionComputed === 'left') return true;
      if (this.tags && this.tags.length) return true;
      return false;
    },
  },
  methods: {
    respond(e) {
      if (e === 'going') {
        this.$emit('rsvp', true);
      } else {
        this.$emit('rsvp', false);
      }
    },
  },
};
</script>

<style scoped>
.cs-event-card,
.cs-event-card--layout-small {
  --cs-card-media-height: 120px;
  --cs-card-media-width: 95px;
  ---cs-event-card-info-flex-direction: column;
  ---cs-event-card-info-top-align-items: flex-start;
  ---cs-event-card-info-bottom-align-items: flex-start;
  ---cs-event-card-price-flex-order: unset;
  ---cs-event-card-tags-width: 100%;
  ---cs-event-card-tags-width-short: 100%;
}
.cs-event-card--layout-medium,
.cs-event-card--layout-large {
  --cs-card-media-height: 120px;
  --cs-card-media-width: 148px;
  ---cs-event-card-info-flex-direction: row;
  ---cs-event-card-info-top-align-items: center;
  ---cs-event-card-info-bottom-align-items: flex-end;
  ---cs-event-card-price-flex-order: -1;
  ---cs-event-card-tags-width: 50%;
  ---cs-event-card-tags-width-short: 33%;
}
.cs-event-card {
  background-color: var(--cs-gray-00);
  overflow: hidden;
}

/* Media section */
.cs-event-card__media-wrapper {
  background-color: var(--cs-gray-03);
  overflow: hidden;
}
.cs-event-card__media-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.cs-event-card__datetime-overlay {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--cs-gray-00);
  padding: var(--cs-card-padding-x);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

/* Top section */
.cs-event-card__info-top {
  display: flex;
  flex-direction: var(---cs-event-card-info-flex-direction);
  justify-content: space-between;
  align-items: var(---cs-event-card-info-top-align-items);
  margin-bottom: var(--cs-card-content-margin-y);
  gap: 10px;
}
.cs-event-card__datetime-standalone {
  color: var(--cs-gray-04);
  text-transform: uppercase;
  white-space: nowrap;
}
.cs-event-card__datetime-standalone > i {
  margin-right: 4px;
}
.cs-event-card__organiser {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  min-width: 0;
  width: 100%;
}
.cs-event-card__tags {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: var(---cs-event-card-tags-width);
}
.cs-event-card__tags--short {
  max-width: var(---cs-event-card-tags-width-short);
}
.cs-event-card__tag {
  display: inline-block;
  margin-right: 6px;
}

/* Title */
.cs-event-card__title {
  margin: 0;
  margin-bottom: var(--cs-card-content-margin-y);
  color: var(--cs-gray-07);
}

/* Bottom section */
.cs-event-card__info-bottom {
  display: flex;
  flex-direction: var(---cs-event-card-info-flex-direction);
  gap: 6px;
  justify-content: space-between;
  align-items: var(---cs-event-card-info-bottom-align-items);
  white-space: nowrap;
}
.cs-event-card__location i {
  color: var(--cs-gray-04);
  margin-right: 4px;
}
.cs-event-card__organiser,
.cs-event-card__location {
  color: var(--cs-gray-04);
}

.cs-event-card__price {
  order: var(---cs-event-card-price-flex-order);
}
.cs-event-card__price > span {
  color: var(--cs-accent-base);
}
.cs-event-card__price > i {
  font-size: 16px;
  color: var(--cs-gray-03);
  vertical-align: middle;
  margin-right: 4px;
}

.cs-event-card__buttons {
  margin-top: 16px;
  white-space: initial;
  align-self: stretch;
}
.cs-event-card__buttons.cs-button-group >>> .cs-button {
  margin-bottom: 0;
}
</style>
