<template>
  <div class="cs-file-preview" :class="layoutSizeClass">
    <div v-show="showHeader" class="cs-file-preview__link-wrapper">
      <div class="cs-file-preview__top-icon">
        <slot name="link-icon">
          <i :class="linkIcon"></i>
        </slot>
      </div>
      <span
        class="cs-textstyle-label-text cs-file-preview__link-wrapper-label"
        >{{ attachmentLabel }}</span
      >
    </div>
    <div class="cs-file-preview__content" @click="showContent">
      <div class="cs-file-preview__icon-area">
        <slot name="file-icon">
          <i
            v-if="fileIcon"
            :class="[fileIcon, 'cs-file-preview__content__icon']"
          />
          <i v-else :class="[fileExtIcon, 'cs-file-preview__content__icon']" />
        </slot>
      </div>
      <div class="cs-file-preview__text-area">
        <div
          class="cs-textstyle-detail-heading cs-file-preview__text-area-title"
        >
          {{ title }}
        </div>
        <div class="cs-file-preview__size cs-textstyle-tags">{{ getSize }}</div>
      </div>
      <div
        v-if="$slots['right-icon'] || rightIcon"
        class="cs-file-preview__icon-area"
      >
        <slot name="right-icon">
          <i :class="rightIcon"></i>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import layoutMixin from '@/mixins/layout';

const iconMap = {
  'text/plain': 'cs-icons-txt',
  'application/pdf': 'cs-icons-pdf',
  'application/msword': 'cs-icons-word',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
    'cs-icons-word',
  'application/vnd.ms-excel': 'cs-icons-excel',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
    'cs-icons-excel',
  'application/zip': 'cs-icons-zip',
  'application/x-zip-compressed': 'cs-icons-zip',
};
const defaultIconMap = {
  'image/': 'cs-icons-image-document',
  'audio/': 'cs-icons-audio-file',
  'video/': 'cs-icons-video-file',
  'text/': 'cs-icons-txt',
  'application/': 'cs-icons-application-file',
};
export default {
  mixins: [layoutMixin],
  props: {
    src: {
      type: String,
      default: null,
    },
    fileType: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    fileSize: {
      type: Number,
      default: 0,
    },
    attachmentLabel: {
      type: String,
      default: 'Attachment',
    },
    showHeader: {
      type: Boolean,
      default: true,
    },
    linkIcon: {
      type: String,
      default: 'cs-icons-link-filled',
    },
    fileIcon: {
      type: String,
      default: '',
    },
    rightIcon: {
      type: String,
      default: '',
    },
  },
  computed: {
    fileExtIcon() {
      const type = this.fileType || 'application/*';
      if (iconMap[type]) return iconMap[type];

      const key = Object.keys(defaultIconMap).find((k) => type.indexOf(k) > -1);
      return defaultIconMap[key] || 'cs-icons-application-file';
    },
    getSize() {
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      if (!this.fileSize || this.fileSize < 0) return '0 bytes';
      const i = parseInt(
        Math.floor(Math.log(this.fileSize) / Math.log(1024)),
        10
      );
      if (i === 0) return `${this.fileSize} ${sizes[i]}`;
      return `${(this.fileSize / 1024 ** i).toFixed(1)} ${sizes[i]}`;
    },
  },
  methods: {
    showContent() {
      this.$emit('open');
      window.open(this.src, '_system');
    },
  },
};
</script>

<style scoped>
.cs-file-preview {
  display: flex;
  flex-direction: column;
}
.cs-file-preview__link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.cs-file-preview__link-wrapper-label {
  color: var(--cs-gray-05);
}
.cs-file-preview__top-icon {
  color: var(--cs-gray-03);
  margin-right: 8px;
  font-size: 18px;
}
.cs-file-preview__content {
  display: flex;
  cursor: pointer;
  background: var(--cs-gray-01);
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  border-radius: var(--cs-card-border-radius);
  border: 1px solid var(--cs-gray-02);
}
.cs-file-preview__icon-area {
  color: var(--cs-gray-03);
  font-size: 30px;
}
.cs-file-preview__text-area {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 10px;
}
.cs-file-preview__text-area-title {
  word-break: break-word;
  color: var(--cs-gray-07);
}
.cs-file-preview__size {
  margin-top: 3px;
  color: var(--cs-gray-04);
}
.cs-file-preview--layout-medium .cs-file-preview__content__icon,
.cs-file-preview--layout-large .cs-file-preview__content__icon {
  font-size: 36px;
}
</style>
