<template>
  <div
    class="cs-file-input"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <label>
      <div
        v-if="label"
        class="cs-textstyle-label-text cs-file-input__label-text"
      >
        {{ label }}
        <span v-if="required">*</span>
      </div>
      <div
        v-if="showSelectBox"
        :class="[
          'cs-file-input__upload',
          {
            'cs-file-input__upload--disabled': uploadDisabled,
            'cs-file-input__upload--error': isInvalid,
            'cs-file-input__upload--success': $v.inputValue.$dirty && isSuccess,
          },
        ]"
        @click="selectFile()"
      >
        <div class="cs-file-input__upload-icon-slot">
          <slot name="upload-icon">
            <i :class="uploadIcon" />
          </slot>
        </div>
        <div class="cs-file-input__upload-text">
          <div
            class="cs-textstyle-detail-heading cs-file-input__upload-text-title"
          >
            {{ uploadLabel }}
          </div>
          <div class="cs-textstyle-tags cs-file-input__upload-text-description">
            {{ descriptionControl }}
          </div>
        </div>
        <div class="cs-file-input__upload-arrow">
          <slot name="forward-icon">
            <i :class="forwardIcon" />
          </slot>
        </div>
      </div>
    </label>
    <div v-if="loading" class="cs-file-input__uploading">
      <cs-spinner class="cs-file-input__upload-spinner"></cs-spinner>
    </div>

    <!-- Preview -->
    <div v-if="inputValue && !loading">
      <div
        v-if="isMedia"
        class="cs-file-input__media-preview"
        :class="{ 'cs-file-input__media-preview--image': isImage }"
      >
        <img
          v-if="isImage"
          class="cs-file-input__media-preview-image"
          :src="inputValue"
        />
        <cs-audio-player
          v-if="isAudio"
          class="cs-file-input__media-preview-audio"
          :src="inputValue"
          :title="fileInfo.name"
        ></cs-audio-player>
        <cs-video-player
          v-if="isVideo"
          class="cs-file-input__media-preview-video"
          :src="inputValue"
        ></cs-video-player>
        <span class="cs-file-input__media-preview-close" @click="removeSrc">
          <slot name="delete-icon">
            <i :class="deleteIcon"></i>
          </slot>
        </span>
      </div>
      <div v-else class="cs-file-input__file-preview">
        <cs-file-preview
          v-if="fileInfo"
          :src="inputValue"
          :file-size="fileInfo.size"
          :file-type="fileInfo.type"
          :title="fileInfo.name || inputValue"
          :show-header="false"
        >
          <span
            v-if="$slots['delete-icon'] || deleteIcon"
            slot="right-icon"
            class="cs-file-input__file-preview-delete-icon"
            @click.stop="removeSrc"
          >
            <slot name="delete-icon">
              <i :class="deleteIcon"></i>
            </slot>
          </span>
        </cs-file-preview>
      </div>
      <div
        v-if="!hideChangeBtn"
        class="cs-file-input__upload-preview-edit"
        @click="selectFile(true)"
      >
        <div class="cs-file-input__upload-preview-edit-icon">
          <slot name="edit-icon">
            <i :class="editIcon"></i>
          </slot>
        </div>
        <div
          class="cs-file-input__upload-preview-edit-text cs-textstyle-button-text"
        >
          {{ changeFileLabel }}
        </div>
      </div>
    </div>
    <div ref="cs-file-input-holder" class="cs-file-input__input-holder"></div>

    <!-- Error messages -->
    <cs-input-notes v-if="showInputNotes">
      <cs-input-note
        v-if="!applicationIDLoaded && !manualUpload"
        class="cs-file-input__upload-note cs-textstyle-paragraph-small"
        label="Application ID required to upload"
      />
      <cs-input-note
        v-if="!$v.inputValue.required"
        type="error"
        :label="requiredLabel"
        :icon="errorIcon"
      />
      <slot name="input-notes" />
    </cs-input-notes>
  </div>
</template>
<script>
import { validationMixin } from 'vuelidate';
import CsFilePreview from '@/components/FilePreview.vue';
import CsAudioPlayer from '@/components/AudioPlayer.vue';
import CsVideoPlayer from '@/components/VideoPlayer.vue';
import CsSpinner from '@/components/Spinner.vue';

function getPaths(url) {
  if (!url) return [];
  const parser = document.createElement('a');
  parser.href = url;
  return parser.pathname.split('/');
}

const acceptMap = {
  '*/*': {
    title: 'File',
    description: ['PDF', 'DOC', 'PNG', 'JPG', 'MP3', 'MP4'],
  },
  'image/*': {
    title: 'Picture',
    description: ['JPG', 'PNG', 'GIF'],
  },
  'audio/*': {
    title: 'Audio',
    description: ['MP3', 'AAC'],
  },
  'video/*': {
    title: 'Video',
    description: ['MP4', 'MOV'],
  },
  'application/*': {
    title: 'Document',
    description: ['PDF', 'DOC'],
  },
  '.pdf': {
    title: 'PDF',
    description: ['PDF'],
  },
  '.jpg': {
    title: 'JPG',
    description: ['JPG'],
  },
  'application/pdf': {
    title: 'PDF',
    description: ['PDF'],
  },
};
export default {
  components: { CsSpinner, CsFilePreview, CsAudioPlayer, CsVideoPlayer },
  mixins: [validationMixin],
  props: {
    applicationId: {
      type: String,
      default: '',
    },
    acceptType: {
      type: String,
      default: '*/*',
    },
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: null,
    },
    changeFileLabel: {
      type: String,
      default: 'Change File',
    },
    uploadLabel: {
      type: String,
      default: 'Upload',
    },
    required: {
      type: Boolean,
      default: false,
    },
    uploadIcon: {
      type: String,
      default: 'cs-icons-upload-filled',
    },
    forwardIcon: {
      type: String,
      default: 'cs-icons-next-angle',
    },
    deleteIcon: {
      type: String,
      default: 'cs-icons-close',
    },
    editIcon: {
      type: String,
      default: 'cs-icons-edit',
    },
    hideChangeBtn: {
      type: Boolean,
      default: false,
    },
    appIdEnvVarName: {
      type: String,
      default: 'VUE_APP_GRAPHEXPRESS_ID',
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
    manualUpload: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      inputValue: this.value,
      loading: false,
      fileInfo: null,
    };
  },
  computed: {
    titleControl() {
      return acceptMap[this.acceptType].title;
    },
    descriptionControl() {
      return acceptMap[this.acceptType].description.join(', ');
    },
    showSelectBox() {
      return !this.inputValue && !this.loading;
    },
    uploadDisabled() {
      if (this.manualUpload) {
        return false;
      }
      return this.inputValue || this.loading || !this.applicationIDLoaded;
    },
    isAudio() {
      const type = this.fileInfo && this.fileInfo.type;
      return type && type.startsWith('audio/');
    },
    isImage() {
      const type = this.fileInfo && this.fileInfo.type;
      return type && type.startsWith('image/');
    },
    isVideo() {
      const type = this.fileInfo && this.fileInfo.type;
      return type && type.startsWith('video/');
    },
    isMedia() {
      return this.isAudio || this.isImage || this.isVideo;
    },
    applicationIDLoaded() {
      const envVar = process.env[this.appIdEnvVarName];
      return this.applicationId ? this.applicationId : envVar ? envVar : null;
    },
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
    showInputNotes() {
      return (
        this.$v.inputValue.$error ||
        !this.applicationId ||
        this.$slots['input-notes']
      );
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newValue) {
        if (this.inputValue === newValue) return;
        this.inputValue = newValue;
        this.$v.inputValue.$touch();
        this.loadHostedFileInfo(this.inputValue);
        this.$emit('validate');
      },
    },
  },
  mounted() {
    this.loadHostedFileInfo(this.inputValue);
  },
  methods: {
    async selectFile() {
      if (!this.manualUpload) {
        if (this.loading) return;
        if (!this.applicationIDLoaded) return;
      }

      try {
        const file = await this.loadFile();
        if (this.manualUpload) {
          this.fileInfo = file;
          const reader = new FileReader();
          reader.onload = (e) => {
            this.inputValue = e.target.result;
            this.$emit('input', this.inputValue);
          };
          reader.readAsDataURL(file);
          this.$emit('selected', this.fileInfo);
          this.$emit('validate');
          return;
        }
        this.loading = true;
        this.fileInfo = await this.uploadFile(file, this.applicationIDLoaded);
        this.$emit('input', this.fileInfo.url);
        this.$emit('selected', this.fileInfo);
        this.$emit('validate');
        this.loading = false;
        this.inputValue = this.fileInfo.url;
      } catch (e) {
        this.removeSrc();
      }
    },

    loadFile() {
      return new Promise((resolve) => {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = this.acceptType;
        fileInput.addEventListener('change', () => {
          this.removeSrc();
          resolve(fileInput.files[0]);
        });
        const holder = this.$refs['cs-file-input-holder'];
        while (holder && holder.firstChild) {
          holder.firstChild.remove();
        }
        holder.appendChild(fileInput);
        this.$nextTick().then(() => fileInput.click());
      });
    },

    async uploadFile(file, applicationId) {
      try {
        const uploadInfo = await fetch(
          'https://services-graph.graphexpress.com/generateuploadurl',
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              application_id: applicationId,
            },
            body: JSON.stringify({
              mime_type: file.type,
              file_size: file.size,
              file_name: file.name,
            }),
          }
        ).then((r) => r.json());
        return this.doUpload(file, applicationId, uploadInfo);
      } catch (e) {
        return Promise.reject(e);
      }
    },

    doUpload(file, applicationId, uploadInfo) {
      const fileId = uploadInfo.data.id;
      const uploadUrl = uploadInfo.data.upload_url;
      return new Promise((resolve, reject) => {
        const request = new XMLHttpRequest();
        request.open('PUT', uploadUrl, true);
        request.onload = () => {
          const uploadedUrl = `https://cdn.graphexpress.com/${applicationId}/${fileId}`;
          resolve({
            url: uploadedUrl,
            name: file.name,
            type: file.type,
            size: file.size,
          });
        };
        // request.upload.onprogress = (e) => {
        // const uploadProgress = Math.floor((e.loaded / e.total) * 100);
        // };
        request.onerror = reject;
        request.send(file);
      });
    },

    removeSrc() {
      this.inputValue = '';
      this.fileInfo = null;
      this.$emit('input', '');
      this.$emit('validate');
      this.$v.inputValue.$touch();
    },

    async loadHostedFileInfo(url) {
      const paths = getPaths(url);
      const appId = paths[1];
      const fileId = paths[2];
      if (!appId || !fileId) return;

      this.loading = true;
      try {
        const infoUrl = `https://services-graph.graphexpress.com/fileinfo?application_id=${appId}&file_id=${fileId}`;
        const fileInfo = await fetch(infoUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            application_id: appId,
          },
        }).then((r) => r.json());
        this.fileInfo = {
          name: fileInfo.data.file_name,
          type: fileInfo.data.mime_type,
          size: fileInfo.data.file_size,
        };
      } catch (e) {
        // error loading fileinfo
        this.removeSrc();
      }
      this.loading = false;
    },
  },
  validations() {
    return {
      inputValue: {
        required: () => (this.required ? this.inputValue : true),
      },
    };
  },
};
</script>

<style scoped>
.cs-file-input {
  display: block;
}
.cs-file-input__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
.cs-file-input__upload {
  display: flex;
  background: var(--cs-gray-00);
  cursor: pointer;
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  border: 1px solid;
  border-color: var(--cs-gray-02);
  border-radius: var(--cs-input-border-radius);
}
.cs-file-input__upload-text {
  display: flex;
  flex-direction: column;
  margin: 0 var(--cs-form-input-padding-x);
  word-break: break-word;
}
.cs-file-input__upload-text-title {
  color: var(--cs-gray-07);
}
.cs-file-input__upload-text-description {
  color: var(--cs-gray-04);
}
.cs-file-input__upload-arrow {
  font-size: 22px;
  margin-left: auto;
  margin-top: 7px;
  color: var(--cs-gray-03);
}
.cs-file-input__upload-icon-slot {
  font-size: 30px;
  color: var(--cs-gray-03);
}

.cs-file-input__uploading {
  text-align: center;
}
.cs-file-input__upload-spinner >>> .cs-spinner__dots {
  margin: 0 auto;
}
.cs-file-input__media-preview {
  position: relative;
  overflow: visible;
}
.cs-file-input__media-preview--image {
  display: inline-block;
}

.cs-file-input__media-preview-image {
  max-height: 220px;
  max-width: 100%;
}
.cs-file-input__media-preview-video {
  width: 100%;
}
.cs-file-input__media-preview-video >>> video {
  max-height: 220px;
}
.cs-file-input__media-preview-close {
  position: absolute;
  border-radius: 50%;
  right: -16px;
  top: -16px;
  background-color: var(--cs-gray-00);
  font-size: 18px;
  color: var(--cs-gray-03);
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 1px 10px -4px rgba(0, 0, 0, 0.64);
}
.cs-file-input__media-preview-close .cs-icons-close::before {
  font-weight: 900;
}
.cs-file-input__file-preview-delete-icon {
  font-size: 20px;
  display: block;
  margin-top: 8px;
}
.cs-file-input__file-preview-delete-icon .cs-icons-close::before {
  font-weight: 900;
}
.cs-file-input__upload-preview-edit {
  color: var(--cs-primary-base);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.cs-file-input__upload-preview-edit-icon {
  font-size: 20px;
  margin-right: 4px;
}

.cs-file-input__upload--disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.cs-file-input__upload--error {
  border-color: var(--cs-danger-base);
}

.cs-file-input__upload--success,
.cs-file-input__upload--success:focus {
  border-color: var(--cs-success-base);
}

.cs-file-input__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-file-input__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}

.cs-file-input__input-holder {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
</style>
