<template>
  <div
    class="cs-filter"
    :tabindex="tabindex"
    :disabled="disabled"
    @blur="open = false"
  >
    <div
      class="cs-filter__selected"
      :class="{
        'cs-filter__selected--open': open,
        'cs-filter__selected--empty': selectedLabel === placeholder,
      }"
      @click="open = !open"
    >
      {{ selectedLabel }}
      <div class="cs-filter__icon">
        <slot name="icon">
          <i :class="icon" />
        </slot>
      </div>
    </div>
    <div
      class="cs-filter__options"
      :class="{ 'cs-filter__options--open': !open }"
    >
      <div
        v-for="(option, i) of filterOptions"
        :key="i"
        class="cs-filter__options-option"
        v-bind="$attrs"
        :value="option.value"
        @click="onClick(option)"
      >
        {{ option.label }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
      default: 'Filter by...',
    },
    value: {
      type: String,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
    labelKey: {
      type: String,
      default: 'label',
    },
    valueKey: {
      type: String,
      default: 'value',
    },
    icon: {
      type: String,
      default: 'cs-icons-expand-arrow-filled',
    },
  },
  data() {
    return {
      open: false,
      inputValue: this.value,
    };
  },
  computed: {
    selectedLabel() {
      const match = this.filterOptions.find(
        (option) => option.value === this.inputValue
      );
      return match ? match.label : this.placeholder;
    },
    filterOptions() {
      return this.options.map((option) => ({
        label:
          option[this.labelKey] !== undefined || null
            ? option[this.labelKey]
            : option,
        value:
          option[this.valueKey] !== undefined || null
            ? option[this.valueKey]
            : option,
      }));
    },
  },
  watch: {
    value() {
      this.inputValue = this.value;
    },
  },
  methods: {
    onClick(option) {
      this.open = false;
      this.inputValue = option.value;
      this.$emit('input', option.value);
      this.$emit('select', option);
    },
  },
};
</script>

<style scoped>
.cs-filter {
  ---cs-filter-height: 47px;
  position: relative;
  width: 100%;
  outline: none;
  height: var(---cs-filter-height);
  color: var(--cs-gray-07);
  line-height: var(---cs-filter-height);
}
.cs-filter[disabled] {
  pointer-events: none;
  opacity: 0.5;
  color: var(--cs-gray-03);
}

.cs-filter__selected {
  background-color: transparent;
  color: var(--cs-gray-07);
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  font-size: var(--cs-font-size-100);
}
.cs-filter__selected--empty {
  color: var(--cs-gray-05);
}
.cs-filter__selected--open {
  border-radius: 3px;
  color: var(--cs-gray-07);
}

.cs-filter__options {
  color: var(--cs-gray-00);
  overflow: hidden;
  border-radius: 3px;
  position: absolute;
  background: var(--cs-gray-07) 0% 0% no-repeat padding-box;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: var(--cs-font-size-50);
}
.cs-filter__options--open {
  display: none;
}

.cs-filter__options-option {
  color: var(--cs-gray-00);
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  border-left: 5px solid transparent;
}

.cs-filter__options-option:active {
  background: var(--cs-gray-06) 0% 0% no-repeat padding-box;
  color: var(--cs-primary-base);
  border-left: 5px solid var(--cs-primary-base);
}
@media (hover: hover) and (pointer: fine) {
  .cs-filter__options-option:hover {
    background: var(--cs-gray-06) 0% 0% no-repeat padding-box;
    color: var(--cs-primary-base);
    border-left: 5px solid var(--cs-primary-base);
  }
}

.cs-filter__icon {
  font-size: var(--cs-font-size-100);
  margin-left: 8px;
}
</style>
