<template>
  <div class="cs-floating-label">
    <div class="cs-floating-label__content cs-textstyle-tags">
      <slot />
      <span v-if="label || $slots.label" class="cs-floating-label__label">
        <slot name="label">{{ label }}</slot>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    label: {
      type: String,
    },
  },
};
</script>
<style scoped>
.cs-floating-label {
  --cs-floating-label-color: var(--cs-primary-base);
  --cs-floating-label-text-color: var(--cs-primary-contrast);
}
.cs-floating-label__content {
  position: relative;
}
.cs-floating-label__label {
  position: absolute;
  right: -8px;
  top: 0;
  background: var(--cs-floating-label-color);
  color: var(--cs-floating-label-text-color);
  letter-spacing: 1.2px;
  text-align: left;
  padding: 3px 14px;
}
.cs-floating-label__label::after {
  content: '';
  border: solid transparent;
  border-left-color: var(--cs-black);
  border-top-color: var(--cs-black);
  border-width: 4px;
  position: absolute;
  bottom: -8px;
  right: 0;
}
</style>
