<template>
  <div class="cs-form">
    <slot></slot>
  </div>
</template>

<script>
const csFormElements = [
  '.cs-input',
  '.cs-date-input',
  '.cs-time-input',
  '.cs-place-input',
  '.cs-file-input',
  '.cs-textarea',
  '.cs-radio-group',
  '.cs-checkbox',
  '.cs-toggle',
  '.cs-select',
];
// TODO: support generic form elements later
// const formElements = [];
export default {
  props: {
    value: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      valid: this.value,
      observer: null,
    };
  },
  mounted() {
    this.observer = new MutationObserver(this.onMutation);
    this.observer.observe(this.$el, { attributes: true, subtree: true });
    this.validateForm();
  },
  beforeDestroy() {
    if (this.observer) this.observer.disconnect();
  },
  methods: {
    onMutation() {
      this.validateForm();
    },
    validateForm() {
      const form = this.$el;
      let validCount = 0;
      let elementCount = 0;
      csFormElements.forEach((qs) => {
        const elements = form.querySelectorAll(qs);
        elementCount += elements.length;
        for (let i = 0; i < elements.length; i += 1) {
          const valid = elements[i].getAttribute('valid');
          if (valid) validCount += 1;
        }
      });
      this.valid = validCount === elementCount;
      this.$emit('input', this.valid);
      this.$emit('valid', this.valid);
    },
  },
};
</script>

<style scoped>
.cs-form > * >>> [class*='__error'] {
  min-height: 24px;
}
</style>
