<template>
  <div class="cs-input-note" :class="['cs-input-note--' + type]">
    <i v-if="iconClass" :class="['cs-input-note__icon', iconClass]" />
    <span class="cs-input-note__label"
      ><slot>{{ label }}</slot></span
    >
  </div>
</template>
<script>
const iconsMap = {
  info: 'cs-icons-info',
  error: 'cs-icons-error',
  success: 'cs-icons-check-success',
};
const noteTypes = Object.keys(iconsMap);

export default {
  props: {
    type: {
      type: String,
      default: 'info',
      validator(type) {
        return noteTypes.indexOf(type) > -1;
      },
    },
    label: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: null,
    },
  },
  computed: {
    iconClass() {
      if (this.icon) return this.icon;
      if (this.type && iconsMap[this.type]) return iconsMap[this.type];
      return null;
    },
  },
};
</script>
<style scoped>
.cs-input-note {
  --cs-input-note-color: var(--cs-gray-04);
  color: var(--cs-input-note-color);
}
.cs-input-note--info {
  --cs-input-note-color: var(--cs-gray-04);
}
.cs-input-note--error {
  --cs-input-note-color: var(--cs-danger-base);
}
.cs-input-note--success {
  --cs-input-note-color: var(--cs-success-base);
}
.cs-input-note__icon {
  font-size: 16px;
  margin-right: 4px;
}
</style>
