<template>
  <div class="cs-input-notes cs-textstyle-paragraph-small">
    <slot />
  </div>
</template>

<style scoped>
.cs-input-notes {
  margin-top: 4px;
}

/* Stops the Form component content from jumping so much when one error is shown or hidden */
.cs-form .cs-input-notes {
  min-height: 24px;
}
</style>
