<template>
  <label
    class="cs-input"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <div v-if="label" class="cs-textstyle-label-text cs-input__label-text">
      {{ label }}
      <span v-if="required">*</span>
    </div>
    <input
      v-model.trim="$v.inputValue.$model"
      v-bind="$attrs"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      :disabled="disabled"
      :required="required"
      :class="[
        'cs-textstyle-input-text',
        'cs-input__input',
        {
          'cs-input__input--disabled': disabled,
          'cs-input__input--error': isInvalid,
          'cs-input__input--success': $v.inputValue.$dirty && isSuccess,
        },
      ]"
      @input="onInput"
      v-on="$_formEvents"
    />
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          label="* Required"
          :icon="errorIcon"
        />
        <cs-input-note
          v-if="!$v.inputValue.minLength"
          type="error"
          :icon="errorIcon"
          >At least {{ minLength }} characters</cs-input-note
        >
        <cs-input-note
          v-if="!$v.inputValue.maxLength"
          type="error"
          :icon="errorIcon"
          >No more than {{ maxLength }} characters</cs-input-note
        >
      </template>

      <!-- dirty and no error => success. not dirty and no error = default info -->
      <cs-input-note
        v-if="$v.inputValue.$dirty && !$v.inputValue.$error && successLabel"
        type="success"
        :icon="successIcon"
      >
        {{ successLabel }}
      </cs-input-note>

      <cs-input-note
        v-if="
          defaultLabel &&
          ((!$v.inputValue.$dirty && !$v.inputValue.$error) ||
            ($v.inputValue.$dirty && !$v.inputValue.$error && !successLabel))
        "
        >{{ defaultLabel }}</cs-input-note
      >

      <slot name="input-notes" />
    </cs-input-notes>
  </label>
</template>
<script>
import CsInputNotes from '@/components/InputNotes.vue';
import CsInputNote from '@/components/InputNote.vue';

import { arrayIncludes } from '@/utils/utils';

import { validationMixin } from 'vuelidate';
import { requiredIf, minLength, maxLength } from 'vuelidate/lib/validators';

import { inputEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

const TYPES = [
  'text',
  'password',
  'email',
  'number',
  'url',
  'tel',
  'search',
  'range',
  'color',
  'date',
  'time',
];
export default {
  components: {
    CsInputNotes,
    CsInputNote,
  },
  mixins: [validationMixin, formEventsMixin],
  props: {
    name: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: null,
    },
    value: {
      type: [String, Number],
      default: '',
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    type: {
      type: String,
      default: 'text',
      validator: (type) => arrayIncludes(TYPES, type),
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    minLength: {
      type: Number,
      default: null,
    },
    maxLength: {
      type: Number,
      default: null,
    },
    successLabel: {
      type: String,
      default: null,
    },
    defaultLabel: {
      type: String,
      default: null,
    },
    successIcon: {
      type: String,
      default: 'cs-icons-check-success',
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
  },
  data() {
    return {
      inputValue: this.value,
      $_formEventTriggers: inputEvents,
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return (
        this.success ||
        (!this.isInvalid && (this.successLabel || this.invalid === false))
      );
    },
  },
  validations() {
    return {
      inputValue: {
        required: requiredIf('required'),
        minLength: (val) =>
          this.minLength ? minLength(this.minLength)(val) : true,
        maxLength: (val) =>
          this.maxLength ? maxLength(this.maxLength)(val) : true,
      },
    };
  },
  watch: {
    value(newValue) {
      this.inputValue = newValue;
      this.$emit('input', this.inputValue);
      this.$emit('validate');
      this.$v.inputValue.$touch();
    },
  },
  methods: {
    onInput($event) {
      this.$emit('input', $event.target.value);
      this.$emit('validate');
    },
  },
};
</script>

<style scoped>
.cs-input__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}

.cs-input__input {
  display: block;
  width: 100%;
  line-height: 1;
  box-sizing: border-box;
  padding: var(--cs-form-input-padding-y) var(--cs-form-input-padding-x);
  color: var(--cs-gray-07);
  background-color: var(--cs-gray-00);
  border: 1px solid;
  border-color: var(--cs-gray-02);
  border-radius: var(--cs-input-border-radius);
}

.cs-input__input:focus {
  outline: none;
  border-color: var(--cs-gray-03);
}

.cs-input__input--disabled {
  background-color: var(--cs-gray-01);
  color: var(--cs-gray-04);
}

.cs-input__input--success,
.cs-input__input--success:focus {
  border-color: var(--cs-success-base);
}

.cs-input__input--error,
.cs-input__input--error:focus {
  border-color: var(--cs-danger-base);
}
.cs-input__error {
  color: var(--cs-danger-base);
}

.cs-form .cs-input__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
