<template>
  <div class="cs-link-preview" :class="layoutSizeClass">
    <div v-if="!hideLabel" class="cs-link-preview__top">
      <div class="cs-link-preview__top-icon">
        <slot name="link-icon">
          <i :class="linkIcon"></i>
        </slot>
      </div>
      <div class="cs-link-preview__top-label cs-textstyle-label-text">
        {{ linkLabel }}
      </div>
    </div>
    <div
      class="cs-link-preview__content"
      :class="[`cs-link-preview__content--${picturePosition}`]"
      @click="openLink"
    >
      <div
        v-if="picture"
        class="cs-link-preview__content-picture"
        :class="{ 'cs-link-preview__content-picture--padding': picturePadding }"
      >
        <img :src="picture" alt="picture" />
      </div>
      <div
        :class="[
          'cs-link-preview__content-textbox',
          { 'cs-link-preview__content-textbox--nopicture': !picture },
        ]"
      >
        <div
          v-if="title"
          class="cs-textstyle-detail-heading cs-link-preview__content-textbox--title"
        >
          {{ title }}
        </div>
        <div
          v-if="description"
          class="cs-textstyle-paragraph cs-link-preview__content-textbox--desc"
        >
          {{ description }}
        </div>
        <div
          class="cs-textstyle-link-text cs-link-preview__content-textbox--src"
        >
          {{ src }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import layoutMixin from '@/mixins/layout';

export default {
  mixins: [layoutMixin],
  props: {
    title: {
      type: String,
      default: null,
    },
    src: {
      type: String,
      default: null,
    },
    linkLabel: {
      type: String,
      default: 'Link',
    },
    picture: {
      type: String,
      default: null,
    },
    picturePadding: {
      type: Boolean,
      default: false,
    },
    picturePosition: {
      type: String,
      default: 'left',
      validator: (x) => {
        return ['top', 'left'].indexOf(x) > -1;
      },
    },
    description: {
      type: String,
      default: null,
    },
    linkIcon: {
      type: String,
      default: 'cs-icons-link-filled',
    },
    hideLabel: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    openLink() {
      this.$emit('open');
      // After adding plugin such as cordova-plugin-inappbrowser, using the following should open the link in the browser
      window.open(this.src, '_system');
    },
  },
};
</script>

<style scoped>
.cs-link-preview.cs-link-preview--layout-small {
  ---cs-link-preview-image-width: 100px;
  ---cs-link-preview-image-height: 100px;
}
.cs-link-preview.cs-link-preview--layout-medium,
.cs-link-preview.cs-link-preview--layout-large {
  ---cs-link-preview-image-width: 120px;
  ---cs-link-preview-image-height: 160px;
}

.cs-link-preview {
  min-width: 0;
}
.cs-link-preview__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cs-link-preview__top-icon {
  color: var(--cs-gray-03);
  margin-right: 8px;
  font-size: 18px;
}
.cs-link-preview__top-label {
  color: var(--cs-gray-05);
}

.cs-link-preview__content {
  display: flex;
  border-radius: var(--cs-card-border-radius);
  border: 1px solid var(--cs-gray-02);
  background-color: var(--cs-gray-01);
  margin-top: 8px;
  cursor: pointer;
  overflow: hidden;
}
.cs-link-preview__content--top {
  flex-direction: column;
}

.cs-link-preview__content--left .cs-link-preview__content-picture {
  width: var(---cs-link-preview-image-width);
}
.cs-link-preview__content--top .cs-link-preview__content-picture {
  height: var(---cs-link-preview-image-height);
}
.cs-link-preview__content-picture--padding {
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
}
.cs-link-preview__content--left .cs-link-preview__content-picture--padding {
  padding-right: 0;
}
.cs-link-preview__content--top .cs-link-preview__content-picture--padding {
  padding-bottom: 0;
}

.cs-link-preview__content-picture * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cs-link-preview__content-picture--padding * {
  border-radius: 5px;
  border: 1px solid var(--cs-gray-02);
}

.cs-link-preview__content-textbox {
  flex: 2;
  min-width: 0px;
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
}

.cs-link-preview__top,
.cs-link-preview__content-textbox--title,
.cs-link-preview__content-textbox--desc {
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  hyphens: auto;
}

.cs-link-preview__content-textbox--title,
.cs-link-preview__content-textbox--desc {
  margin-bottom: 8px;
}
.cs-link-preview__content-textbox--title {
  color: var(--cs-gray-07);
}
.cs-link-preview__content-textbox--desc {
  color: var(--cs-gray-05);
}
.cs-link-preview__content-textbox--src {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--cs-primary-base);
}
</style>
