<template>
  <cs-button
    v-bind="$attrs"
    :class="['cs-login-button', 'cs-login-button__' + network]"
  >
    <slot name="icon">
      <i v-if="icon || login.icon" slot="icon" :class="icon || login.icon"></i>
    </slot>
    <span>
      <slot>
        <span v-if="network !== 'default'"> {{ loginWithLabel }} </span>
        <span v-else> {{ loginLabel }} </span>
        <span>{{ login.text }}</span>
      </slot>
    </span>
  </cs-button>
</template>

<script>
import CsButton from '@/components/Button.vue';

const networks = {
  default: {
    icon: '',
    text: '',
  },
  google: {
    icon: 'cs-icons-google-plus-filled',
    text: 'Google',
  },
  microsoft: {
    icon: 'cs-icons-microsoft-filled',
    text: 'Microsoft',
  },
  facebook: {
    icon: 'cs-icons-facebook-filled',
    text: 'Facebook',
  },
  linkedin: {
    icon: 'cs-icons-linkedin-filled',
    text: 'LinkedIn',
  },
  twitter: {
    icon: 'cs-icons-twitter-filled',
    text: 'Twitter',
  },
};

export default {
  components: {
    CsButton,
  },
  props: {
    network: {
      type: String,
      default: 'default',
      validator(x) {
        return !!networks[x];
      },
    },
    icon: {
      type: String,
    },
    loginLabel: {
      type: String,
      default: 'Login',
    },
    loginWithLabel: {
      type: String,
      default: 'Login with',
    },
  },
  computed: {
    login() {
      return networks[this.network];
    },
  },
};
</script>
<style scoped>
.cs-login-button {
  --cs-button-color: var(--cs-primary-base);
  --cs-button-color-hover: var(--cs-primary-dark);
  --cs-button-text-color: var(--cs-primary-contrast);
  --cs-button-text-color-hover: var(--cs-primary-contrast);
}
.cs-login-button__default {
  --cs-button-color: var(--cs-primary-base);
  --cs-button-color-hover: var(--cs-primary-dark);
}
.cs-login-button__google {
  --cs-button-color: #dd4b39;
  --cs-button-color-hover: #bc200d;
}
.cs-login-button__microsoft {
  --cs-button-color: #1b67be;
  --cs-button-color-hover: #0059bf;
}
.cs-login-button__facebook {
  --cs-button-color: #5f86d5;
  --cs-button-color-hover: #2456ba;
}
.cs-login-button__linkedin {
  --cs-button-color: #48a7e3;
  --cs-button-color-hover: #1683c7;
}
.cs-login-button__twitter {
  --cs-button-color: #76c4ff;
  --cs-button-color-hover: #1c9dff;
}
</style>
