<template>
  <div class="cs-main-header">
    <div class="cs-main-header__content">
      <!-- button-parent is used for centering the title -->
      <div
        class="cs-main-header__button-parent"
        :style="{ width: buttonWidth }"
      >
        <!-- buttons-left actually holds the buttons -->
        <span
          ref="buttons-left"
          class="cs-main-header__buttons cs-main-header__buttons-left"
        >
          <slot name="buttons-left" />
        </span>
      </div>

      <div
        v-if="title"
        class="cs-main-header__title cs-textstyle-page-title"
        :class="'cs-main-header__title--' + alignTitle"
      >
        {{ title }}
      </div>
      <!-- Title spacer is used to maintain a gap between the left and right buttons when there's no header text -->
      <div v-else class="cs-main-header__title-spacer"></div>

      <!-- button-parent is used for centering the title -->
      <div
        class="cs-main-header__button-parent cs-main-header__button-parent-right"
        :style="{ width: buttonWidth }"
      >
        <!-- buttons-right actually holds the buttons -->
        <span
          ref="buttons-right"
          class="cs-main-header__buttons cs-main-header__buttons-right"
        >
          <slot name="buttons-right" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
/** NOTES
 * The following only applies when alignTitle === 'center'
 * Uses ResizeObserver polyfill (ResizeObserver that falls back to MutationObserver if not supported)
 * Watches the left and right button spans for change in size
 * Then sets the width of their parent to be the width of whichever is wider
 * So the button slot parents try to fill the same space on each side of the header title in order to center it
 * However, if a button is particularly wide, the title may still end up off-center
 * Extremely wide buttons will end up
 */
import ResizeObserver from 'resize-observer-polyfill';

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    alignTitle: {
      type: String,
      default: 'center',
      validator: (x) => {
        return ['center', 'left', 'right'].indexOf(x) > -1;
      },
    },
  },
  data() {
    return {
      minButtonWidth: 40,
    };
  },
  computed: {
    buttonWidth() {
      if (this.alignTitle === 'center') {
        return `${this.minButtonWidth}px`;
      }
      return 'auto';
    },
  },
  mounted() {
    const buttonsLeft = this.$refs['buttons-left'];
    const buttonsRight = this.$refs['buttons-right'];
    const observer = new ResizeObserver(this.handleResize);
    if (buttonsLeft instanceof Element) {
      observer.observe(buttonsLeft);
    }
    if (buttonsRight instanceof Element) {
      observer.observe(buttonsRight);
    }
  },
  methods: {
    handleResize() {
      const buttonsLeft = this.$refs['buttons-left'];
      const buttonsRight = this.$refs['buttons-right'];
      if (!buttonsLeft || !buttonsRight) return;
      let minWidth = buttonsLeft.clientWidth;
      if (buttonsRight.clientWidth > minWidth)
        minWidth = buttonsRight.clientWidth;
      this.minButtonWidth = minWidth;
    },
  },
};
</script>

<style scoped>
.cs-main-header {
  --cs-main-header-background-color: #ffffff;
  --cs-main-header-text-color: var(--cs-gray-07);
}
.cs-main-header {
  background-color: var(--cs-main-header-background-color);
  color: var(--cs-main-header-text-color);
  padding: var(--cs-page-margin-x);
  box-shadow: 0px 1px 0px 0px var(--cs-gray-02);
}

.cs-main-header__content {
  display: flex;
  align-items: center;
  margin: -10px;
  justify-content: center;
  overflow: hidden;
  min-height: 48px;
  box-sizing: border-box;
}

.cs-main-header__title {
  padding: 10px;
  display: block;
  flex: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  box-sizing: border-box;
}
.cs-main-header__title--center {
  text-align: center;
}
.cs-main-header__title--left {
  text-align: left;
}
.cs-main-header__title--right {
  text-align: right;
}
.cs-main-header__title-spacer {
  flex: 1;
}

.cs-main-header__buttons {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
.cs-main-header__buttons-left {
  float: left;
}
.cs-main-header__buttons-right {
  float: right;
}

.cs-main-header__buttons > * {
  padding: 10px;
}

.cs-main-header__buttons > i {
  cursor: pointer;
  font-size: 24px;
}
</style>
