<template>
  <div class="cs-map">
    <h5 v-if="!apiKey">{{ validApiKeyLabel }}</h5>
    <div v-show="apiKey" ref="googleMap" class="cs-map__container"></div>
  </div>
</template>

<script>
import Maps from '@/mixins/googlemaps';
import customStyles from '@/assets/map/default.json';
import { getMarkerIcon, getPointIcon } from '@/assets/map/icons';

export default {
  mixins: [Maps],
  props: {
    validApiKeyLabel: {
      type: String,
      default: 'Please provide valid api key to load the map',
    },
    center: {
      type: Object,
      default: null,
    },
    apiKey: {
      type: String,
      default: '',
    },
    markers: {
      type: Array,
      default: null,
    },
    zoom: {
      type: Number,
      default: 15,
    },
    showZoomControls: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      googleMapScript: null,
      gid: 'gmap',
      map: null,
      lastKeyUsed: null,
      mapConfig: {
        // Set lat and lng from props
        center: this.center,
        // Set zoom from props (Default: 10)
        zoom: this.zoom,
        scaleControl: true,
        scrollwheel: true,
        streetViewControl: false,
        mapTypeControl: false,
        zoomControl: this.showZoomControls,
        mapTypeId: 'roadmap',
        fullscreenControl: false,
        clickableIcons: false,
        // Custom styles for the map (grey/silver layout)
        styles: customStyles,
      },
    };
  },
  watch: {
    apiKey() {
      this.loadMap();
    },
  },
  mounted() {
    this.loadMap();
  },
  methods: {
    loadMap() {
      if (!this.apiKey) return;
      this.googleMaps.init(this.apiKey).then(this.initializeMap);
    },
    async locateCenter() {
      const locationInfo = await fetch('https://ipapi.co/json/').then((r) =>
        r.json()
      );
      const userLocation = {
        lat: locationInfo.latitude,
        lng: locationInfo.longitude,
      };
      this.mapConfig.center = userLocation;
    },
    async initializeMap() {
      // If no center is provided, use the user's location as center
      if (!this.center) {
        await this.locateCenter();
      }

      // Get the container from ref in template
      const mapContainer = this.$refs.googleMap;
      this.map = new window.google.maps.Map(mapContainer, this.mapConfig);

      // Variable to track the active marker and lastopened infobox
      let lastOpenedInfoWindow;
      let activeMarker;

      // Icon color
      const iconColor = window
        .getComputedStyle(this.$el)
        .getPropertyValue('--cs-map-marker-color');

      // Setting marker at the center
      if (!this.center) {
        window.google.maps.Marker({
          position: this.mapConfig.center,
          map: this.map,
          icon: getMarkerIcon(iconColor),
        });
      }

      // Get and set markers and tooltip on the map
      if (this.markers)
        this.markers.forEach((mker) => {
          // Create a tooltip
          const infowindow = new window.google.maps.InfoWindow({
            // Set tooltip html
            content: `
						<div class="cs-map__info-popup">
							<div class="cs-map__info-popup-title cs-textstyle-detail-heading">${
                mker.title
              }</div>
							${
                mker.location
                  ? `<div class="cs-map__info-popup-location cs-textstyle-paragraph"><i class="cs-icons-marker-filled cs-map__info-popup-location--icon"></i>${mker.location}</div>`
                  : ''
              }
							${
                mker.description
                  ? `<div class="cs-map__info-popup-description cs-textstyle-link-text">${mker.description}</div>`
                  : ''
              }
						</div>

						<style>
						.gm-style-iw {
							box-shadow: 0 20px 60px rgba(19, 22, 47, 0.1) !important;
							border-radius: 3px !important;
							background-color: var(--cs-gray-06) !important;
							color: var(--cs-gray-00) !important;
							padding: 20px !important;
						}

						.gm-style .gm-style-iw-t::after {
							background: var(--cs-gray-06) !important;
              height: 9px;
              width: 9px;
						}

						.gm-style-iw-d  {
							overflow: hidden !important;
						}

						.gm-style-iw button {
							display: none !important;
						}
            
						.cs-map__info-popup {
							cursor: pointer;
						}

						.cs-map__info-popup-title {
							margin-bottom: var(---cs-map-text-margin);
              color: var(--cs-gray-00);
						}

						.cs-map__info-popup-location {
							margin-bottom: var(---cs-map-text-margin);
							color: var(--cs-gray-03);
						}

						.cs-map__info-popup-description {
							color: var(--cs-map-marker-color);
						}
						</style>
					`,
            maxWidth: 260,
          });

          // click event added on tooltip
          window.google.maps.event.addListenerOnce(
            infowindow,
            'domready',
            () => {
              const el = document.getElementsByClassName(
                'cs-map__info-popup'
              )[0];
              el.addEventListener('click', () => {
                this.$emit('tap', mker);
              });
            }
          );

          // create Markers from props from parent component
          const marker = new window.google.maps.Marker({
            position: {
              lat: mker.lat,
              lng: mker.lng,
            },
            map: this.map,
            icon: getMarkerIcon(iconColor),
          });

          // Click event on marker so as to open the infobox when clicked
          marker.addListener(
            'click',
            (() => {
              return () => {
                if (lastOpenedInfoWindow) {
                  lastOpenedInfoWindow.close();
                }

                infowindow.open(this.map, marker);
                lastOpenedInfoWindow = infowindow;

                // check to see if activeMarker is set
                // if so, set the icon back to the default
                if (activeMarker)
                  activeMarker.setIcon(getMarkerIcon(iconColor));

                // set the icon for the clicked marker
                marker.setIcon(getPointIcon(iconColor));

                // update the value of activeMarker
                activeMarker = marker;
              };
            })(marker)
          );
        });
    },
  },
};
</script>

<style scoped>
.cs-map {
  --cs-map-height: 100vh;
  --cs-map-width: 100%;
  --cs-map-marker-color: var(--cs-primary-base);
  ---cs-map-text-margin: 0;
  height: var(--cs-map-height);
  width: var(--cs-map-width);
}
@media (min-width: 768px) {
  .cs-map {
    ---cs-map-text-margin: 4px;
  }
}
.cs-map__container {
  height: inherit;
  width: inherit;
}
</style>
