<template>
  <div
    ref="messageBox"
    :class="[
      'message-box',
      'message-box--' + variant,
      { 'message-box--show-border': showBorder },
      'message-box__align-' + align,
      { 'message-box__empty': !value },
      layoutSizeClass,
    ]"
  >
    <div v-if="$slots['attachment-icon']" class="message-box__attachment">
      <div
        v-if="!attachmentOpen || (value && showAttachments && !attachmentOpen)"
        class="message-box__attachment-add-icon"
        @click="toggleAttachments"
      >
        <slot name="add-icon">
          <i :class="addIcon" />
        </slot>
      </div>
      <div v-if="attachmentOpen" class="message-box__attachment-icons">
        <div
          v-if="
            (attachmentOpen && !showAttachments) ||
            (value && showAttachments && attachmentOpen)
          "
          class="message-box__attachment-cancel-icon"
          @click="toggleAttachments"
        >
          <slot name="cancel-icon">
            <i :class="cancelIcon"></i>
          </slot>
        </div>
        <div class="message-box__floating-attachments">
          <slot name="attachment-icon"></slot>
        </div>
      </div>
    </div>
    <div class="message-box__body">
      <div
        v-if="align == 'bottom' && $slots.media"
        class="message-box__media-top"
      >
        <slot name="media"></slot>
      </div>
      <textarea
        ref="textarea"
        class="message-box__textarea cs-textstyle-input-text"
        :class="{ 'message-box__textarea--shrink': attachmentOpen }"
        rows="1"
        :placeholder="placeholder"
        :value="value"
        @input="onInput"
      ></textarea>
      <div
        v-if="align == 'top' && $slots.media"
        class="message-box__media-bottom"
      >
        <slot name="media"></slot>
      </div>
    </div>
    <div class="message-box__send-button-wrapper">
      <cs-button
        :disabled="!canSend"
        size="small"
        :variant="variant"
        @click="send()"
        >{{ buttonLabel }}</cs-button
      >
    </div>
    <div class="message-box__send-icon" :disabled="!canSend" @click="send">
      <slot name="icon">
        <i :class="icon"></i>
      </slot>
    </div>
  </div>
</template>

<script>
import CsButton from '@/components/Button.vue';
import { variantValidator, alignValidator } from '@/utils/validators';
import layoutMixin from '@/mixins/layout';

export default {
  components: {
    CsButton,
  },
  mixins: [layoutMixin],
  props: {
    value: {
      type: String,
      default: '',
    },
    buttonLabel: {
      type: String,
      default: 'Send',
    },
    placeholder: {
      type: String,
      default: 'Write something...',
    },
    icon: {
      type: String,
      default: 'cs-icons-send-filled',
    },
    addIcon: {
      type: String,
      default: 'cs-icons-plus',
    },
    cancelIcon: {
      type: String,
      default: 'cs-icons-close',
    },
    showBorder: {
      type: Boolean,
      default: false,
    },
    variant: {
      type: String,
      default: 'secondary',
      validator: variantValidator,
    },
    align: {
      type: String,
      default: 'top',
      validator: alignValidator,
    },
    showAttachments: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      attachmentOpen: false,
    };
  },
  computed: {
    canSend() {
      return this.value.trim().length > 0;
    },
  },
  watch: {
    showAttachments() {
      this.attachmentOpen = true;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.checkSize();
      this.setInitialAttachmentsState();
    });
  },
  methods: {
    send() {
      this.$emit('send', this.value);
      this.$emit('input', '');
      setTimeout(this.checkSize);
    },
    onInput($event) {
      this.checkSize();
      this.hideAttachmentsOnInput($event.target.value);
      this.$emit('input', $event.target.value);
    },
    checkSize() {
      const ta = this.$refs.textarea;
      ta.style.height = 'auto';
      let height = ta.scrollHeight;
      if (ta.scrollHeight < 22) {
        height = 22;
      }
      ta.style.height = `${height}px`;
    },
    toggleAttachments() {
      this.attachmentOpen = !this.attachmentOpen;
    },
    setInitialAttachmentsState() {
      if (this.showAttachments) {
        this.attachmentOpen = true;
      }
    },
    hideAttachmentsOnInput(value) {
      this.attachmentOpen = false;
      if (!value && this.showAttachments) {
        this.attachmentOpen = true;
      }
    },
  },
};
</script>

<style scoped>
/* Default mobile style */
.message-box {
  ---cs-message-box-padding-mobile: 16px;
  ---cs-message-box-padding-desktop: 16px;
  ---cs-message-box-variant: var(--cs-secondary-base);
  display: flex;
  box-shadow: 0 1px 2px #0000000d;
  border-radius: var(--cs-input-border-radius);
  background-color: var(--cs-gray-00);
  padding: var(---cs-message-box-padding-mobile);
  box-sizing: border-box;
}
.message-box--primary {
  ---cs-message-box-variant: var(--cs-primary-base);
}
.message-box--secondary {
  ---cs-message-box-variant: var(--cs-secondary-base);
}
.message-box--success {
  ---cs-message-box-variant: var(--cs-success-base);
}
.message-box--warning {
  ---cs-message-box-variant: var(--cs-warning-base);
}
.message-box--danger {
  ---cs-message-box-variant: var(--cs-danger-base);
}
.message-box--info {
  ---cs-message-box-variant: var(--cs-info-base);
}
.message-box--default {
  ---cs-message-box-variant: var(--cs-default-base);
}
.message-box__align-top {
  align-items: flex-start;
}
.message-box__align-bottom {
  align-items: flex-end;
}
.message-box__attachment i {
  font-size: 18px;
  cursor: pointer;
  padding: 2px;
  display: block;
}
.message-box__attachment-add-icon {
}
.message-box__attachment-cancel-icon {
}
.message-box__attachment-icons {
  display: flex;
  flex-direction: column;
}
.message-box__align-bottom .message-box__attachment-icons {
  flex-flow: column-reverse;
}
.message-box__empty .message-box__attachment-icons {
  flex-direction: row;
}
.message-box__empty .message-box__floating-attachments {
  display: flex;
}
.message-box__textarea {
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  width: 100%;
}
.message-box__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}
.message-box__body .message-box__media-top {
  margin-bottom: var(--cs-card-content-margin-y);
}
.message-box__body .message-box__media-bottom {
  margin-top: var(--cs-card-content-margin-y);
}
.message-box__body .message-box__media-top >>> *,
.message-box__body .message-box__media-bottom >>> * {
  width: 100%;
}
.message-box__attachment + .message-box__body {
  padding-left: 12px;
}
.message-box__send-button-wrapper {
  display: none;
  cursor: pointer;
}
.message-box__send-icon {
  display: inline-block;
  width: 20px;
  font-size: 20px;
  color: var(---cs-message-box-variant);
  cursor: pointer;
  transition: color 0.2s;
}
.message-box__send-icon[disabled] {
  pointer-events: none;
}
.message-box--show-border {
  border: 1px solid var(--cs-gray-02);
  box-shadow: none;
  ---cs-message-box-padding-mobile: 10px;
}

/* Tablet and desktop style */

.cs-message-box--layout-medium .message-box,
.cs-message-box--layout-large .message-box {
  padding: var(---cs-message-box-padding-desktop);
}
.cs-message-box--layout-medium .message-box__textarea,
.cs-message-box--layout-large .message-box__textarea {
  margin: 0;
}
.cs-message-box--layout-medium .message-box__send-button-wrapper,
.cs-message-box--layout-large .message-box__send-button-wrapper {
  display: inline-block;
}
.cs-message-box--layout-medium .message-box__send-icon,
.cs-message-box--layout-large .message-box__send-icon {
  display: none;
}
</style>
