<template>
  <div class="message-wrapper" :class="outgoing ? 'outgoing' : 'incoming'">
    <div v-if="senderPictureComputed || senderNameComputed" class="alignment">
      <div class="message-sender">
        <cs-avatar
          size="small"
          :picture="senderPictureComputed"
          :name="senderNameComputed"
        />
        <span
          class="sender-name cs-textstyle-paragraph-small-bold"
          v-if="senderNameComputed"
        >
          {{ senderNameComputed }}
        </span>
      </div>
    </div>
    <div class="message-body alignment">
      <div
        class="message-background cs-textstyle-paragraph-small"
        @click="toggleOptions"
      >
        <slot />
      </div>
      <div class="options" v-if="showOptions" @click="$emit('options')">
        <i class="cs-icons-options"></i>
      </div>
    </div>
    <div v-if="date || dateString" class="alignment">
      <div class="date">{{ dateString ? dateString : formattedDate }}</div>
    </div>
  </div>
</template>

<script>
import CsAvatar from '@/components/Avatar.vue';

export default {
  components: {
    CsAvatar,
  },
  props: {
    outgoing: {
      type: Boolean,
      default: false,
    },
    sender: {
      type: Object,
    },
    senderPicture: {
      type: String,
    },
    senderName: {
      type: String,
    },
    date: {
      type: [Date, String, Number],
      default: null,
    },
    dateString: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      showOptions: false,
    };
  },
  computed: {
    formattedDate() {
      const d = new Date(this.date);
      if (d.toString() === 'Invalid Date') return '';
      d.setSeconds(0, 0);

      const tempDate = new Date(d);
      tempDate.setMinutes(0, 0, 0);
      const now = new Date();
      now.setMinutes(0, 0, 0);

      const timeDiffHours = (now.getTime() - d.getTime()) / 60 / 60 / 1000;
      if (timeDiffHours < now.getHours()) {
        // same day
        return this.formatAMPM(d);
      }
      return `${d.toDateString().split(' ')[1]} ${d.getDate()}`;
    },
    senderPictureComputed() {
      return this.senderPicture || (this.sender && this.sender.picture) || '';
    },
    senderNameComputed() {
      return this.senderName || (this.sender && this.sender.name) || '';
    },
  },
  methods: {
    formatAMPM(date) {
      let hours = date.getHours();
      let minutes = date.getMinutes();
      const ampm = hours >= 12 ? 'PM' : 'AM';
      hours %= 12;
      hours = hours || 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? `0${minutes}` : minutes;
      return `${hours}:${minutes} ${ampm}`;
    },
    toggleOptions() {
      this.showOptions = !this.showOptions;
    },
  },
};
</script>
<style scoped>
.message-wrapper {
  margin-top: 12px;
}
.alignment {
  display: flex;
}
.incoming .alignment {
  margin-right: 50px;
  flex-direction: row;
}
.outgoing .alignment {
  margin-left: 50px;
  flex-direction: row-reverse;
}

.message-sender {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}
.incoming .message-sender {
  flex-direction: row;
}
.outgoing .message-sender {
  flex-direction: row-reverse;
}
.message-sender img {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  object-fit: cover;
}
.message-sender span {
  padding: 2.5px 9px;
  font-size: var(--cs-font-size-50);
}
.message-body {
  align-items: center;
}
.message-background {
  display: inline-block;
  padding: var(--cs-message-padding-y) var(--cs-message-padding-x);
  border-radius: 8px;
  white-space: pre-line;
}

.incoming .message-background {
  color: var(--cs-gray-07);
  background-color: var(--cs-gray-01);
  border-bottom-left-radius: 0;
}
.incoming .message-background > *,
.incoming .message-background a {
  color: var(--cs-gray-07);
}

.outgoing .message-background {
  color: var(--cs-primary-contrast);
  background-color: var(--cs-primary-base);
  border-bottom-right-radius: 0;
}
.outgoing .message-background > *,
.outgoing .message-background a {
  color: var(--cs-primary-contrast);
}

.date {
  margin-top: 4px;
  font-size: var(--cs-font-size-50);
  color: var(--cs-gray-04);
}
.options i {
  color: var(--cs-gray-03);
  margin-left: 6px;
  margin-right: 6px;
}
</style>
