<template>
  <div class="cs-modal" :class="layoutSizeClass">
    <transition name="fade">
      <div v-if="show">
        <div
          :class="['cs-modal__backdrop', { 'has-backdrop': backdrop }]"
          @click="backdropClick"
        ></div>
        <div class="cs-modal__popup">
          <!-- Header -->
          <div ref="modalHeader" class="cs-modal__header">
            <div
              v-if="$slots.header"
              class="cs-modal__header-content cs-textstyle-item-heading"
            >
              <div v-if="isMobile" class="cs-modal__button-fallback">
                <slot name="fallback"></slot>
              </div>

              <slot name="header"></slot>

              <div v-if="isMobile" class="cs-modal__button-main">
                <slot name="main"></slot>
              </div>
            </div>
            <div v-if="!isMobile" class="cs-modal__header-button">
              <cs-button
                fill="clear"
                variant="secondary"
                :style="{ '--cs-button-padding': '0' }"
                @click="closeModal"
              >
                <i class="cs-icons-close"></i>
              </cs-button>
            </div>
          </div>

          <!-- Body -->
          <div v-if="$slots.body" class="cs-modal__body cs-textstyle-paragraph">
            <slot name="body"></slot>
          </div>

          <!-- Footer -->
          <div
            v-if="showFooter"
            class="cs-modal__footer"
            :class="{ 'cs-modal__footer-with-extra': $slots.extra }"
          >
            <div v-if="$slots.extra" class="cs-modal__action-extra">
              <slot name="extra"></slot>
            </div>

            <div class="cs-modal__action-buttons">
              <div v-if="$slots.optional" class="optional">
                <slot name="optional"></slot>
              </div>
              <div v-if="$slots.fallback && !isMobile" class="fallback">
                <slot name="fallback"></slot>
              </div>
              <div v-if="$slots.main && !isMobile" class="main">
                <slot name="main"></slot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import CsButton from '@/components/Button.vue';
import layoutMixin from '@/mixins/layout';

export default {
  components: {
    CsButton,
  },
  mixins: [layoutMixin],
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    backdrop: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      numberOfButtons: 0,
    };
  },
  computed: {
    isMobile() {
      return this.layoutSize === 'small';
    },
    showFooter() {
      return (
        this.$slots.extra ||
        this.$slots.optional ||
        this.$slots.fallback ||
        this.$slots.main
      );
    },
  },
  beforeMount() {
    this.forceClearButtonsOnMobile();
  },
  mounted() {
    this.forceClearButtonsOnMobile();
  },
  updated() {
    this.forceClearButtonsOnMobile();
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
    backdropClick() {
      if (this.backdrop) this.closeModal();
    },
    forceClearButtonsOnMobile() {
      if (this.isMobile && this.$refs.modalHeader) {
        this.$refs.modalHeader
          .querySelectorAll(
            `.cs-modal__button-fallback button, .cs-modal__button-main button`
          )
          .forEach((element) => {
            if (element.classList.contains('cs-button--solid')) {
              element.classList.remove('cs-button--solid');
              element.classList.add('cs-button--clear');
            }
            if (element.classList.contains('cs-button--outline')) {
              element.classList.remove('cs-button--outline');
              element.classList.add('cs-button--clear');
            }
          });
      }
    },
  },
};
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.cs-modal {
  --cs-modal-color: var(--cs-gray-00);
  ---cs-modal-width: 650px;
  ---cs-modal-max-height: 650px;
}
.cs-modal__popup {
  background-color: var(--cs-modal-color);
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  flex-direction: column;
}

/** Modal Header styling */
.cs-modal__header {
  border-bottom: 1px solid var(--cs-gray-02);
  padding-bottom: var(--cs-card-padding-y);
}
.cs-modal__header-button {
  color: var(--cs-gray-03);
  cursor: pointer;
  font-size: var(--cs-font-size-300);
  font-weight: var(--cs-font-weight-black);
}

/** Modal Body styling */
.cs-modal__body {
  flex-grow: 2;
}

/** Modal Footer Styling */
.cs-modal__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--cs-card-padding-y);
}
.cs-modal__footer-with-extra {
  justify-content: space-between;
}
.cs-modal__footer >>> span {
  font-size: var(--cs-font-size-10);
  color: var(--cs-gray-05);
}

.cs-modal__footer .cs-modal__action-extra {
  padding: 5px;
}

.cs-modal__footer .cs-modal__action-extra >>> i {
  font-size: 24px;
  color: var(--cs-gray-03);
  margin: 10px;
}

.cs-modal--layout-small .cs-modal__popup {
  right: 0;
  bottom: 0;
}
.cs-modal--layout-small .cs-modal__body {
  overflow-x: hidden;
  overflow-y: auto;
}
.cs-modal--layout-small .cs-modal__header-content {
  display: flex;
  justify-content: space-between;
}

.cs-modal--layout-small .cs-modal__header-content >>> * {
  display: inline-block;
  padding: 0;
}

.cs-modal--layout-medium .cs-modal__backdrop,
.cs-modal--layout-large .cs-modal__backdrop {
  z-index: 1000;
  background-color: var(--cs-gray-06);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cs-modal--layout-medium .has-backdrop,
.cs-modal--layout-large .has-backdrop {
  opacity: 0.2;
}

.cs-modal--layout-medium .cs-modal__popup,
.cs-modal--layout-large .cs-modal__popup {
  width: var(---cs-modal-width);
  max-height: var(---cs-modal-max-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  border-radius: var(--cs-card-border-radius);
  border: 1px solid var(--cs-gray-02);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.cs-modal--layout-medium .cs-modal__header,
.cs-modal--layout-large .cs-modal__header {
  display: flex;
  justify-content: space-between;
}

.cs-modal--layout-medium .cs-modal__body,
.cs-modal--layout-large .cs-modal__body {
  overflow-x: hidden;
  overflow-y: auto;
}

.cs-modal--layout-medium .cs-modal__action-buttons,
.cs-modal--layout-large .cs-modal__action-buttons {
  display: flex;
}

.cs-modal--layout-medium .cs-modal__action-buttons >>> button,
.cs-modal--layout-large .cs-modal__action-buttons >>> button {
  margin-left: 12px;
}
</style>
