<template>
  <nav class="cs-navbar" :class="layoutSizeClass">
    <div v-if="logoImg" class="cs-navbar__logo">
      <img :src="logoImg" />
    </div>
    <div v-else class="cs-navbar__logo">
      {{ name }}
    </div>

    <ul
      class="cs-navbar__nav-links"
      :class="{ 'cs-navbar__nav-links__closed': openStatus }"
    >
      <li v-for="(item, $index) in navLinks" :key="$index">
        <component
          :is="item.to ? 'router-link' : 'a'"
          :to="item.to"
          :href="item.link"
          class="cs-navbar__nav-link"
          :class="{ active: $index === currentIndex }"
          @click="current = $index"
        >
          {{ item.name }}
        </component>
      </li>
      <li class="cs-navbar__slot-area">
        <slot />
      </li>
    </ul>

    <div class="cs-navbar__burger-menu" @click="openMobileNav()">
      <i class="cs-icons-menu-filled" />
    </div>
  </nav>
</template>

<script>
import layoutMixin from '@/mixins/layout';

export default {
  name: 'Navbar',
  mixins: [layoutMixin],
  props: {
    name: {
      type: String,
      default: '',
    },
    logoImg: {
      type: String,
      default: '',
    },
    navLinks: {
      type: Array,
      default: null,
    },
    active: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      current: null,
      openStatus: true,
    };
  },
  computed: {
    currentIndex() {
      if (!this.current && this.current !== 0) {
        return this.active;
      }
      return this.current;
    },
  },
  methods: {
    openMobileNav() {
      this.openStatus = !this.openStatus;
    },
  },
};
</script>

<style scoped>
.cs-navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(-1 * var(--cs-page-margin-x));
  padding: 20px 0px;
  background-color: var(--cs-gray-00);
}

.cs-navbar__logo {
  margin-left: 20px;
  font-size: var(--cs-font-size-400);
}

ul.cs-navbar__nav-links {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #f2f2f2;
  width: 100%;
  top: 69px;
  align-items: center;
  padding: 8px 2px;
  background-color: var(--cs-gray-00);
  font-weight: var(--cs-font-weight-base);
  margin: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 0.2s, transform 0.3s;
  transform-origin: top center;
  font-family: var(--cs-font-primary);
}
a {
  font-family: var(--cs-font-primary);
}
ul.cs-navbar__nav-links__closed {
  transform: scaleY(0);
  opacity: 0;
}

ul.cs-navbar__nav-links li {
  list-style: none;
}

ul.cs-navbar__nav-links li {
  padding: 5px 0px;
}

ul.cs-navbar__nav-links li:last-child {
  padding-bottom: 15px;
}

ul li .active {
  color: var(--cs-primary-base) !important;
  cursor: pointer;
}

ul.cs-navbar__nav-links a {
  text-decoration: none;
  color: var(--cs-gray-07);
  font-weight: var(--cs-font-weight-base);
}

ul.cs-navbar__nav-links a:active {
  text-decoration: none;
  font-size: var(--cs-font-size-100);
  color: var(--cs-primary-base);
}
@media (hover: hover) and (pointer: fine) {
  ul.cs-navbar__nav-links a:hover {
    text-decoration: none;
    font-size: var(--cs-font-size-100);
    color: var(--cs-primary-base);
  }
}

.cs-navbar__burger-menu {
  display: block;
  cursor: pointer;
  align-self: center;
  font-size: var(--cs-font-size-100);
  margin-right: 20px;
}

.cs-navbar__slot-area {
  margin-top: 0px;
}
.cs-navbar__logo > img {
  width: 60px;
  align-self: center;
}
.cs-navbar__nav-link:active {
  text-decoration: none;
  font-size: var(--cs-font-size-100);
  color: var(--cs-primary-base);
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .cs-navbar__nav-link:hover {
    text-decoration: none;
    font-size: var(--cs-font-size-100);
    color: var(--cs-primary-base);
    cursor: pointer;
  }
}
/*********************** Tablet ***********************/
.cs-navbar--layout-medium .cs-navbar__logo,
.cs-navbar--layout-large .cs-navbar__logo {
  margin-left: 20px;
}

.cs-navbar--layout-medium ul.cs-navbar__nav-links,
.cs-navbar--layout-large ul.cs-navbar__nav-links {
  position: absolute;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  height: 75px;
  border-top: solid 1px #f2f2f2;
  justify-content: space-between;
  top: 73px;
  background-color: var(--cs-gray-00);
  font-weight: var(--cs-font-weight-base);
}

.cs-navbar--layout-medium ul.cs-navbar__nav-links li,
.cs-navbar--layout-large ul.cs-navbar__nav-links li {
  padding: 0 25px;
}

.cs-navbar--layout-medium .cs-navbar__burger-menu,
.cs-navbar--layout-large .cs-navbar__burger-menu {
  margin-right: 20px;
}
.cs-navbar--layout-medium .cs-navbar__logo > img,
.cs-navbar--layout-large .cs-navbar__logo > img {
  width: 60px;
}
.cs-navbar--layout-medium ul.cs-navbar__nav-links li:last-child,
.cs-navbar--layout-large ul.cs-navbar__nav-links li:last-child {
  padding-bottom: 0px;
}

/*********************** Desktop ***********************/
.cs-navbar--layout-large .cs-navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--cs-gray-00);
  padding: 10px 0px;
}

.cs-navbar--layout-large .cs-navbar__logo {
  color: var(--cs-gray-07);
  font-size: var(--cs-font-size-400);
  align-self: center;
  margin-left: 40px;
  width: 400px;
}

.cs-navbar--layout-large ul.cs-navbar__nav-links {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: none;
}

.cs-navbar--layout-large .cs-navbar__burger-menu {
  display: none;
}

.cs-navbar--layout-large .cs-navbar__logo > img {
  width: 85px;
}

.cs-navbar--layout-large ul.cs-navbar__nav-links__closed {
  opacity: 1;
  transform: scaleY(1);
}

.cs-navbar--layout-large .cs-navbar__slot-area {
  margin-top: -8px;
}
</style>
