<template>
  <div class="cs-navigation-page">
    <div class="cs-navigation-page__profile-wrapper">
      <slot name="profile" />
    </div>
    <div class="cs-navigation-page__line-wrapper">
      <div class="cs-navigation-page__line" />
    </div>
    <div class="cs-navigation-page__links cs-textstyle-nav-sub-link">
      <slot name="link" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.cs-navigation-page {
  background-color: var(--cs-gray-00);
}
.cs-navigation-page__profile-wrapper {
  display: flex;
}
.cs-navigation-page__line-wrapper {
  padding: 0 var(--cs-card-padding-x);
}
.cs-navigation-page__line {
  border-top: 1px solid var(--cs-gray-02);
}
.cs-navigation-page__links {
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
}
</style>
