<template>
  <component
    class="cs-navigation-page-link"
    :is="type"
    :href="href"
    :to="to"
    target="_blank"
  >
    <div class="cs-navigation-page-link__icon">
      <slot name="icon">
        <i :class="icon" />
      </slot>
    </div>
    <div class="cs-navigation-page-link__title cs-textstyle-nav-sub-link">
      <slot name="title">{{ title }}</slot>
    </div>
  </component>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
    },
    title: {
      type: String,
    },
    href: {
      type: String,
      default: null,
    },
    to: {
      type: [Object, String],
      default: null,
    },
  },
  computed: {
    type() {
      if (this.href) {
        return 'a';
      }
      if (this.to) {
        return 'router-link';
      }
      return 'div';
    },
  },
};
</script>

<style scoped>
.cs-navigation-page-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.cs-navigation-page-link__icon {
  color: var(--cs-gray-03);
  font-size: 22px;
  margin-right: 10px;
}
.cs-navigation-page-link__title {
  color: var(--cs-gray-07);
  padding: 12px 0;
}
</style>
