<template>
  <div
    class="cs-page-tab"
    :class="{
      'cs-page-tab--active': active,
      'cs-page-tab--no-padding': !$slots.default,
    }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    to: {
      type: Object,
      default: null,
    },
  },
  watch: {
    label() {
      this.refresh();
    },
    icon() {
      this.refresh();
    },
  },
  mounted() {
    this.refresh();
  },
  methods: {
    refresh() {
      this.$parent.refreshLabel(
        this._uid,
        this.label,
        this.$el,
        this.icon,
        this.to
      );
    },
  },
};
</script>

<style scoped>
.cs-page-tab {
  --cs-page-tab-padding: 16px;
  padding: var(--cs-page-tab-padding);
}
.cs-page-tab.cs-page-tab--no-padding {
  padding: 0;
}
</style>
