<template>
  <div
    class="cs-page-tabs"
    :class="[
      'cs-page-tabs--' + align,
      {
        'cs-page-tabs--no-border': noBorder,
        'cs-page-tabs--no-underline': noUnderline,
      },
      layoutSizeClass,
    ]"
  >
    <div class="cs-page-tab__labels">
      <div class="cs-page-tab__labels-border">
        <div
          v-for="(tab, $index) in tabArray"
          :key="'tab-label-' + tab.id"
          class="cs-page-tabs__tab-label"
          :class="{
            'cs-page-tabs__tab-label--active': $index === activeIndex,
          }"
          @click="selectTab($index)"
        >
          <i v-if="tab.icon" class="cs-page-tabs__tab-icon" :class="tab.icon" />
          <span class="cs-textstyle-nav-sub-link">{{ tab.label }}</span>
        </div>
      </div>
    </div>
    <div class="cs-page-tabs__content">
      <cs-page-tab
        v-for="(tab, $index) in tabs"
        :key="'tab-' + $index"
        :label="tab.label ? tab.label : tab"
        :icon="tab.icon ? tab.icon : null"
        :to="tab.to"
      />
      <slot />
    </div>
  </div>
</template>

<script>
import layoutMixin from '@/mixins/layout';
import CsPageTab from '@/components/PageTab.vue';

export default {
  components: {
    CsPageTab,
  },
  mixins: [layoutMixin],
  props: {
    tabs: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      type: Number,
      default: 0,
    },
    noBorder: {
      type: Boolean,
      default: false,
    },
    noUnderline: {
      type: Boolean,
      default: false,
    },
    align: {
      type: String,
      default: 'left',
      validator(x) {
        return ['left', 'right', 'center', 'justify'].indexOf(x) > -1;
      },
    },
  },
  data() {
    return {
      activeIndex: this.value,
      tabData: {},
      tabArray: [],
      initialised: false,
    };
  },
  watch: {
    value(index) {
      this.select(index);
    },
  },
  methods: {
    refreshLabel(id, label, element, icon, to) {
      if (!label) delete this.tabData[id];
      const tab = {
        id,
        label,
        element,
        icon,
        to,
      };
      this.tabData[id] = tab;
      this.tabArray = Object.values(this.tabData);
      if (this.value !== this.tabArray.indexOf(tab)) {
        tab.element.hidden = true;
      }
      if (!this.initialised) {
        if (this.value < this.tabArray.length) {
          this.initialised = true;
          this.tabArray[this.value].element.hidden = false;
        }
      }
    },
    select(index) {
      this.activeIndex = index;
      this.tabArray.forEach((tab, i) => {
        const match = i === index;
        tab.element.hidden = !match;
        tab.element.setAttribute('active', !match);
        if (match && tab.to) {
          this.$router && this.$router.push(tab.to);
        }
      });
    },
    selectTab(index) {
      this.$emit('input', index);
      this.select(index);
    },
  },
};
</script>

<style scoped>
.cs-page-tabs {
  --cs-page-tabs-label-padding: 16px;
}
.cs-page-tabs--layout-small {
  --cs-page-tabs-label-padding: 8px;
}

.cs-page-tabs {
  --cs-page-tabs-active-color: var(--cs-primary-base);
  --cs-page-tabs-content-padding: 16px;
  display: block;
  overflow: hidden;
}
.cs-page-tab__labels {
  overflow-x: auto;
}
.cs-page-tab__labels-border {
  display: flex;
  border-bottom: solid 2px var(--cs-gray-02);
}
.cs-page-tabs--no-border .cs-page-tab__labels-border {
  border-bottom-color: transparent;
}
.cs-page-tabs--left .cs-page-tab__labels-border {
  justify-content: flex-start;
}
.cs-page-tabs--right .cs-page-tab__labels-border {
  justify-content: flex-end;
}
.cs-page-tabs--center .cs-page-tab__labels-border {
  justify-content: center;
}
.cs-page-tabs--justify .cs-page-tabs__tab-label {
  flex: 1;
}
.cs-page-tabs__tab-label {
  color: var(--cs-gray-07);
  border-bottom: solid 2px transparent;
  display: flex;
  box-sizing: border-box;
  padding-top: var(--cs-page-tabs-label-padding);
  padding-bottom: var(--cs-page-tabs-label-padding);
  padding-left: calc(var(--cs-page-tabs-label-padding) * 2);
  padding-right: calc(var(--cs-page-tabs-label-padding) * 2);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: -2px;
}

.cs-page-tabs__tab-label--active {
  color: var(--cs-page-tabs-active-color);
  border-color: var(--cs-page-tabs-active-color);
}
.cs-page-tabs--no-underline .cs-page-tabs__tab-label {
  border-color: transparent;
}
.cs-page-tabs__tab-icon {
  margin-right: 10px;
  font-size: 18px;
}

.cs-page-tabs__content {
  display: block;
}
.cs-page-tabs .cs-page-tab {
  --cs-page-tab-padding: var(--cs-page-tabs-content-padding);
}
</style>
