<template>
  <div
    class="cs-pagination cs-textstyle-paragraph-small-bold"
    :class="layoutSizeClass"
  >
    <!-- MOBILE DESIGN -->
    <div class="cs-pagination--mobile">
      <!-- Last page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex <= minValue"
        @click="select(1)"
      >
        <i class="cs-icons-first-angle-filled" />
      </span>

      <!-- Previous page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex <= minValue"
        @click="prev()"
      >
        <i class="cs-icons-back-angle-filled" />
      </span>

      <!-- 1st button -->
      <span
        v-if="count > 0"
        class="cs-pagination__button"
        :class="{ 'cs-pagination__button--selected': isSelected(nthButton(1)) }"
        @click="select(nthButton(1))"
        >{{ nthButton(1) }}</span
      >

      <!-- 2nd button -->
      <span
        v-if="count > 1"
        class="cs-pagination__button"
        :class="{ 'cs-pagination__button--selected': isSelected(nthButton(2)) }"
        @click="select(nthButton(2))"
        >{{ nthButton(2) }}</span
      >

      <!-- 3rd button -->
      <span
        v-if="count > 2"
        class="cs-pagination__button"
        :class="{ 'cs-pagination__button--selected': isSelected(nthButton(3)) }"
        @click="select(nthButton(3))"
        >{{ nthButton(3) }}</span
      >

      <!-- Next page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex >= maxValue"
        @click="next()"
      >
        <i class="cs-icons-next-angle-filled" />
      </span>

      <!-- Last page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex >= maxValue"
        @click="select(count)"
      >
        <i class="cs-icons-last-angle-filled" />
      </span>
    </div>

    <!-- TABLET DESIGN -->
    <div class="cs-pagination--tablet">
      <!-- Previous page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex <= minValue"
        @click="prev()"
      >
        {{ previousLabel }}
      </span>

      <!-- 1st button -->
      <span
        v-if="count > 0"
        class="cs-pagination__button"
        :class="{ 'cs-pagination__button--selected': isSelected(1) }"
        @click="select(1)"
      >
        1
      </span>

      <!-- 2nd button -->
      <span
        v-if="count > 2"
        class="cs-pagination__button"
        :class="{
          'cs-pagination__button--selected': isSelected(nthTabButton(2)),
        }"
        :disabled="nthTabButton(2) === '...'"
        @click="select(2)"
        >{{ nthTabButton(2) }}</span
      >

      <!-- 3rd button -->
      <span
        v-if="count > 3"
        class="cs-pagination__button"
        :class="{
          'cs-pagination__button--selected': isSelected(nthTabButton(3)),
        }"
        :disabled="nthTabButton(3) === '...'"
        @click="select(nthTabButton(3))"
        >{{ nthTabButton(3) }}</span
      >

      <!-- 4th button -->
      <span
        v-if="count > 4"
        class="cs-pagination__button"
        :class="{
          'cs-pagination__button--selected': isSelected(nthTabButton(4)),
        }"
        :disabled="nthTabButton(4) === '...'"
        @click="select(nthTabButton(4))"
        >{{ nthTabButton(4) }}</span
      >

      <!-- 5th button -->
      <span
        v-if="count > 5"
        class="cs-pagination__button"
        :class="{
          'cs-pagination__button--selected': isSelected(nthTabButton(5)),
        }"
        :disabled="nthTabButton(5) === '...'"
        @click="select(nthTabButton(5))"
        >{{ nthTabButton(5) }}</span
      >

      <!-- 6th button -->
      <span
        v-if="count > 6"
        class="cs-pagination__button"
        :class="{
          'cs-pagination__button--selected': isSelected(nthTabButton(6)),
        }"
        :disabled="nthTabButton(6) === '...'"
        @click="select(nthTabButton(6))"
        >{{ nthTabButton(6) }}</span
      >

      <!-- Last button -->
      <span
        v-if="count > 1"
        class="cs-pagination__button"
        :class="{ 'cs-pagination__button--selected': isSelected(maxValue) }"
        @click="select(count)"
      >
        {{ count }}
      </span>

      <!-- Next page -->
      <span
        class="cs-pagination__icon-button"
        :disabled="currentIndex >= maxValue"
        @click="next()"
      >
        {{ nextLabel }}
      </span>
    </div>
  </div>
</template>

<script>
// NOTE: the style difference between mobile and tablet is significant enought that there are two sets of HTML
// NOTE: by default we are not using zero-index calculations for the pages
// When using zero-index property, we only need to modify the value emitted
// And adjust it when the value is updated via watch
import layoutMixin from '@/mixins/layout';

export default {
  mixins: [layoutMixin],
  props: {
    value: {
      type: Number,
      default: 0,
    },
    count: {
      type: Number,
    },
    zeroIndex: {
      type: Boolean,
      default: false,
    },
    nextLabel: {
      type: String,
      default: 'Next',
    },
    previousLabel: {
      type: String,
      default: 'Previous',
    },
  },
  data() {
    return {
      currentIndex: this.value,
    };
  },
  computed: {
    minValue() {
      return 1;
    },
    maxValue() {
      return this.count;
    },
  },
  watch: {
    value() {
      this.currentIndex = this.zeroIndex ? this.value + 1 : this.value;
    },
    zeroIndex: {
      immediate: true,
      handler() {
        this.currentIndex = this.zeroIndex ? this.value + 1 : this.value;
      },
    },
  },
  methods: {
    prev() {
      this.select(this.currentIndex - 1);
    },
    next() {
      this.select(this.currentIndex + 1);
    },
    select(i) {
      if (i > this.maxValue) i = this.maxValue;
      if (i < this.minValue) i = this.minValue;
      this.currentIndex = i;
      const emitValue = this.zeroIndex
        ? this.currentIndex - 1
        : this.currentIndex;
      this.$emit('input', emitValue);
    },
    isSelected(i) {
      return i === this.currentIndex;
    },
    nthButton(i) {
      let val = '';
      if (this.currentIndex < 3) {
        val = i;
      } else if (this.currentIndex < this.maxValue - 1) {
        val = this.currentIndex - (2 - i);
      } else {
        val = this.count - (3 - i);
      }
      return val;
    },
    nthTabButton(i) {
      let val = '';
      if (this.count < 8) {
        val = i;
      } else if (i === 2) {
        val =
          this.currentIndex > 4 && this.currentIndex < this.count - 2
            ? '...'
            : 2;
      } else if (i === 3) {
        if (this.currentIndex > this.count - 3) {
          val = '...';
        } else if (this.currentIndex < 5) {
          val = i;
        } else {
          val = this.currentIndex - 1;
        }
      } else if (i === 4) {
        if (this.currentIndex < 5) {
          val = i;
        } else if (this.currentIndex > this.count - 4) {
          val = this.count - 3;
        } else {
          val = this.currentIndex;
        }
      } else if (i === 5) {
        if (this.currentIndex < 4) {
          val = '...';
        } else if (this.currentIndex > this.count - 4) {
          val = this.count - 2;
        } else {
          val = this.currentIndex + 1;
        }
      } else if (i === 6) {
        if (this.currentIndex < 4) {
          val = this.count - 1;
        } else if (
          this.currentIndex > 2 &&
          this.currentIndex < this.count - 3
        ) {
          val = '...';
        } else {
          val = this.count - 1;
        }
      }
      return val;
    },
  },
};
</script>

<style scoped>
.cs-pagination {
  display: block;
  text-align: center;
}
.cs-pagination--tablet {
  display: none;
}
.cs-pagination__button,
.cs-pagination__icon-button {
  display: inline-block;
  color: var(--cs-gray-07);
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;
}
.cs-pagination__button {
  padding: 12px 12px;
}
.cs-pagination__icon-button {
  font-size: 16px;
  padding: 10px 6px;
}
.cs-pagination__button--selected {
  color: var(--cs-primary-base);
}
.cs-pagination__button[disabled],
.cs-pagination__icon-button[disabled] {
  pointer-events: none;
  color: var(--cs-gray-04);
}
/* Tablet and Desktop style */
.cs-pagination--layout-medium .cs-pagination--mobile,
.cs-pagination--layout-large .cs-pagination--mobile {
  display: none;
}
.cs-pagination--layout-medium .cs-pagination--tablet,
.cs-pagination--layout-large .cs-pagination--tablet {
  display: unset;
}
.cs-pagination--layout-medium .cs-pagination__button,
.cs-pagination--layout-large .cs-pagination__button {
  padding: 10px 20px;
}
</style>
