<template>
  <div
    class="cs-place-input"
    :class="{
      'cs-place-input--closed': closed,
      'cs-place-input--disabled': disabled,
    }"
    :disabled="disabled"
    tabindex="-1"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
    @keyup.esc="close"
  >
    <label class="cs-place-input__label" @click="focusInput">
      <div
        v-if="label"
        class="cs-textstyle-label-text cs-place-input__label-text"
      >
        {{ label }}
        <span v-if="required">*</span>
      </div>
      <div
        class="cs-place-input__input-wrapper cs-textstyle-input-text"
        :class="{
          'cs-place-input__input-wrapper--error': isInvalid,
          'cs-place-input__input-wrapper--success':
            $v.inputValue.$dirty && isSuccess,
        }"
      >
        <input
          ref="input"
          v-model="query"
          class="cs-textstyle-input-text cs-place-input__input"
          :disabled="disabled"
          :placeholder="placeholder"
          @focus="focusInput"
          @input="onInput"
          @keyup.up="highlightLast()"
          @keyup.down="highlight(0)"
          v-on="$_formEvents"
        />
        <span
          class="cs-place-input__marker-icon"
          :class="{
            'cs-place-input__marker-icon--has-text':
              query && query.trim().length > 0,
          }"
        >
          <slot name="icon">
            <i :class="icon"></i>
          </slot>
        </span>
      </div>
    </label>
    <div class="cs-place-input__results-wrapper">
      <div ref="results" class="cs-place-input__results">
        <div
          v-for="(result, $i) in results"
          :key="$i"
          class="cs-place-input__option-group-item"
          tabindex="0"
          @click.stop="select(result)"
          @keyup.enter="select(result)"
          @keyup.down="highlightNext($event)"
          @keyup.up="highlightPrev($event)"
        >
          {{ result.label }}
        </div>
        <div
          v-if="results && results.length < 1"
          class="cs-place-input__option-group-item cs-place-input__option-group-item--no-pointer"
        >
          {{ noResultsLabel }}
        </div>
        <div
          v-if="!query || (query && query.trim().length < 1)"
          class="cs-place-input__option-group-item cs-place-input__option-group-item--no-pointer"
        >
          {{ startTypingLabel }}
        </div>
      </div>
    </div>

    <div v-if="!apiKey" class="cs-textstyle-label-text cs-place-input__error">
      {{ missingApiKeyLabel }}
    </div>

    <!-- Validation errors -->
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>

    <div ref="hiddenMap" class="cs-place-input__hidden-map"></div>
  </div>
</template>

<script>
// https://developers.google.com/maps/documentation/javascript/reference/places-autocomplete-service#AutocompleteService
import Maps from '@/mixins/googlemaps';
import { validationMixin } from 'vuelidate';
import { placeEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  mixins: [Maps, validationMixin, formEventsMixin],
  props: {
    apiKey: {
      type: String,
      required: true,
    },
    missingApiKeyLabel: {
      type: String,
      default: 'Missing Google Maps Places API Key',
    },
    noResultsLabel: {
      type: String,
      default: 'No Results',
    },
    startTypingLabel: {
      type: String,
      default: 'Start Typing...',
    },
    label: {
      type: String,
    },
    placeholder: {
      type: String,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: 'cs-icons-marker',
    },
    value: {
      type: [String, Number],
    },
    location: {
      type: Object,
      validator(x) {
        const keys = Object.keys(x);
        return keys.indexOf('lat') > -1 && keys.indexOf('lng') > -1;
      },
    },
    type: {
      type: String,
      validator(x) {
        const acceptedTypes = [
          'geocode',
          'address',
          'establishment',
          '(regions)',
          '(cities)',
        ];
        return acceptedTypes.indexOf(x) > -1;
      },
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      closed: true,
      query: '',
      results: null,
      suggestionService: null,
      lookupService: null,
      inputValue: this.value,
      $_formEventTriggers: placeEvents,
    };
  },
  validations() {
    return {
      inputValue: {
        required: () => (this.required ? !!this.inputValue : true),
      },
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
  },
  watch: {
    apiKey: {
      immediate: true,
      handler() {
        this.loadMaps();
      },
    },
    value: {
      immediate: true,
      handler(newValue) {
        this.getPlaceDetails(newValue);
        this.$emit('validate');
      },
    },
  },
  mounted() {
    this.loadMaps();
  },
  methods: {
    onInput() {
      this.getPlaces(this.query);
      this.inputValue = '';
      this.$v.inputValue.$touch();
      this.$emit('input', '');
      this.$emit('validate');
    },
    focusInput() {
      this.closed = false;
    },
    select(option) {
      this.query = option.label;
      this.close();
      this.getPlaceDetails(option.value);
    },
    close() {
      this.closed = true;
      this.$el.querySelector('input').blur();
      this.$el.blur();
    },

    getPlaces(q) {
      this.query = q;
      if (!this.apiKey) return;

      const trimQuery = this.query && this.query.trim();
      if (!trimQuery) {
        this.results = null;
        return;
      }

      const options = {
        input: trimQuery,
      };
      if (this.type) options.types = [this.type];
      if (this.suggestionService) {
        this.suggestionService.getPlacePredictions(
          options,
          (predictions, status) => {
            if (status === window.google.maps.places.PlacesServiceStatus.OK) {
              this.results = predictions.map((p) => {
                return { value: p.place_id, label: p.description };
              });
            } else {
              this.results = [];
            }
          }
        );
      }
    },

    getPlaceDetails(placeId) {
      if (!placeId || !placeId.trim()) return;

      if (this.lookupService) {
        this.lookupService.getDetails({ placeId }, (result, status) => {
          if (status === window.google.maps.places.PlacesServiceStatus.OK) {
            this.inputValue = result.place_id;
            this.$v.inputValue.$touch();
            this.$emit('input', result.place_id);
            this.$emit('resolve', result);
            this.query = result.formatted_address;
            this.getPlaces(this.query);
          }
        });
      }
    },

    async loadMaps() {
      if (!this.apiKey) return;

      await this.googleMaps.init(this.apiKey);
      if (!this.suggestionService)
        this.suggestionService = new window.google.maps.places.AutocompleteService();
      if (!this.lookupService) {
        const map = new window.google.maps.Map(this.$refs.hiddenMap, {
          center: { lat: -33.866, lng: 151.196 },
          zoom: 17,
        });
        this.lookupService = new window.google.maps.places.PlacesService(map);
      }
      this.getPlaceDetails(this.value);
    },

    // Controlling the keyboard events to highlight different values
    highlightNext($event) {
      this.highlightChange(1, $event);
    },
    highlightPrev($event) {
      this.highlightChange(-1, $event);
    },
    highlightChange(change, $event) {
      const options = this.$refs.results.querySelectorAll(
        '.cs-place-input__option-group-item'
      );
      const optArray = Array.prototype.slice.call(options);
      this.highlight(optArray.indexOf($event.target) + change);
    },
    highlightLast() {
      const options = this.$refs.results.querySelectorAll(
        '.cs-place-input__option-group-item'
      );
      this.highlight(options.length - 1);
    },
    highlight(index) {
      const options = this.$refs.results.querySelectorAll(
        '.cs-place-input__option-group-item'
      );
      if (index > options.length - 1 || index === -1) {
        this.$refs.input.focus();
      } else {
        options[index].focus();
      }
    },
  },
};
</script>

<style scoped>
/* Input */
.cs-place-input {
  --cs-place-input-border-radius: var(--cs-input-border-radius);
  width: 100%;
  outline: none;
}
.cs-place-input--disabled {
  pointer-events: none;
}
.cs-place-input--disabled .cs-place-input__input-wrapper {
  opacity: 0.5;
}
.cs-place-input__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
.cs-place-input__input-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--cs-gray-00);
  box-sizing: border-box;
  align-items: center;
  border: solid 1px;
  border-color: var(--cs-gray-02);
  border-radius: var(--cs-place-input-border-radius);
  padding: var(--cs-form-input-padding-y) var(--cs-form-input-padding-x);
}
.cs-place-input:focus-within:not(.cs-place-input--closed)
  .cs-place-input__input-wrapper {
  border-color: var(--cs-gray-03);
  color: var(--cs-gray-07);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: var(--cs-gray-02);
}
/* Ensure that the input is styled like a cs-input */
.cs-place-input__input {
  flex: 1;
  margin-bottom: 0;
  height: inherit;
  box-sizing: border-box;
  color: var(--cs-gray-07);
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  line-height: 1;
}
.cs-place-input__marker-icon {
  position: absolute;
  right: var(--cs-form-input-padding-x);
  font-size: 20px;
  color: var(--cs-gray-03);
  opacity: 0.5;
  transition: color 0.2s, opacity 0.2s;
}
.cs-place-input__marker-icon--has-text {
  opacity: 1;
}
.cs-place-input:focus-within:not(.cs-place-input--closed)
  .cs-place-input__marker-icon {
  color: var(--cs-gray-07);
  opacity: 1;
}

/* Results */
.cs-place-input__results-wrapper {
  height: 0px;
}
.cs-place-input__results {
  border: solid 1px var(--cs-gray-03);
  border-top: 0;
  background-color: var(--cs-gray-00);
  border-bottom-left-radius: var(--cs-place-input-border-radius);
  border-bottom-right-radius: var(--cs-place-input-border-radius);
  position: relative;
  z-index: 1;
  max-height: 40vh;
  overflow-y: auto;
  opacity: 0;
  transform: scaleY(0) translateY(-50px);
  transform-origin: top;
  transition: transform 0.2s, opacity 0.2s;
}
.cs-place-input:focus-within:not(.cs-place-input--closed)
  .cs-place-input__results {
  opacity: 1;
  transform: scaleY(1) translateY(0);
}
.cs-place-input__option-group-item {
  font-size: var(--cs-font-size-100);
  cursor: pointer;
  white-space: normal;
  color: var(--cs-gray-07);
  padding: 10px;
  outline: none;
}
.cs-place-input__option-group-item:focus {
  background-color: var(--cs-gray-02);
}
@media (hover: hover) and (pointer: fine) {
  .cs-place-input__option-group-item:hover {
    background-color: var(--cs-gray-02);
  }
}

.cs-place-input__option-group-item.cs-place-input__option-group-item--no-pointer {
  cursor: not-allowed;
  background-color: var(--cs-gray-00);
  color: var(--cs-gray-07);
  opacity: 0.3;
}

.cs-place-input__input-wrapper--error {
  border-color: var(--cs-danger-base);
}
.cs-place-input__input-wrapper--success,
.cs-place-input__input-wrapper--success:focus {
  border-color: var(--cs-success-base);
}

.cs-place-input__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-place-input__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
