<template>
  <cs-card class="cs-post-card">
    <div slot="header" class="cs-post-card__header">
      <cs-profile
        :picture="authorPicture || (author && author.picture)"
        :name="authorName || (author && author.name)"
        :detail="formattedDate"
        avatar-position="left"
        avatar-size="small"
        :background="false"
        class="cs-post-card__header-profile"
        @click.stop="openAuthor"
      ></cs-profile>
      <div
        v-if="showMenu"
        class="cs-post-card__header-icon"
        @click.stop="openMenu"
      >
        <slot name="menu-icon">
          <i :class="menuIcon"></i>
        </slot>
      </div>
    </div>

    <div slot="body" class="cs-post-card__content">
      <div v-if="$slots.message || message" class="cs-textstyle-paragraph">
        <div v-if="message">{{ message }}</div>
        <slot name="message"></slot>
      </div>
      <div v-if="$slots.media" class="cs-post-card__content-media">
        <slot name="media"></slot>
      </div>
      <div
        v-if="counterLeft || counterCenter || counterRight"
        :class="{
          'cs-post-card__reaction-info': true,
          'cs-post-card__reaction-counter-right-only':
            counterRight && !(counterCenter || counterLeft),
        }"
      >
        <div
          v-if="counterLeft"
          class="cs-post-card__reaction-info-button cs-post-card__counter-left cs-textstyle-paragraph-small"
          :class="{
            'cs-post-card__reaction-info-button--full-width':
              countsSpacing === 'split',
          }"
          @click.stop="$emit('counter-left', counterLeft)"
        >
          <span v-if="$slots.reactions" class="cs-post-card__reaction-slot">
            <slot name="reactions" />
          </span>
          <span>{{ counterLeft }} {{ leftLabel }}</span>
        </div>
        <div
          v-if="counterCenter"
          class="cs-post-card__reaction-info-button cs-post-card__counter-center cs-textstyle-paragraph-small"
          @click.stop="$emit('counter-center', counterCenter)"
        >
          {{ counterCenter }} {{ centerLabel }}
        </div>
        <div
          v-if="counterRight"
          class="cs-post-card__reaction-info-button cs-post-card__counter-right cs-textstyle-paragraph-small"
          @click.stop="$emit('counter-right', counterRight)"
        >
          {{ counterRight }} {{ rightLabel }}
        </div>
      </div>
    </div>

    <div slot="footer" class="cs-post-card__footer">
      <div @click.stop>
        <slot name="action-bar">
          <cs-action-bar class="cs-post-card__footer-action-bar">
            <cs-action-bar-button
              v-for="(button, index) in actionButtons"
              :key="index"
              class="cs-post-card__footer-action-bar-button"
              :highlighted="button.enableToggle && button.highlight"
              :icon="button.icon"
              @click.stop="handleActionButtonClick(button)"
            >
              {{ button.label }}
            </cs-action-bar-button>
          </cs-action-bar>
        </slot>
      </div>
      <div
        v-if="$slots.comments"
        class="cs-post-card__footer-comments"
        @click.stop
      >
        <slot name="comments"> </slot>
      </div>
      <div class="cs-post-card__footer-message-box" @click.stop>
        <slot name="message-box"> </slot>
      </div>
    </div>
  </cs-card>
</template>

<script>
import CsCard from '@/components/Card.vue';
import CsProfile from '@/components/Profile.vue';
import CsActionBar from '@/components/ActionBar.vue';
import CsActionBarButton from '@/components/ActionBarButton.vue';

export default {
  components: {
    CsCard,
    CsProfile,
    CsActionBar,
    CsActionBarButton,
  },
  props: {
    author: {
      type: Object,
      default: null,
    },
    authorName: {
      type: String,
      default: null,
    },
    authorPicture: {
      type: String,
      default: null,
    },
    counterLeft: {
      type: Number,
      default: 0,
    },
    counterCenter: {
      type: Number,
      default: 0,
    },
    counterRight: {
      type: Number,
      default: 0,
    },
    counterLeftLabel: {
      type: String,
      default: 'likes',
    },
    counterLeftLabelSingular: {
      type: String,
      default: 'like',
    },
    counterCenterLabel: {
      type: String,
      default: 'shares',
    },
    counterCenterLabelSingular: {
      type: String,
      default: 'share',
    },
    counterRightLabel: {
      type: String,
      default: 'comments',
    },
    counterRightLabelSingular: {
      type: String,
      default: 'comment',
    },
    countsSpacing: {
      type: String,
      default: 'even',
      validator(x) {
        return ['even', 'split'].indexOf(x) > -1;
      },
    },
    date: {
      type: [Date, String, Number],
      default: null,
    },
    message: {
      type: String,
      default: null,
    },
    menuIcon: {
      type: String,
      default: 'cs-icons-options',
    },
    showMenu: {
      type: Boolean,
      default: false,
    },
    actionButtons: {
      type: Array,
      default: () => {
        return [
          {
            label: 'Like',
            icon: 'cs-icons-like-filled',
            enableToggle: true,
            highlight: false,
            action: () => {
              console.log('like');
            },
          },
          {
            label: 'Share',
            icon: 'cs-icons-share-filled',
            enableToggle: false,
            highlight: false,
            action: () => {
              console.log('Share');
            },
          },
          {
            label: 'Comment',
            icon: 'cs-icons-comment-filled',
            enableToggle: false,
            highlight: false,
            action: () => {
              console.log('Comment');
            },
          },
        ];
      },
    },
  },
  computed: {
    formattedDate() {
      const datetime = new Date(this.date);
      const time = datetime.toLocaleTimeString('en-US', {
        hour: 'numeric',
        hour12: true,
        minute: 'numeric',
      });
      const date = `${datetime.getDate()} ${
        datetime.toDateString().split(' ')[1]
      }`;
      return `${date} ${time}`;
    },
    leftLabel() {
      if (this.counterLeft === 1) return this.counterLeftLabelSingular;
      return this.counterLeftLabel;
    },
    centerLabel() {
      if (this.counterCenter === 1) return this.counterCenterLabelSingular;
      return this.counterCenterLabel;
    },
    rightLabel() {
      if (this.counterRight === 1) return this.counterRightLabelSingular;
      return this.counterRightLabel;
    },
  },
  methods: {
    openAuthor() {
      this.$emit('author', this.author);
    },
    openMenu() {
      this.$emit('open-menu');
    },
    handleActionButtonClick(button) {
      if (button.enableToggle) {
        button.highlight = !button.highlight;
      }
      if (button.action) {
        button.action();
      }
      this.$emit('action-button', button);
    },
  },
};
</script>

<style scoped>
.cs-post-card {
  ---cs-post-card-media-height: 280px;
}

.cs-post-card__header {
  display: flex;
  justify-content: space-between;
}

.cs-post-card__header-icon {
  color: var(--cs-gray-04);
  cursor: pointer;
  height: 25px;
}

.cs-post-card__header-icon * {
  font-size: var(--cs-font-size-300);
}

.cs-post-card__header-profile {
  cursor: pointer;
}
.cs-post-card__header-profile >>> .cs-profile__main {
  padding: 0;
}
.cs-post-card__header-profile >>> .cs-profile__content-detail {
  margin-top: 0px;
}

.cs-post-card__content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  color: var(--cs-gray-07);
}
.cs-post-card__content-media {
  margin-top: var(--cs-card-content-margin-y);
  margin-left: calc(-1 * var(--cs-card-padding-x));
  margin-right: calc(-1 * var(--cs-card-padding-x));
  max-height: var(---cs-post-card-media-height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-post-card__content-media >>> img:first-child {
  height: 100%;
  width: 100%;
}
.cs-post-card__content-media >>> .cs-video-player {
  max-height: var(---cs-post-card-media-height);
  width: 100%;
}

.cs-post-card__reaction-info {
  display: flex;
  color: var(--cs-gray-04);
  font-size: var(--cs-font-size-50);
  justify-content: space-between;
  margin-bottom: calc(-1 * var(--cs-card-content-margin-y));
  padding: var(--cs-card-content-margin-y) 0;
}
.cs-post-card__reaction-info-button {
  text-transform: lowercase;
  cursor: pointer;
  text-transform: lowercase;
}
.cs-post-card__reaction-info-button:first-child {
  padding-left: 0;
}
.cs-post-card__reaction-info-button:last-child {
  padding-right: 0;
}
.cs-post-card__reaction-info-button--full-width {
  flex: 1;
}
.cs-post-card__reaction-slot {
  padding-right: 8px;
}
.cs-post-card__reaction-slot >>> i {
  font-size: var(--cs-font-size-100);
  display: inline-flex;
}

.cs-post-card__footer >>> .cs-action-bar {
  margin-top: calc(-1 * var(--cs-card-content-margin-y));
  margin-bottom: calc(-1 * var(--cs-card-content-margin-y));
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
.cs-post-card__footer >>> .cs-action-bar-button {
  padding: var(--cs-card-content-margin-y) 0;
  margin: 0;
  border: 0;
}

.cs-post-card__footer-comments {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--cs-gray-02);
}
.cs-post-card__footer-message-box {
  margin-top: var(--cs-card-content-margin-y);
}

.cs-post-card__footer-comments:empty,
.cs-post-card__footer-message-box:empty {
  display: none;
}

.cs-post-card__reaction-info
  > .cs-post-card__reaction-info-button--full-width
  ~ * {
  margin-left: 16px;
}

.cs-post-card__reaction-counter-right-only {
  justify-content: flex-end;
}
</style>
