<template>
  <div class="cs-profile">
    <div
      :class="[
        'cs-profile__main',
        'cs-profile__main--avatar-' + avatarPosition,
        'cs-profile__main--avatar-' + avatarSize,
      ]"
    >
      <component
        :is="type"
        v-if="!noAvatar"
        class="cs-profile__avatar"
        :to="to"
        :href="href"
      >
        <cs-avatar :picture="picture" :name="name" :size="avatarSize" />
      </component>
      <div class="cs-profile__content">
        <component
          :is="type"
          v-if="name"
          :to="to"
          :href="href"
          class="cs-profile__content-name cs-textstyle-detail-heading"
          >{{ name }}</component
        >
        <div
          v-if="detail"
          class="cs-profile__content-detail cs-textstyle-paragraph-small"
        >
          <img
            v-if="companyLogo"
            :src="companyLogo"
            class="cs-profile__content-logo"
          />
          {{ detail }}
        </div>
        <div
          v-if="location"
          class="cs-profile__content-location cs-textstyle-paragraph-small"
        >
          <i
            class="cs-icons-marker-filled cs-profile__content-location--icon"
          ></i>
          <span>{{ location }}</span>
        </div>
        <div
          v-if="$slots['social-icons']"
          :class="[
            'cs-profile__content-social',
            'cs-profile__content-social--' + avatarPosition,
          ]"
        >
          <slot name="social-icons"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CsAvatar from '@/components/Avatar.vue';
import { sizeValidator } from '@/utils/validators';

export default {
  components: {
    CsAvatar,
  },
  props: {
    href: {
      type: String,
      default: null,
    },
    to: {
      type: [Object, String],
      default: null,
    },
    picture: {
      type: String,
      default: null,
    },
    companyLogo: {
      type: String,
      default: null,
    },
    location: {
      type: String,
      default: null,
    },
    background: {
      type: Boolean,
      default: true,
    },
    name: {
      type: String,
      default: null,
    },
    detail: {
      type: String,
      default: null,
    },
    avatarPosition: {
      type: String,
      default: 'center',
      validator(x) {
        return ['center', 'left'].indexOf(x) !== -1;
      },
    },
    avatarSize: {
      type: String,
      default: 'small',
      validator: sizeValidator,
    },
    noAvatar: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    type() {
      if (this.href) {
        return 'a';
      }
      if (this.to) {
        return 'router-link';
      }
      return 'div';
    },
  },
};
</script>
<style scoped>
.cs-profile {
  --cs-profile-background: var(--cs-gray-00);
  border-radius: var(--cs-card-border-radius);
  background-color: var(--cs-profile-background);
}
.cs-profile__main {
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  display: flex;
}
.cs-profile__main--avatar-center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cs-profile__avatar {
  cursor: pointer;
}
.cs-profile__main--avatar-left .cs-profile__avatar {
  margin-right: 16px;
}
.cs-profile__main--avatar-left.cs-profile__main--avatar-small
  .cs-profile__avatar {
  margin-right: 10px;
}
.cs-profile__main--avatar-center .cs-profile__avatar {
  margin-bottom: 16px;
}

.cs-profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-profile__content > * {
  margin-top: 4px;
}
.cs-profile__content > *:first-child {
  margin-top: 0;
}
.cs-profile__main--avatar-center .cs-profile__content {
  align-items: center;
  text-align: center;
}

.cs-profile__content-name {
  color: var(--cs-gray-06);
  cursor: pointer;
  text-decoration: none;
}
.cs-profile__content-detail {
  color: var(--cs-gray-04);
  display: inline-flex;
  align-items: center;
}
img.cs-profile__content-logo {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 4px;
  place-self: flex-start;
}
.cs-profile__content-location {
  display: flex;
  color: var(--cs-gray-05);
  font-size: var(--cs-font-size-50);
}
.cs-profile__content-location--icon {
  color: var(--cs-gray-03);
  font-size: 16px;
  height: 18px;
  width: 18px;
  margin-right: 4px;
  margin-top: -3px;
}
.cs-profile__content-social {
  display: flex;
  margin-top: 8px;
}

.cs-profile__content-location + .cs-profile__content-social,
.cs-profile__content-detail + .cs-profile__content-social {
  margin-top: 16px;
}

.cs-profile__content-social--center >>> .social-icon-button {
  margin-left: 4px;
  margin-right: 4px;
}

.cs-profile__content-social--left >>> .social-icon-button {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .cs-profile__content-social {
    margin-top: 4px;
  }

  .cs-profile__content-detail + .cs-profile__content-social,
  .cs-profile__content-location + .cs-profile__content-social {
    margin-top: 16px;
  }
}
</style>
