<template>
  <div>
    <div ref="content" class="content"></div>
  </div>
</template>
<script>
import Quill from 'quill';
import AudioBlot from '@/components/Quill/AudioBlot';
import VideoBlot from '@/components/Quill/VideoBlot';
import ImageBlot from '@/components/Quill/ImageBlot';
import YoutubeBlot from '@/components/Quill/YoutubeBlot';
import FileBlot from '@/components/Quill/FileBlot';
import 'quill/dist/quill.snow.css';

export default {
  props: {
    value: {
      required: false,
    },
  },
  mounted() {
    const quill = new Quill(this.$refs.content, {
      readOnly: true,
      modules: {
        toolbar: null,
      },
    });
    Quill.register(ImageBlot);
    Quill.register(AudioBlot);
    Quill.register(VideoBlot);
    Quill.register(YoutubeBlot);
    Quill.register(FileBlot);
    // this.value = `{"ops":[{"insert":{"audio":{"name":"SampleMP3.mp3","type":"audio/mpeg","size":764176,"url":"https://cdn.graphexpress.com/15600fe9-713d-4ba1-a1cd-4a2d2c916b5c/24260ad4-7317-413e-8c8b-9267ef09e5ea"}}},{"insert":" This is an example audio."},{"insert":{"image":{"name":"Screenshot 2021-01-28 at 7.48.46 AM.png","type":"image/png","size":11824,"url":"https://cdn.graphexpress.com/15600fe9-713d-4ba1-a1cd-4a2d2c916b5c/2b440fc9-b5f0-42cc-94cb-d006daac30fc"}}},{"insert":""}]}`;
    if (this.value) {
      quill.setContents(JSON.parse(this.value));
    }
  },
};
</script>
<style scoped>
.content * {
  padding: 0px !important;
}
</style>
