<template>
  <div>
    <div ref="toolbar">
      <!-- Built-in Buttons - see https://quilljs.com/docs/modules/toolbar/ -->
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
      <select class="ql-size">
        <option selected></option>
        <option value="small"></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <button class="ql-header" value="1"></button>
      <!-- Custom Buttons -->
      <button
        class="custom bi bi-image"
        title="Attach Image"
        @click="insertImage()"
      >
        <i class="cs-icons-image-document-filled"></i>
      </button>
      <button
        class="custom bi bi-camera-video"
        title="Attach Video"
        @click="insertVideo()"
      >
        <i class="cs-icons-video-file-filled"></i>
      </button>
      <button
        class="custom bi bi-headphones"
        title="Attach Audio"
        @click="insertAudio()"
      >
        <i class="cs-icons-audio-file-filled"></i>
      </button>
      <button
        class="custom bi bi-file"
        title="Attach File"
        @click="insertDocument()"
      >
        <i class="cs-icons-doc-filled"></i>
      </button>
      <button
        class="custom bi bi-youtube"
        title="Embed YouTube"
        @click="insertYouTube()"
      >
        <i class="cs-icons-youtube-filled"></i>
      </button>
    </div>
    <cs-spinner v-if="uploading"></cs-spinner>
    <div class="editor-holder">
      <div ref="editor"></div>
    </div>
  </div>
</template>
<script>
import Quill from 'quill';
import CsSpinner from '@/components/Spinner.vue';
import AudioBlot from '@/components/Quill/AudioBlot';
import VideoBlot from '@/components/Quill/VideoBlot';
import ImageBlot from '@/components/Quill/ImageBlot';
import YoutubeBlot from '@/components/Quill/YoutubeBlot';
import FileBlot from '@/components/Quill/FileBlot';
import 'quill/dist/quill.snow.css';

export default {
  components: {
    CsSpinner,
  },
  props: {
    value: {
      required: false,
    },
    applicationId: {
      required: true,
    },
  },
  data() {
    return {
      quill: null,
      uploading: false,
    };
  },
  mounted() {
    this.quill = new Quill(this.$refs.editor, {
      theme: 'snow',
      modules: {
        toolbar: {
          container: this.$refs.toolbar,
        },
      },
    });
    this.quill.on('text-change', () => {
      this.$emit('input', JSON.stringify(this.quill.getContents()));
    });
    Quill.register(ImageBlot);
    Quill.register(AudioBlot);
    Quill.register(VideoBlot);
    Quill.register(YoutubeBlot);
    Quill.register(FileBlot);
    if (this.value) {
      this.quill.setContents(JSON.parse(this.value));
    }
  },
  methods: {
    getSummary() {
      return this.quill.getText().slice(0, 200);
    },
    getAttachments() {
      const content = this.quill.getContents();
      const attachments = [];
      content.ops.forEach((op) => {
        if (op.insert && op.insert.audio) attachments.push(op.insert.audio);
        if (op.insert && op.insert.video) attachments.push(op.insert.video);
        if (op.insert && op.insert.file) attachments.push(op.insert.file);
      });
      return attachments;
    },
    async uploadFile(file, applicationId) {
      const uploadInfo = await fetch(
        'https://services-graph.graphexpress.com/generateuploadurl',
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            application_id: applicationId,
          },
          body: JSON.stringify({
            mime_type: file.type,
            file_size: file.size,
            file_name: file.name,
          }),
        }
      ).then((r) => r.json());
      const fileId = uploadInfo.data.id;
      const uploadUrl = uploadInfo.data.upload_url;
      return new Promise((resolve) => {
        const request = new XMLHttpRequest();
        request.open('PUT', uploadUrl, true);
        request.onload = () => {
          const uploadedUrl = `http://cdn.graphexpress.com/${applicationId}/${fileId}`;
          resolve({
            url: uploadedUrl,
            name: file.name,
            type: file.type,
            size: file.size,
          });
        };
        // request.upload.onprogress = (e) => {
        //   console.log('Progress Event', e);
        // };
        request.send(file);
      });
    },
    upload(accept, blotType) {
      return new Promise((resolve) => {
        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = accept;
        fileInput.addEventListener('change', () => {
          const file = fileInput.files[0];
          this.uploading = true;
          this.uploadFile(file, this.applicationId).then((attachment) => {
            this.insertBlot(blotType, attachment);
            resolve();
            this.uploading = false;
            this.$emit(`${blotType}-attach`, attachment);
          });
        });
        fileInput.click();
      });
    },
    insertBlot(type, params) {
      const { index } = this.quill.getSelection() || { index: 1 };
      this.quill.insertEmbed(index, type, params, 'user');
      this.quill.insertText(index + 1, ' ', 'silent');
      this.$emit('attachment-add');
    },
    async insertImage() {
      await this.upload('image/*', 'image');
    },
    async insertVideo() {
      await this.upload('video/*', 'video');
    },
    async insertAudio() {
      await this.upload('audio/*', 'audio');
    },
    async insertDocument() {
      await this.upload('application/*', 'file');
    },
    insertYouTube() {
      const url = window.prompt('Enter YouTube URL');
      if (url) {
        const u = new URL(url);
        const id = u.searchParams.get('v');
        this.insertBlot('youtube', { ytid: id });
      }
    },
  },
};
</script>
<style scoped>
.custom {
  display: flex !important;
  align-items: center;
}
.editor-holder {
  height: 300px;
}
</style>
