<template>
  <div
    class="cs-radio-group"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
    @click="handleClick"
  >
    <div v-if="label" class="cs-radio-group__label cs-textstyle-label-text">
      {{ label }}
      <span v-if="required">*</span>
    </div>
    <cs-radio
      v-for="option in cleanOptions"
      :key="option.value"
      :label="option.label"
      :value="option.value"
      :disabled="option.disabled"
    />
    <slot></slot>
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import { validationMixin } from 'vuelidate';

export default {
  mixins: [validationMixin],
  props: {
    label: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: null,
    },
    value: {
      type: [String, Number],
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: null,
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      observer: null,
      inputValue: null,
      inputName: uuidv4(),
    };
  },
  validations() {
    return {
      inputValue: {
        required: () => {
          if (!this.required || !this.$el) return true;
          const inputs = Array.from(
            this.$el.querySelectorAll('.cs-radio input')
          );
          const checkedInput = inputs.filter(
            (input) => input.checked === true
          )[0];
          return !!(this.required && checkedInput);
        },
      },
    };
  },
  computed: {
    cleanOptions() {
      const options = [];
      if (!this.options) return options;
      this.options.forEach((option) => {
        if (typeof option === 'string') {
          options.push({ label: option.toString(), value: option.toString() });
        } else {
          options.push({ ...option, value: option.value.toString() });
        }
      });
      return options;
    },
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
  },
  watch: {
    name() {
      this.checkInputs();
    },
    value() {
      this.handleValueChange();
      this.$v.inputValue.$touch();
      this.$emit('validate');
    },
    options() {
      this.handleValueChange();
    },
    disabled() {
      this.handleDisabledChange();
    },
  },
  mounted() {
    this.observer = new MutationObserver(this.updateElements);
    this.observer.observe(this.$el, { childList: true });
    this.updateElements();
  },
  methods: {
    updateElements() {
      if (!this.$el) return;
      this.registerInputs();
      this.handleValueChange();
      this.handleDisabledChange();
    },
    registerInputs() {
      const radios = Array.from(this.$el.querySelectorAll('.cs-radio'));
      const inputs = radios.map((radio) => radio.querySelector('input'));
      const name = this.name || this.inputName;
      inputs.forEach((input) => {
        const inputName = input.getAttribute('name');
        if (inputName !== name) {
          input.setAttribute('name', name);
        }
      });
    },
    handleClick() {
      const inputs = Array.from(this.$el.querySelectorAll('.cs-radio input'));
      const checkedInput = inputs.filter((input) => input.checked === true)[0];
      if (!checkedInput) return;
      if (checkedInput.value === this.inputValue) return;
      this.inputValue = checkedInput.value;
      this.$emit('input', this.inputValue);
      this.$emit('validate');
      this.$v.inputValue.$touch();
    },
    handleValueChange() {
      if (!this.$el) return;
      this.inputValue = this.value;
      if (typeof this.inputValue === 'number')
        this.inputValue = this.inputValue.toString();
      const inputs = Array.from(this.$el.querySelectorAll('.cs-radio input'));
      const selectedInput = inputs.filter(
        (input) => input.value === this.inputValue
      )[0];
      const checkedInput = inputs.filter((input) => input.checked === true)[0];
      if (checkedInput) checkedInput.checked = false;
      if (selectedInput) selectedInput.checked = true;
    },
    handleDisabledChange() {
      if (!this.$el) return;
      const radios = Array.from(this.$el.querySelectorAll('.cs-radio'));
      radios.forEach((radio) => {
        if (this.disabled) {
          const classes = Array.from(radio.classList);
          if (classes.indexOf('cs-radio-group__radio--disabled') === -1)
            radio.classList.add('cs-radio-group__radio--disabled');
        } else {
          radio.classList.remove('cs-radio-group__radio--disabled');
        }
      });
    },
  },
};
</script>

<style scoped>
.cs-radio-group {
  --cs-radio-group-color: var(--cs-primary-base);
}
.cs-radio-group .cs-radio {
  --cs-radio-color: var(--cs-radio-group-color);
}
.cs-radio-group__label {
  padding: 8px 0;
}

/* Error styling */
.cs-radio-group.cs-radio-group--error {
  --cs-radio-group-color: var(--cs-danger-base);
}
.cs-radio-group__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-radio-group__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
