<template>
  <div class="cs-radio">
    <label class="cs-radio__label">
      <input type="radio" :value="value.toString()" v-bind="$attrs" />
      <div class="cs-radio__label-text cs-textstyle-input-text">
        <slot>{{ label || value }}</slot>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
    },
    value: {
      type: [String, Number],
      required: true,
    },
  },
};
</script>

<style scoped>
.cs-radio {
  --cs-radio-color: var(--cs-primary-base);
  padding: 8px 0;
  padding-right: 8px;
}
.cs-radio__label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.cs-radio__label-text {
  padding-left: 30px;
  display: inline-block;
  color: var(--cs-gray-05);
  min-height: 22px;
  margin-top: -4px;
}
.cs-radio input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  margin: 0;
}
.cs-radio input::before,
.cs-radio input::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
}
.cs-radio input::before {
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--cs-gray-00);
  border: solid 1px var(--cs-gray-03);
  transition: border-color 0.2s, background-color 0.2s;
}
.cs-radio input::after {
  top: 5px;
  left: 5px;
  height: 12px;
  width: 12px;
  transform: scale3d(0, 0, 1);
  transition: transform 0.2s, background-color 0.2s;
}
.cs-radio input:checked::before {
  border-color: var(--cs-radio-color);
}
.cs-radio input:checked::after {
  transform: scale3d(1, 1, 1);
  background-color: var(--cs-radio-color);
}
.cs-radio input:disabled::before,
.cs-radio-group__radio--disabled input::before {
  background-color: var(--cs-gray-02);
}
.cs-radio input:checked:disabled::before,
.cs-radio-group__radio--disabled input:checked::before {
  border-color: var(--cs-gray-03);
}
.cs-radio input:checked:disabled::after,
.cs-radio-group__radio--disabled input:checked::after {
  background-color: var(--cs-gray-03);
}
/* NOTE: this class is used so the radio group can disable the child elements when they are added via slot */
.cs-radio-group__radio--disabled {
  pointer-events: none;
}
</style>
