<template>
  <div class="cs-search-bar">
    <span class="cs-search-bar__icon-wrapper">
      <div class="cs-search-bar__icon" @click="csSearch()">
        <slot>
          <i :class="icon"></i>
        </slot>
      </div>
    </span>
    <input
      v-model="query"
      type="search"
      class="cs-search-bar__input"
      :class="{ 'cs-textstyle-paragraph': hasQuery }"
      :placeholder="placeholder"
      @keyup.enter="csSearch"
    />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: 'cs-icons-search',
    },
  },
  computed: {
    query: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit('input', newValue);
      },
    },
    hasQuery() {
      return this.query.trim().length > 0;
    },
  },
  methods: {
    csSearch() {
      this.$emit('submit', this.query);
    },
  },
};
</script>

<style scoped>
.cs-search-bar {
  background: var(--cs-gray-01);
  cursor: text;
  margin: 0 auto;
  border-radius: var(--cs-input-border-radius);
  box-sizing: border-box;
  font-size: 16px;
  height: 44px;
  position: relative;
  border: 1px solid var(--cs-gray-03);
  color: var(--cs-gray-03);
}
.cs-search-bar__input {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: calc(100% - 50px);
  border-color: transparent;
  font-size: var(--cs-font-size-100);
  margin: auto 0;
  overflow: hidden;
  background: var(--cs-gray-01);
}
.cs-search-bar__input::placeholder {
  color: var(--cs-gray-03);
  font-weight: var(--cs-font-weight-base);
}
.cs-search-bar__input:focus {
  outline: transparent;
}
.cs-search-bar__icon-wrapper {
  padding: 0 24px;
  cursor: pointer;
}
.cs-search-bar__icon {
  bottom: 0;
  left: 16px;
  margin: auto;
  position: absolute;
  top: 10px;
  width: 24px;
  font-size: var(--cs-font-size-200);
}
</style>
