<template>
  <div class="cs-secondary-header">
    <div class="cs-secondary-header__content">
      <!-- button-parent is used for centering the title -->
      <div
        class="cs-secondary-header__button-parent"
        :style="{ width: buttonWidth }"
      >
        <!-- buttons-left actually holds the buttons -->
        <span
          ref="buttons-left"
          class="cs-secondary-header__buttons cs-secondary-header__buttons-left"
        >
          <slot name="back-icon">
            <i
              class="cs-secondary-header__back-button"
              :class="backIcon"
              @click="goBack"
            ></i>
          </slot>
        </span>
      </div>

      <div
        v-if="title || $slots.title"
        class="cs-secondary-header__title cs-textstyle-page-subtitle"
        :class="'cs-secondary-header__title--' + alignTitle"
      >
        <template v-if="title">
          {{ title }}
        </template>
        <template v-else>
          <slot name="title" />
        </template>
      </div>
      <!-- Title spacer is used to maintain a gap between the left and right buttons when there's no title text or slot -->
      <div v-else class="cs-secondary-header__title-spacer"></div>

      <!-- button-parent is used for centering the title -->
      <div
        class="cs-secondary-header__button-parent cs-secondary-header__button-parent-right"
        :style="{ width: buttonWidth }"
      >
        <!-- buttons-right actually holds the buttons -->
        <span
          ref="buttons-right"
          class="cs-secondary-header__buttons cs-secondary-header__buttons-right"
        >
          <slot name="buttons" />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
/** This component is almost identical to MainHeader with some minor differences:
 * 1. 'back-icon' prop and slot replace 'buttons-left' slot
 * 2. 'buttons' slot replaces 'buttons-right' slot
 * 3. 'alignTitle' defaults to 'left'
 * 4. 'title' supports both prop and slot
 */
/** NOTES
 * The following only applies when alignTitle === 'center'
 * Uses ResizeObserver polyfill (ResizeObserver that falls back to MutationObserver if not supported)
 * Watches the left and right button spans for change in size
 * Then sets the width of their parent to be the width of whichever is wider
 * So the button slot parents try to fill the same space on each side of the header title in order to center it
 * However, if a button is particularly wide, the title may still end up off-center
 * Extremely wide buttons will end up overflowing
 */
import ResizeObserver from 'resize-observer-polyfill';

export default {
  props: {
    backIcon: {
      type: String,
      default: 'cs-icons-back-arrow-filled',
    },
    title: {
      type: String,
      default: '',
    },
    alignTitle: {
      type: String,
      default: 'left',
      validator(x) {
        return ['center', 'left', 'right'].indexOf(x) > -1;
      },
    },
  },
  data() {
    return {
      minButtonWidth: 40,
    };
  },
  computed: {
    buttonWidth() {
      if (this.alignTitle === 'center') {
        return `${this.minButtonWidth}px`;
      }
      return 'auto';
    },
  },
  mounted() {
    const buttonsLeft = this.$refs['buttons-left'];
    const buttonsRight = this.$refs['buttons-right'];
    const observer = new ResizeObserver(this.handleResize);
    if (buttonsLeft instanceof Element) {
      observer.observe(buttonsLeft);
    }
    if (buttonsRight instanceof Element) {
      observer.observe(buttonsRight);
    }
  },
  methods: {
    handleResize() {
      const buttonsLeft = this.$refs['buttons-left'];
      const buttonsRight = this.$refs['buttons-right'];
      if (!buttonsLeft || !buttonsRight) return;
      let minWidth = buttonsLeft.clientWidth;
      if (buttonsRight.clientWidth > minWidth)
        minWidth = buttonsRight.clientWidth;
      this.minButtonWidth = minWidth;
    },
    goBack() {
      if (this.$listeners && this.$listeners.back) {
        this.$emit('back');
      } else {
        window.history.back();
      }
    },
  },
};
</script>

<style scoped>
.cs-secondary-header {
  --cs-secondary-header-background-color: #ffffff;
  --cs-secondary-header-text-color: var(--cs-gray-07);
}
.cs-secondary-header {
  background-color: var(--cs-secondary-header-background-color);
  color: var(--cs-secondary-header-text-color);
  padding: var(--cs-page-margin-x);
  box-shadow: 0px 1px 1px 0px var(--cs-gray-02);
}

.cs-secondary-header__content {
  display: flex;
  align-items: center;
  margin: -10px;
  justify-content: center;
  overflow: hidden;
  min-height: 48px;
  box-sizing: border-box;
}

.cs-secondary-header__title {
  padding: 10px;
  display: block;
  flex: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  box-sizing: border-box;
}
.cs-secondary-header__title--center {
  text-align: center;
}
.cs-secondary-header__title--left {
  text-align: left;
}
.cs-secondary-header__title--right {
  text-align: right;
}
.cs-secondary-header__title-spacer {
  flex: 1;
}

.cs-secondary-header__buttons {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
.cs-secondary-header__buttons-left {
  float: left;
}
.cs-secondary-header__buttons-right {
  float: right;
}

.cs-secondary-header__buttons > * {
  padding: 10px;
}

.cs-secondary-header__buttons > i {
  color: var(--cs-gray-03);
  cursor: pointer;
  font-size: 24px;
}
</style>
