<template>
  <div
    class="cs-select"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <label class="cs-select__label">
      <div v-if="label" class="cs-textstyle-label-text cs-select__label-text">
        {{ label }}
        <span v-if="required">*</span>
      </div>

      <div
        class="cs-select__wrapper"
        :class="{
          'cs-select__wrapper--error': isInvalid,
          'cs-select__wrapper--disabled': disabled,
          'cs-select__wrapper--success': $v.inputValue.$dirty && isSuccess,
        }"
      >
        <div
          class="cs-select__selected-text"
          :class="{
            'cs-select__selected-text--placeholder':
              selectedText === placeholder,
          }"
        >
          {{ selectedText }}
        </div>
        <div class="cs-select__icon">
          <slot name="icon">
            <i :class="icon" />
          </slot>
        </div>
        <select
          class="cs-select__select cs-textstyle-input-text"
          v-bind="$attrs"
          :disabled="disabled"
          :required="required"
          @change="onChange"
          v-on="$_formEvents"
        >
          <option value="" class="cs-textstyle-input-text" selected>{{
            placeholder
          }}</option>
          <option
            v-for="option in options"
            :key="option.value"
            class="cs-textstyle-input-text"
            :value="option.value"
            :selected="option.value == inputValue"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
    </label>
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { selectEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  mixins: [validationMixin, formEventsMixin],
  props: {
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: 'Select an option',
    },
    icon: {
      type: String,
      default: 'cs-icons-expand-arrow',
    },
    options: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      inputValue: this.value,
      $_formEventTriggers: selectEvents,
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
    selectedText() {
      const selectedOption = this.options.find(
        (option) => option.value === this.inputValue
      );
      if (!selectedOption) return this.placeholder;
      return selectedOption.label;
    },
  },
  watch: {
    value(newValue) {
      this.inputValue = newValue;
      this.$v.inputValue.$touch();
      this.$emit('validate');
    },
  },
  methods: {
    onChange($event) {
      const selected = this.options.find(
        (o) => o.value === $event.target.value
      );
      this.inputValue = $event.target.value;
      this.$v.inputValue.$touch();
      this.$emit('select', selected);
      this.$emit('input', $event.target.value);
      this.$emit('validate');
    },
  },
  validations() {
    return {
      inputValue: {
        required: () =>
          this.required
            ? !!this.options.find((o) => o.value === this.inputValue)
            : true,
      },
    };
  },
};
</script>

<style scoped>
.cs-select__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
.cs-select__wrapper {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--cs-gray-00);
  border: 1px solid;
  border-color: var(--cs-gray-02);
  border-radius: var(--cs-input-border-radius);
  padding: var(--cs-form-input-padding-y) var(--cs-form-input-padding-x);
}
.cs-select__wrapper:focus-within {
  border-color: var(--cs-gray-03);
}

.cs-select__selected-text {
  color: var(--cs-gray-07);
  width: 100%;
  padding-right: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cs-select__selected-text--placeholder {
  color: var(--cs-gray-04);
}

.cs-select__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.cs-select__select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
.cs-select__select:focus {
  outline: none;
}

.cs-select__icon {
  pointer-events: none;
  position: absolute;
  right: var(--cs-form-input-padding-x);
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  font-size: 18px;
  color: var(--cs-gray-03);
}
.cs-select__wrapper:focus-within .cs-select__icon {
  color: var(--cs-gray-07);
}

.cs-select__wrapper--error,
.cs-select__wrapper--error:focus-within {
  border-color: var(--cs-danger-base);
}
.cs-select__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-select__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}

.cs-select__wrapper--disabled,
.cs-select__wrapper--disabled .cs-select__select {
  background-color: var(--cs-gray-01);
}

.cs-select__wrapper--success,
.cs-select__wrapper--success:focus {
  border-color: var(--cs-success-base);
}
</style>
