<template>
  <div class="cs-slides">
    <!-- Slider main container -->
    <div ref="slides" class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <slot></slot>
      </div>

      <!-- Pagination -->
      <div
        v-show="!hidePagination"
        class="swiper-pagination swiper-pagination-bullets cs-slides__pagination"
      ></div>
    </div>

    <!-- Buttons -->
    <span
      v-show="showSkip"
      class="cs-slides__button cs-slides__button-skip"
      @click="skip()"
    >
      <slot name="skip-button">
        <cs-button fill="clear" variant="default" size="small">
          {{ skipLabel }}
          <i class="cs-slides__button-icon cs-icons-skip-filled" />
        </cs-button>
      </slot>
    </span>

    <span
      v-show="showBack"
      class="cs-slides__button cs-slides__button-back"
      @click="backSlide()"
    >
      <slot name="back-button">
        <cs-button fill="clear" size="small">
          <i class="cs-slides__button-icon cs-icons-back-angle-filled" />
          {{ backLabel }}
        </cs-button>
      </slot>
    </span>

    <span
      v-show="showNext"
      class="cs-slides__button cs-slides__button-next"
      @click="nextSlide()"
    >
      <slot name="next-button">
        <cs-button fill="clear" size="small">
          {{ nextLabel }}
          <i class="cs-slides__button-icon cs-icons-next-angle-filled" />
        </cs-button>
      </slot>
    </span>
    <span
      v-show="showFinish"
      class="cs-slides__button cs-slides__button-next"
      @click="finish()"
    >
      <slot name="finish-button">
        <cs-button fill="clear" size="small">
          {{ finishLabel }}
        </cs-button>
      </slot>
    </span>
  </div>
</template>

<script>
import 'swiper/swiper-bundle.min.css';
import Swiper, { Pagination } from 'swiper';

import CsButton from '@/components/Button.vue';

Swiper.use([Pagination]);

export default {
  components: {
    CsButton,
  },
  props: {
    skipLabel: {
      type: String,
      default: 'Skip',
    },
    nextLabel: {
      type: String,
      default: 'Next',
    },
    backLabel: {
      type: String,
      default: 'Back',
    },
    finishLabel: {
      type: String,
      default: 'Finish',
    },
    initialSlide: {
      type: Number,
      default: 0,
    },
    speed: {
      type: Number,
      default: 300,
    },
    loop: {
      type: Boolean,
      default: false,
    },
    hideBackButton: {
      type: Boolean,
      default: false,
    },
    hideNextButton: {
      type: Boolean,
      default: false,
    },
    hideFinishButton: {
      type: Boolean,
      default: false,
    },
    hideSkipButton: {
      type: Boolean,
      default: false,
    },
    hidePagination: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      swiper: null,
    };
  },
  computed: {
    showSkip() {
      if (!this.swiper || this.hideSkipButton) return false;
      return this.swiper.activeIndex !== this.swiper.slides.length - 1;
    },
    showBack() {
      if (!this.swiper || this.hideBackButton) return false;
      return this.swiper.activeIndex !== 0 || this.swiper.activeIndex;
    },
    showNext() {
      if (!this.swiper || this.hideNextButton) return false;
      return this.swiper.activeIndex !== this.swiper.slides.length - 1;
    },
    showFinish() {
      if (!this.swiper || this.hideFinishButton) return false;
      return this.swiper.activeIndex === this.swiper.slides.length - 1;
    },
  },
  mounted() {
    this.swiper = new Swiper('.swiper-container', {
      // General
      initialSlide: this.initialSlide,
      speed: this.speed,

      // Loop
      loop: this.loop,

      // Observer
      observer: true,

      // Namespace
      slideClass: 'cs-slide',

      // Pagination component
      pagination: {
        el: '.swiper-pagination',
      },
    });
  },
  methods: {
    skip() {
      this.$emit('skip');
      this.swiper.slideTo(this.swiper.slides.length - 1);
    },
    backSlide() {
      this.swiper.slidePrev();
    },
    nextSlide() {
      this.swiper.slideNext();
    },
    finish() {
      this.$emit('finish');
    },
  },
};
</script>

<style scoped>
.cs-slides {
  --cs-slides-width: 100%;
  --cs-slides-height: 300px;
  --cs-slides-theme: var(--cs-primary-base);
  --cs-slides-background: var(--cs-gray-00);
  height: var(--cs-slides-height);
  width: var(--cs-slides-width);
  position: relative;
}
.swiper-container {
  --swiper-theme-color: var(--cs-slides-theme);
  background: var(--cs-slides-background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cs-slides__pagination--hidden {
  opacity: 0;
}

.swiper-pagination {
  margin-bottom: -2px;
}

.cs-slides__button-next,
.cs-slides__button-back,
.cs-slides__button-skip {
  position: absolute;
  z-index: 11;
}
.cs-slides__button-next {
  bottom: 0;
  right: 0;
}
.cs-slides__button-back {
  bottom: 0;
  left: 0;
}
.cs-slides__button-skip {
  top: 0;
  right: 0;
}
.cs-slides__button .cs-button {
  font-weight: var(--cs-font-weight-base);
  text-transform: uppercase;
}
.cs-slides__button .cs-slides__button-icon {
  font-size: 12px;
}
</style>
