<template>
  <div class="cs-slide-button">
    <cs-button v-bind="$attrs"><slot></slot></cs-button>
  </div>
</template>

<script>
import CsButton from '@/components/Button.vue';

export default {
  components: {
    CsButton,
  },
};
</script>

<style scoped>
.cs-slide-button {
  width: 100%;
  text-align: center;
  margin: 8px 0;
}
</style>
