<template>
  <img
    class="cs-slide-image"
    v-bind="$attrs"
    :class="{ 'cs-slide-image--fill': fill }"
  />
</template>

<script>
export default {
  props: {
    fill: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.cs-slide-image {
  display: block;
  max-width: 100%;
  margin: 8px 0;
}
.cs-slide-image--fill {
  width: calc(100% + var(--cs-card-padding-x) + var(--cs-card-padding-x));
  max-width: unset;
  margin: 0;
}
.cs-slide-image--fill {
  width: calc(100% + var(--cs-card-padding-x) + var(--cs-card-padding-x));
  max-width: unset;
  margin: 0;
}
.cs-slide-image--fill:first-child {
  margin-top: calc(-1 * var(--cs-card-padding-y));
}
.cs-slide-image--fill:last-child {
  margin-bottom: calc(-1 * var(--cs-card-padding-y));
}
</style>
