<template>
  <div class="cs-slide swiper-slide">
    <div class="cs-slide__content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.cs-slide {
  box-sizing: border-box;
  padding: var(--cs-card-padding-y) var(--cs-card-padding-x);
  overflow-y: auto;
}
.cs-slide__content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
