<template>
  <h3 v-bind="$attrs" class="cs-slide-header cs-textstyle-page-title">
    <slot></slot>
  </h3>
</template>

<script>
export default {};
</script>

<style scoped>
.cs-slide-header {
  --cs-slide-header-color: var(--cs-primary-base);
  color: var(--cs-slide-header-color);
  margin-top: 24px;
  margin-bottom: 16px;
}
</style>
