<template>
  <p class="cs-slide-text cs-textstyle-informative-paragraph"><slot></slot></p>
</template>

<script>
export default {};
</script>

<style scoped>
.cs-slide-text {
  --cs-slide-text-color: var(--cs-gray-05);
  color: var(--cs-slide-text-color);
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}
</style>
