<template>
  <div class="cs-small-tag">
    <span
      v-if="!selectable"
      class="cs-small-tag__tag cs-small-tag-default cs-textstyle-tags"
      ><slot
    /></span>
    <span
      v-else
      class="cs-small-tag__tag cs-small-tag-selectable cs-textstyle-tags"
      :class="{ selected: isActive }"
      @click="tagClick"
    >
      <slot /><i
        class="cs-icons-plus-filled icon-class"
        :class="{ rotatePlus: isActive }"
      />
    </span>
  </div>
</template>

<script>
export default {
  props: {
    selected: {
      type: Boolean,
      default: false,
    },
    selectable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectedValue: this.selected,
    };
  },
  computed: {
    isActive() {
      return this.selectedValue;
    },
  },
  methods: {
    tagClick() {
      this.selectedValue = !this.selectedValue;
      this.$emit('select', this.isActive);
    },
  },
  watch: {
    selected() {
      this.selectedValue = this.selected;
    },
  },
};
</script>

<style scoped>
.cs-small-tag {
  ---cs-small-tag-background: var(--cs-gray-04);
  ---cs-small-tag-text-color: var(--cs-gray-00);
}

.cs-small-tag__tag {
  background: var(---cs-small-tag-background);
  color: var(---cs-small-tag-text-color);
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
}

.cs-small-tag-default {
  padding: 4px 6px;
}

.cs-small-tag-selectable {
  display: inline-flex;
  padding: 4px 8px;
  cursor: pointer;
}

.cs-small-tag-selectable.selected {
  background: var(--cs-primary-base);
  color: var(--cs-primary-contrast);
}

.icon-class {
  font-size: 10px;
  margin-top: 0px;
  margin-left: 2px;
  transition: transform 0.1s ease-in-out;
  transform-origin: center;
}
.rotatePlus {
  transform: rotate(45deg);
}
</style>
