<template>
  <component
    :is="type"
    :href="href"
    :target="href ? '_system' : ''"
    :class="[
      'social-icon-button',
      'social-icon-button--' + network,
      'social-icon-button--' + size,
    ]"
  >
    <slot>
      <i :class="icon || networks[network]"></i>
    </slot>
  </component>
</template>

<script>
import { sizeValidator } from '@/utils/validators';

const networks = {
  facebook: 'cs-icons-facebook-filled',
  linkedin: 'cs-icons-linkedin-filled',
  twitter: 'cs-icons-twitter-filled',
  email: 'cs-icons-email',
  phone: 'cs-icons-phone-filled',
  google: 'cs-icons-google-plus-filled',
  instagram: 'cs-icons-instagram',
  youtube: 'cs-icons-youtube-filled',
  network: 'cs-icons-website-filled',
};

export default {
  props: {
    icon: {
      type: String,
    },
    size: {
      type: String,
      default: 'medium',
      validator: sizeValidator,
    },
    href: {
      type: String,
    },
    network: {
      type: String,
      validator(x) {
        return !!networks[x];
      },
    },
  },
  data() {
    return {
      networks,
    };
  },
  computed: {
    type() {
      if (this.href) {
        return 'a';
      }
      return 'button';
    },
  },
};
</script>
<style scoped>
.social-icon-button {
  --cs-social-icon-button-size: 36px;
  --cs-social-icon-button-hover-color: var(--cs-gray-07);
  height: var(--cs-social-icon-button-size);
  width: var(--cs-social-icon-button-size);
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-align: center;
  color: var(--cs-white);
  background-color: var(--cs-gray-03);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.social-icon-button:active {
  background-color: var(--cs-social-icon-button-hover-color);
}
@media (hover: hover) and (pointer: fine) {
  .social-icon-button:hover {
    background-color: var(--cs-social-icon-button-hover-color);
  }
}
.social-icon-button i {
  /* Default 20px for a button size of 36px */
  line-height: var(--cs-social-icon-button-size);
  font-size: calc(var(--cs-social-icon-button-size) / 1.8);
  height: var(--cs-social-icon-button-size);
  width: var(--cs-social-icon-button-size);
  display: block;
}

.social-icon-button--facebook {
  --cs-social-icon-button-hover-color: #5f86d5;
}
.social-icon-button--linkedin {
  --cs-social-icon-button-hover-color: #52b5e8;
}
.social-icon-button--twitter {
  --cs-social-icon-button-hover-color: #76c4ff;
}
.social-icon-button--email,
.social-icon-button--network {
  --cs-social-icon-button-hover-color: var(--cs-gray-07);
}
.social-icon-button--phone {
  --cs-social-icon-button-hover-color: var(--cs-gray-07);
}
.social-icon-button--google {
  --cs-social-icon-button-hover-color: #dd4b39;
}
.social-icon-button--instagram {
  --cs-social-icon-button-hover-color: #d547ab;
}
.social-icon-button--youtube {
  --cs-social-icon-button-hover-color: #e01b32;
}

.social-icon-button--small {
  --cs-social-icon-button-size: 20px;
}
.social-icon-button--medium {
  --cs-social-icon-button-size: 36px;
}
.social-icon-button--large {
  --cs-social-icon-button-size: 50px;
}
</style>
