<template>
  <div class="cs-spinner">
    <div v-if="type === 'dots'" class="cs-spinner__dots"></div>
    <div v-else class="cs-spinner__circles">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'dots',
      validator(x) {
        return ['dots', 'circles'].indexOf(x) !== -1;
      },
    },
  },
};
</script>

<style scoped>
.cs-spinner {
  --cs-spinner-color: var(--cs-gray-08);
}
/** Styling for dots loader */
.cs-spinner__dots,
.cs-spinner__dots:before,
.cs-spinner__dots:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.cs-spinner__dots {
  color: var(--cs-spinner-color);
  font-size: var(--cs-font-size-10);
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: scale(0.4);
  animation-delay: -0.16s;
}
.cs-spinner__dots:before,
.cs-spinner__dots:after {
  content: '';
  position: absolute;
  top: 0;
}
.cs-spinner__dots:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.cs-spinner__dots:after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/** Styling for circles loader */
.cs-spinner__circles {
  position: relative;
  margin: 80px 50%;
  position: relative;
}

.cs-spinner__circles div {
  height: 10px;
  width: 10px;
  background-color: var(--cs-spinner-color);
  border-radius: 50%;
  position: absolute;
  animation: 1.3s opaque ease-in-out infinite both;
}

.cs-spinner__circles > div:nth-child(1) {
  top: -25px;
  left: 0;
}

.cs-spinner__circles > div:nth-child(2) {
  top: -17px;
  left: 17px;
  animation-delay: 0.15s;
}

.cs-spinner__circles > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation-delay: 0.3s;
}

.cs-spinner__circles > div:nth-child(4) {
  top: 17px;
  left: 17px;
  animation-delay: 0.45s;
}

.cs-spinner__circles > div:nth-child(5) {
  top: 25px;
  left: 0;
  animation-delay: 0.6s;
}

.cs-spinner__circles > div:nth-child(6) {
  top: 17px;
  left: -17px;
  animation-delay: 0.75s;
}

.cs-spinner__circles > div:nth-child(7) {
  top: 0;
  left: -25px;
  animation-delay: 0.9s;
}

.cs-spinner__circles > div:nth-child(8) {
  top: -17px;
  left: -17px;
  animation-delay: 1.05s;
}

@keyframes opaque {
  0%,
  40%,
  100% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
}
</style>
