<template>
  <div class="static-map" :class="layoutSizeClass">
    <div v-if="showAddress && address" class="static-map__address">
      <img class="static-map__marker" :src="addressIcon" />
      <span class="cs-textstyle-paragraph-small">{{ address }}</span>
    </div>
    <h5 v-if="!apiKey">{{ validApiKeyLabel }}</h5>
    <h5 v-if="!address && !validCenter">{{ validAddressLabel }}</h5>
    <div v-if="apiKey" class="static-map__map">
      <img class="static-map__marker" :src="markerIcon" />
      <img class="static-map__image" :src="mapConfig" />
    </div>
  </div>
</template>

<script>
import { getMarkerForStaticMap } from '@/assets/map/icons';
import layoutMixin from '@/mixins/layout';

export default {
  name: 'StaticMap',
  mixins: [layoutMixin],
  props: {
    validApiKeyLabel: {
      type: String,
      default: 'Please provide valid api key to load the map',
    },
    validAddressLabel: {
      type: String,
      default: 'Please provide a valid address or center point',
    },
    apiKey: {
      type: String,
      default: null,
    },
    address: {
      type: String,
      default: '',
    },
    zoom: {
      type: Number,
      default: 16,
    },
    showAddress: {
      type: Boolean,
      default: false,
    },
    center: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      iconColor: '#000000',
      markerColor: '#000000',
      markerIcon: '',
      addressIcon: '',
    };
  },
  computed: {
    mapConfig() {
      if (!this.apiKey) return '';
      return `https://maps.googleapis.com/maps/api/staticmap?key=${
        this.apiKey
      }&center=${
        this.validCenter
          ? `${this.center.lat},${this.center.lng}`
          : this.address
      }&zoom=${
        this.zoom - 1
      }&size=640x640&scale=2&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xf5f5f5&style=element:labels.icon%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x616161&style=element:labels.text.stroke%7Ccolor:0xf5f5f5&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&style=feature:poi%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:poi.park%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:road%7Celement:geometry%7Ccolor:0xffffff&style=feature:road.arterial%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:road.highway%7Celement:geometry%7Ccolor:0xdadada&style=feature:road.highway%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:transit.line%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:transit.station%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:water%7Celement:geometry%7Ccolor:0xc9c9c9&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x9e9e9e
      `;
    },
    validCenter() {
      if (!this.center) return false;
      if (!this.center.lat && this.center.lat !== 0) return false;
      if (!this.center.lng && this.center.lng !== 0) return false;
      return true;
    },
  },
  mounted() {
    this.addIcon();
  },
  methods: {
    addIcon() {
      this.iconColor = window
        .getComputedStyle(this.$el)
        .getPropertyValue('--cs-static-map-icon-color');
      this.markerColor = window
        .getComputedStyle(this.$el)
        .getPropertyValue('--cs-static-map-marker-color');
      this.markerIcon = getMarkerForStaticMap(this.markerColor);
      this.addressIcon = getMarkerForStaticMap(this.iconColor);
    },
  },
};
</script>

<style scoped>
.static-map {
  --cs-static-map-icon-color: var(--cs-gray-03);
  --cs-static-map-marker-color: var(--cs-primary-base);
  --cs-static-map-width: 100%;
  --cs-static-map-height: 140px;
}
.static-map__map {
  height: var(--cs-static-map-height);
  width: var(--cs-static-map-width);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.static-map__address {
  margin-bottom: 16px;
}
.static-map__address i {
  margin-right: 10px;
}

.static-map__map {
  position: relative;
}
.static-map__marker {
  display: inline;
  margin-bottom: -4px;
  margin-right: 8px;
  width: 16px;
}
.static-map__map .static-map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--cs-map-marker-color);
}

.cs-static-map--layout-medium .static-map,
.cs-static-map--layout-large .static-map {
  --cs-static-map-height: 310px;
}
.cs-static-map--layout-medium .static-map__map .static-map__marker,
.cs-static-map--layout-large .static-map__map .static-map__marker {
  transform: translate(-50%, -125%) scale3d(1.5, 1.5, 1);
}

.cs-static-map--layout-large .static-map {
  --cs-static-map-height: 330px;
}
.cs-static-map--layout-large .static-map__map-image {
  width: 100%;
}
</style>
