<template>
  <div class="cs-tab" :style="activeStyle">
    <cs-badge v-if="badge">{{ badge }}</cs-badge>
    <slot name="icon">
      <i v-if="icon" :class="icon"></i>
    </slot>
    <cs-label v-if="label" class="cs-textstyle-paragraph-small-bold">{{
      label
    }}</cs-label>
    <slot />
  </div>
</template>

<script>
import CsLabel from '@/components/Label.vue';
import CsBadge from '@/components/Badge.vue';

export default {
  components: {
    CsLabel,
    CsBadge,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    badge: {
      type: String,
      default: '',
    },
    route: {
      type: String,
      default: '',
    },
    activeColor: {
      type: String,
      default: 'var(--cs-primary-base)',
    },
  },
  computed: {
    activeStyle() {
      return `--cs-tab-active-color: ${this.activeColor}`;
    },
  },
};
</script>

<style scoped>
.cs-tab {
  --cs-tab-active-color: var(--cs-primary-base);
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 2px solid transparent;
  background-color: var(--cs-gray-00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cs-gray-03);
  position: relative;
}
.cs-tab[is-active] {
  border-top-color: var(--cs-tab-active-color);
}

.cs-tab .cs-badge {
  --cs-badge-color: var(--cs-tab-active-color);
  position: absolute;
  left: calc(50% + 20px);
  top: 20px;
}

.cs-tab i {
  font-size: 24px;
}
.cs-tab[is-active] i {
  color: var(--cs-tab-active-color);
}
</style>
