<template>
  <div class="cs-tab-bar" @click="checkClick">
    <cs-tab
      v-for="(tab, $index) in tabs"
      :key="$index"
      :label="tab.label"
      :icon="tab.icon"
      :badge="tab.badge"
      :route="tab.route"
      :active-color="tab.activeColor"
      @click="tabClick(tab)"
    />
    <slot />
  </div>
</template>

<script>
import CsTab from '@/components/Tab.vue';

export default {
  components: {
    CsTab,
  },
  props: {
    tabs: {
      type: Array,
      default() {
        return [];
      },
    },
    value: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      inputValue: this.value,
    };
  },
  watch: {
    value() {
      this.inputValue = this.value;
      this.valueChange();
    },
  },
  mounted() {
    this.valueChange();
  },
  methods: {
    tabClick(tab) {
      if (tab.action) tab.action(tab);
      this.$emit('action', tab);
    },
    checkClick($event) {
      const selected = $event.target.closest('.cs-tab');
      const tabs = this.$el.querySelectorAll('.cs-tab');
      for (let i = 0; i < tabs.length; i += 1) {
        const tab = tabs[i];
        tab.removeAttribute('is-active');
        if (tab === selected) {
          tab.setAttribute('is-active', true);
          this.inputValue = i;
          this.$emit('input', this.inputValue);
        }
      }
      $event.target.closest('.cs-tab').setAttribute('is-active', true);
    },
    valueChange() {
      const tabs = this.$el && this.$el.querySelectorAll('.cs-tab');
      tabs.forEach((tab) => tab.removeAttribute('is-active'));
      if (tabs && tabs[this.inputValue])
        tabs[this.inputValue].setAttribute('is-active', true);
    },
  },
};
</script>

<style scoped>
.cs-tab-bar {
  height: 75px;
  display: flex;
}
.cs-tab-bar .cs-tab {
  flex: 1;
}
</style>
