<template>
  <div class="cs-tag">
    <div class="cs-tag__inner cs-textstyle-tags">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.cs-tag {
  --cs-tag-color: var(--cs-gray-02);
  --cs-tag-text-color: var(--cs-gray-05);
  background-color: var(--cs-tag-color);
  color: var(--cs-tag-text-color);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 3px;
  cursor: default;
}
.cs-tag__inner {
  display: flex;
  align-items: center;
  height: 12px;
}
.cs-tag__inner::before {
  content: '\200b';
}
.cs-tag__inner > i {
  font-size: 16px;
  height: 0;
  transform: translateY(-12px);
}
.cs-tag__inner > i + * {
  margin-left: 6px;
}
/* Tablet style */
@media (min-width: 768px) {
  .cs-tag__inner {
    height: 15px;
  }
  .cs-tag__inner > i {
    transform: translateY(-12px);
  }
  .cs-tag__inner > i + * {
    margin-left: 8px;
  }
}
</style>
