<template>
  <label
    class="cs-textarea"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <div v-if="label" class="cs-textstyle-label-text cs-textarea__label-text">
      {{ label }}
      <span v-if="required">*</span>
    </div>
    <textarea
      v-model="$v.inputValue.$model"
      v-bind="$attrs"
      :name="name"
      :disabled="disabled"
      :required="required"
      :placeholder="placeholder"
      :class="[
        'cs-textstyle-input-text',
        'cs-textarea__textarea',
        'cs-textarea__textarea--' + size,
        {
          'cs-textarea__textarea--disabled': disabled,
          'cs-textarea__textarea--error': isInvalid,
          'cs-textarea__textarea--success': $v.inputValue.$dirty && isSuccess,
        },
      ]"
      :style="resizeStyle"
      @input="onInput($event)"
      v-on="$_formEvents"
    />
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </label>
</template>
<script>
import { validationMixin } from 'vuelidate';
import { requiredIf } from 'vuelidate/lib/validators';
import { inputSizeValidator } from '@/utils/validators';
import { textareaEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  mixins: [validationMixin, formEventsMixin],
  props: {
    name: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: 'medium',
      validator: inputSizeValidator,
    },
    resize: {
      type: [Boolean, String],
      default: false,
      validator(x) {
        return (
          [
            'auto',
            'both',
            'horizontal',
            'vertical',
            'none',
            true,
            false,
          ].indexOf(x) !== -1
        );
      },
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      inputValue: this.value,
      $_formEventTriggers: textareaEvents,
    };
  },
  validations() {
    return {
      inputValue: {
        required: requiredIf('required'),
      },
    };
  },
  computed: {
    resizeStyle() {
      if (typeof this.resize === 'boolean') {
        return this.resize ? { resize: 'auto' } : { resize: 'none' };
      }
      return { resize: this.resize };
    },
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
  },
  watch: {
    value(newValue) {
      this.inputValue = newValue;
      this.$emit('input', this.inputValue);
      this.$emit('validate');
      this.$v.inputValue.$touch();
    },
  },
  methods: {
    onInput($event) {
      this.$emit('input', $event.target.value);
      this.$emit('validate');
    },
  },
};
</script>

<style scoped>
.cs-textarea__textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 88px;
  padding: var(--cs-form-input-padding-y) var(--cs-form-input-padding-x);
  color: var(--cs-gray-07);
  background-color: var(--cs-gray-00);
  background-clip: padding-box;
  border: 1px solid;
  border-color: var(--cs-gray-02);
  border-radius: var(--cs-input-border-radius);
}

.cs-textarea__textarea--large {
  min-height: 166px;
}

.cs-textarea__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}

.cs-textarea__textarea:focus {
  outline: 0;
  border-color: var(--cs-gray-03);
}

.cs-textarea__textarea--disabled {
  background-color: var(--cs-gray-01);
  color: var(--cs-gray-04);
}

.cs-textarea__textarea--error,
.cs-textarea__textarea--error:focus {
  border-color: var(--cs-danger-base);
}

.cs-textarea__textarea--success,
.cs-textarea__textarea--success:focus {
  border-color: var(--cs-success-base);
}

.cs-textarea__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-textarea__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
