<template>
  <label
    class="cs-time-input"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <div v-if="label" class="cs-textstyle-label-text cs-time-input__label-text">
      {{ label }}
      <span v-if="required">*</span>
    </div>
    <div class="cs-time-input__background">
      <input
        v-model="$v.inputValue.$model"
        type="time"
        :name="name"
        :disabled="disabled"
        :required="required"
        :class="[
          'cs-time-input__textbox',
          {
            'cs-time-input__textbox--disabled': disabled,
            'cs-time-input__input--error': isInvalid,
            'cs-time-input__input--success': $v.inputValue.$dirty && isSuccess,
          },
          'cs-textstyle-input-text',
        ]"
        @input="updateValue($event.target.value)"
        v-on="$_formEvents"
      />
      <div class="cs-time-input__icon">
        <slot name="icon">
          <i :class="icon" />
        </slot>
      </div>
    </div>
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </label>
</template>

<script>
// TODO: Make Time Input more generic. Inconsistent in different browsers and doesn't align with our design

import { validationMixin } from 'vuelidate';
import { requiredIf } from 'vuelidate/lib/validators';
import { datetimeEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  mixins: [validationMixin, formEventsMixin],
  props: {
    name: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: 'Time',
    },
    value: {
      type: [Date, String, Number],
      default: () => new Date(),
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: 'cs-icons-clock',
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      inputValue: this.formattedTime(),
      $_formEventTriggers: datetimeEvents,
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
  },
  validations() {
    return {
      inputValue: {
        required: requiredIf('required'),
      },
    };
  },
  watch: {
    value() {
      this.inputValue = this.formattedTime();
      this.$emit('input', this.value);
      this.$emit('validate');
    },
  },
  methods: {
    updateValue(value) {
      this.$emit('input', value);
      this.$emit('validate');
    },
    formattedTime() {
      if (!Date.parse(this.value)) {
        return this.value;
      }
      const time = new Date(this.value).toTimeString();
      return time.slice(0, 8);
    },
  },
};
</script>

<style scoped>
.cs-time-input__label-text {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
.cs-time-input__background {
  position: relative;
  border-radius: var(--cs-input-border-radius);
  background-color: var(--cs-gray-00);
}

.cs-time-input__textbox {
  display: block;
  width: 100%;
  line-height: 1;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  padding: var(--cs-form-input-padding-y) var(--cs-form-input-padding-x);
  color: var(--cs-gray-07);
  background-color: transparent;
  background-clip: padding-box;
  border-radius: var(--cs-input-border-radius);
  border: 1px solid;
  border-color: var(--cs-gray-02);
}
.cs-time-input__textbox:focus {
  outline: 0;
  border-color: var(--cs-gray-03);
}

.cs-time-input__textbox--disabled {
  background-color: var(--cs-gray-01);
  color: var(--cs-gray-04);
}

.cs-time-input__icon {
  font-size: 24px;
  color: var(--cs-gray-03);
  position: absolute;
  top: 50%;
  right: var(--cs-form-input-padding-x);
  transform: translateY(-50%);
  pointer-events: none;
}
.cs-time-input__background:focus-within .cs-time-input__icon {
  color: var(--cs-gray-07);
}

/* Calendar Icon override Chrome/webkit default icon */
.cs-time-input__textbox::-webkit-inner-spin-button {
  display: none;
}
.cs-time-input__textbox::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 6px;
}

.cs-time-input__input--error,
.cs-time-input__input--error:focus {
  border-color: var(--cs-danger-base);
}

.cs-time-input__input--success,
.cs-time-input__input--success:focus {
  border-color: var(--cs-success-base);
}
.cs-time-input__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-time-input__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
