<template>
  <div class="cs-toggle-group">
    <div v-if="label" class="cs-toggle-group__label cs-textstyle-label-text">
      {{ label }}
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
    },
  },
};
</script>

<style scoped>
.cs-toggle-group {
  --cs-toggle-group-color: var(--cs-primary-base);
  color: var(--cs-gray-05);
}
.cs-toggle-group .cs-toggle {
  --cs-toggle-color: var(--cs-toggle-group-color);
}

.cs-toggle-group .cs-toggle label {
  padding: 0;
  margin-bottom: var(--cs-form-label-margin-y-bottom);
}
.cs-toggle-group__label {
  margin-bottom: var(--cs-form-label-margin-y-bottom);
  color: var(--cs-gray-05);
}
</style>
