<template>
  <div
    class="cs-toggle"
    :class="{ 'cs-toggle--disabled': disabled }"
    :valid="
      !invalid && !$v.inputValue.$error && (!required || $v.inputValue.required)
    "
    :invalid="invalid"
  >
    <label class="cs-toggle__label" role="checkbox">
      <input
        v-model="$v.inputValue.$model"
        type="checkbox"
        :required="required"
        :checked="value"
        :disabled="disabled"
        tabindex="-1"
        class="cs-toggle__input"
        :class="{
          'cs-toggle__input--error': isInvalid,
          'cs-toggle__input--success': $v.inputValue.$dirty && isSuccess,
        }"
        @change.stop="toggle"
        v-on="$_formEvents"
      />
      <span
        v-if="inputValue && (labelChecked || $slots['label-checked'])"
        class="cs-textstyle-input-text cs-toggle__label-text"
      >
        <slot name="label-checked">{{ labelChecked }}</slot>
        <span v-show="required"> *</span>
      </span>
      <span
        v-if="!inputValue && (labelUnchecked || $slots['label-unchecked'])"
        class="cs-textstyle-input-text cs-toggle__label-text"
      >
        <slot name="label-unchecked">{{ labelUnchecked }}</slot>
        <span v-show="required"> *</span>
      </span>
    </label>
    <cs-input-notes>
      <template v-if="$v.inputValue.$error">
        <cs-input-note
          v-if="!$v.inputValue.required"
          type="error"
          :label="requiredLabel"
          :icon="errorIcon"
        />
      </template>
      <slot name="input-notes" />
    </cs-input-notes>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { checkboxToggleEvents } from '@/utils/formevents';
import formEventsMixin from '@/mixins/formevents';

export default {
  name: 'Toggle',
  mixins: [validationMixin, formEventsMixin],
  props: {
    value: {
      type: Boolean,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    labelChecked: {
      type: String,
      default: '',
    },
    labelUnchecked: {
      type: String,
      default: '',
    },
    invalid: {
      type: Boolean,
      default: null,
    },
    success: {
      type: Boolean,
      default: null,
    },
    errorIcon: {
      type: String,
      default: 'cs-icons-error',
    },
    requiredLabel: {
      type: String,
      default: '* Required',
    },
  },
  data() {
    return {
      inputValue: this.value,
      $_formEventTriggers: checkboxToggleEvents,
    };
  },
  computed: {
    isInvalid() {
      return this.invalid || this.$v.inputValue.$error;
    },
    isSuccess() {
      return this.success && !this.isInvalid;
    },
  },
  validations() {
    return {
      inputValue: {
        required: (val) => (this.required ? !!val : true),
      },
    };
  },
  watch: {
    value() {
      this.inputValue = this.value;
      this.$emit('input', this.value);
      this.$emit('validate');
    },
  },
  methods: {
    toggle(event) {
      this.$emit('input', event.target.checked);
      this.$emit('validate');
    },
  },
};
</script>

<style scoped>
.cs-toggle {
  --cs-toggle-color: var(--cs-primary-base);
}
.cs-toggle--disabled {
  pointer-events: none;
}

.cs-toggle__label {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 6px 0;
  min-height: 22px;
}

.cs-toggle__input {
  display: inline-block;
  outline: none;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
}

/* Toggle */
/* Background */
.cs-toggle__input::before {
  content: ' ';
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  box-sizing: border-box;
  background-color: var(--cs-gray-00);
  border: solid 1px var(--cs-gray-02);
  border-radius: 11px;
  transition: background-color 0.3s;
}
/* Round Button */
.cs-toggle__input::after {
  content: ' ';
  cursor: pointer;
  display: block;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -1px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--cs-gray-01);
  border: 1px solid var(--cs-gray-02);
  box-shadow: 0px 1px 3px #0000001a;
  transition: transform 0.2s;
}
.cs-toggle__input:checked::before {
  background-color: var(--cs-toggle-color);
}
.cs-toggle__input:checked::after {
  /* width - height + 2 */
  transform: translateX(calc(49px - 22px + 2px));
}

/* Label */
.cs-toggle__label-text {
  color: var(--cs-gray-05);
  margin-left: calc(49px + 8px);
}

.cs-toggle__input:disabled::before {
  background-color: var(--cs-gray-02);
}

.cs-toggle__input--error::before {
  border-color: var(--cs-danger-base);
}

.cs-toggle__input-success::before,
.cs-toggle__input-success::before:focus {
  border-color: var(--cs-success-base);
}

.cs-toggle__error {
  color: var(--cs-danger-base);
}
.cs-form .cs-toggle__error::before {
  content: '\200b'; /* Used to create a min-height of an empty div */
}
</style>
