<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <cs-alert><p>Test</p></cs-alert>
    <cs-button>SDAS</cs-button>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1.brand {
  font-size: 40px;
  color: var(--cs-secondary);
}

h1 {
  color: var(--cs-primary);
}

body {
  background-color: #000000;
}
</style>
