<template>
  <div class="cs-file-preview">
    <div v-show="showHeader" class="cs-file-preview__link-wrapper">
      <slot name="link-icon">
        <i :class="[linkIcon, 'cs-file-preview__top-icon']"></i>
      </slot>
      <span
        class="cs-textstyle-detail-heading cs-file-preview__link-wrapper-label"
        >{{ attachmentLabel }}</span
      >
    </div>
    <div class="cs-file-preview__content" @click="showContent">
      <div class="cs-file-preview__icon-area">
        <slot name="file-icon">
          <i
            v-if="fileIcon"
            :class="[fileIcon, 'cs-file-preview__content__icon']"
          />
          <i
            v-else-if="fileExtension"
            :class="[fileExtension, 'cs-file-preview__content__icon']"
          />
          <i
            v-else
            class="cs-icons-doc-filled cs-file-preview__content__icon"
          />
        </slot>
      </div>
      <div class="cs-file-preview__text-area">
        <div
          class="cs-textstyle-detail-heading cs-file-preview__text-area-title"
        >
          {{ title }}
        </div>
        <div class="cs-file-preview__size cs-textstyle-tags">{{ getSize }}</div>
      </div>
      <div
        v-if="$slots['right-icon'] || rightIcon"
        class="cs-file-preview__icon-area"
      >
        <slot name="right-icon">
          <i :class="rightIcon"></i>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
const acceptMap = {
  'image/*': {
    icon: 'cs-icons-image-document',
  },
  'audio/*': {
    icon: 'cs-icons-audio-file-filled',
  },
  'video/*': {
    icon: 'cs-icons-video-file-filled',
  },
  'application/*': {
    icon: 'cs-icons-image-document',
  },
  '.pdf': {
    icon: 'cs-icons-pdf',
  },
  '.jpg': {
    icon: 'cs-icons-image-document',
  },
  'application/msword': {
    icon: 'cs-icons-word',
  },
  'text/plain': {
    icon: 'cs-icons-txt',
  },
  'application/pdf': {
    icon: 'cs-icons-pdf',
  },
  'application/vnd.ms-excel': {
    icon: 'cs-icons-excel',
  },
  'application/zip': {
    icon: 'cs-icons-zip',
  },
};
export default {
  props: {
    src: {
      type: String,
      default: null,
    },
    fileType: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    fileSize: {
      type: Number,
      default: 0,
    },
    attachmentLabel: {
      type: String,
      default: 'Attachment',
    },
    showHeader: {
      type: Boolean,
      default: true,
    },
    linkIcon: {
      type: String,
      default: 'cs-icons-link-filled',
    },
    fileIcon: {
      type: String,
    },
    rightIcon: {
      type: String,
    },
  },
  computed: {
    fileExtension() {
      if (!acceptMap[this.fileType]) return '';
      return acceptMap[this.fileType].icon;
    },
    getSize() {
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      if (!this.fileSize || this.fileSize < 0) return '0 bytes';
      const i = parseInt(
        Math.floor(Math.log(this.fileSize) / Math.log(1024)),
        10
      );
      if (i === 0) return `${this.fileSize} ${sizes[i]}`;
      return `${(this.fileSize / 1024 ** i).toFixed(1)} ${sizes[i]}`;
    },
  },
  methods: {
    showContent() {
      this.$emit('open');
      window.open(this.src, '_system');
    },
  },
};
</script>

<style scoped>
.cs-file-preview {
  display: flex;
  flex-direction: column;
}
.cs-file-preview__link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.cs-file-preview__link-wrapper-label {
  color: var(--cs-secondary-base);
}
.cs-file-preview__top-icon {
  color: var(--cs-danger-dark);
  margin-right: 5px;
  font-size: 14px;
}
.cs-file-preview__content {
  display: flex;
  cursor: pointer;
  background: var(--cs-gray-01);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--cs-gray-02);
}
.cs-file-preview__icon-area {
  color: var(--cs-gray-03);
  font-size: 30px;
}
.cs-file-preview__text-area {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 10px;
}
.cs-file-preview__text-area-title {
  word-break: break-word;
  color: var(--cs-secondary-base);
}
.cs-file-preview__size {
  color: var(--cs-gray-04);
}
@media (min-width: 768px) {
  .cs-file-preview__content__icon {
    font-size: 36px;
  }
}
</style>
