<template>
  <div v-if="src" class="cs-video-player">
    <video
      ref="videoplayer"
      controls
      class="cs-video-player__video"
      preload="metadata"
      :poster="picture"
      @play="onPlay"
      @pause="onPause"
      v-on="videoEvents"
    >
      <source :src="src" type="video/mp4" @error="onError" />
    </video>
    <div v-if="!played && !error" class="cs-video-player__icon" @click="play">
      <slot name="play-icon">
        <i :class="playIcon"></i>
      </slot>
    </div>
    <div v-if="error" class="cs-video-player__error">Error loading a video</div>
  </div>
</template>

<script>
export default {
  props: {
    picture: {
      type: String,
      default: null,
    },
    src: {
      type: String,
      default: null,
    },
    loadingErrorLabel: {
      type: String,
      default: 'Error loading a video',
    },
    playIcon: {
      type: String,
      default: 'cs-icons-audio-filled',
    },
  },
  data() {
    return {
      played: false,
      error: false,
      videoEvents: {
        canplay: this.onEvent,
        canplaythrough: this.onEvent,
        complete: this.onEvent,
        durationchange: this.onEvent,
        emptied: this.onEvent,
        ended: this.onEvent,
        loadeddata: this.onEvent,
        loadedmetadata: this.onEvent,
        pause: this.onEvent,
        play: this.onEvent,
        playing: this.onEvent,
        progress: this.onEvent,
        ratechange: this.onEvent,
        seeked: this.onEvent,
        seeking: this.onEvent,
        stalled: this.onEvent,
        suspend: this.onEvent,
        timeupdate: this.onEvent,
        volumechange: this.onEvent,
        waiting: this.onEvent,
      },
    };
  },
  watch: {
    src() {
      const embeddedVideo = this.$refs.videoplayer;
      embeddedVideo.load();
      this.error = false;
    },
  },
  methods: {
    play() {
      this.$refs.videoplayer.play();
    },
    onPlay() {
      this.played = true;
    },
    onPause() {
      this.played = false;
    },
    onEvent($event) {
      this.$emit($event.type, $event);
    },
    onError() {
      this.error = true;
      this.$emit('error', 'Problem loading video. Please provide valid source');
    },
    playVideo() {
      const embeddedVideo = this.$refs.videoplayer;
      embeddedVideo.play();
    },
  },
};
</script>

<style scoped>
.cs-video-player {
  position: relative;
}

.cs-video-player__video {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.cs-video-player__error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cs-gray-00);
  color: var(--cs-danger-base);
  padding: 6px;
  border-radius: 16px;
  font-size: var(--cs-font-size-100);
}

.cs-video-player__icon {
  position: absolute;
  font-size: var(--cs-font-size-500);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cs-gray-00);
  cursor: pointer;
}
</style>
